{% extends 'email_base.html' %}
{% block subject %}
Validate email address for {{site.name}}
{% endblock %}
{% block content %}
<h2>You requested to register to {{site.name}}</h2>
<p>Dear {{user.username}},</p>

<p>
  Your email address has been used on {{site.name}}. Please
  visit the url below:

  <a href="{{activate_url}}" style="display: block; margin-top: 10px;">{{activate_url}}</a>
</p>

<p style="margin-top: 20px;">
    <a href="{{activate_url}}" class="button">activate</a>
</p>
{% endblock %}
