{% extends "base.html" %}
{% load i18n wagtailimages_tags react_comments %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    {% include "home/includes/wagtail_hero_unit.html" with image=page.image title=page.translated_title %}
    <div class="container home-carousel">
          {% include "euth_projects/includes/project_carousel.html" with projects=page.featured_projects %}
    </div>
    <section class="page-body">
	{{ page.body }}
    </section>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
