{% extends "base.html" %}
{% load i18n wagtailimages_tags react_comments_async %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    {% include "home/includes/wagtail_hero_unit.html" with image=page.image title=page.translated_title videoplayer_url=page.videoplayer_url %}

    {% if page.featured_projects %}
    <div class="container">
        <h2 class="mt-3">{% trans 'Latest projects on OPIN' %}</h2>
    </div>
    <div class="home-carousel">
        <div class="container">
              {% include "euth_projects/includes/project_carousel.html" with projects=page.featured_projects %}
        </div>
    </div>
    {% endif %}
    <section class="page-body">
	{{ page.body }}
    </section>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
