{% extends "base.html" %}
{% load i18n wagtailimages_tags wagtailcore_tags %}

{% block title %}{{ page.translated_title }}{% endblock %}

{% block content %}
    <header class="herounit herounit-sm herounit-{{ page.color }}">
        <div class="container">
            <div class="herounit-header row">
                <div class="col-sm-9 offset-sm-3">
                    <h1 class="{% if page.document %}col-sm-7{% endif %}">
                        {% image page.image width-80 %}
                        {{ page.translated_title }}
                    </h1>
                    {% if page.document %}
                    {% if page.color == 'blue' %}
                    <div class="herounit-btn__download col-sm-4 ">
                        <a class="btn btn-dark-blue {% if page.image %} btn-round-hero-image {% else %} btn-round-hero {% endif %}" href="{{ page.document.url }}">
                            {% trans 'Download guidelines' %}
                        </a>
                    </div>
                    {% else %}
                    <div class="herounit-btn__download col-sm-4">
                        <a class="btn btn-primary {% if page.image %} btn-round-hero-image {% else %} btn-round-hero {% endif %}" href="{{ page.document.url }}">
                            {% trans 'Download guidelines' %}
                        </a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    {% include 'home/blocks/breadcrumb.html' with current_page=page %}

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2>{% trans 'Contents' %}</h2>
                <ul class="linklist">
                    {% for block in page.body %}
                        <li>
                            <a href="#{{ block.value.title|slugify }}">{{ block.value.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9">
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
