{% extends "base.html" %}
{% load i18n wagtailimages_tags wagtailcore_tags %}

{% block title %}{{ page.translated_title }}{% endblock %}

{% block content %}
    <header class="herounit herounit-sm herounit-{{ page.color }}">
        <div class="container">
            <div class="herounit-header">
                <h1>
                    {% image page.image width-80 %}
                    {{ page.translated_title }}
                </h1>
            </div>
        </div>
    </header>

    {% include 'home/blocks/breadcrumb.html' with current_page=page %}

    <div class="container">
        <div class="row">
            <div class="offset-sm-3 col-sm-9 col-md-6">
                <section class="page-body">
                {% for block in self.body %}
                    {% if block.block_type == 'heading' or block.block_type == 'paragraph' or block.block_type == 'rich_text' or block.block_type == 'image' %}
                    <div class="block-inner">
                        {% if block.block_type == 'image' %}
                             {% image block.value original class="img-fluid" %}
                        {% elif block.block_type == 'heading' %}
                            <h2>{{ block }}</h2>
                        {% else %}
                            {{ block }}
                        {% endif %}
                    </div>
                    {% else %}
                        {{ block }}
                    {% endif %}
                {% endfor %}
                </section>
            <div class="col-sm-9 col-md-6">
        </div>
    </div>

{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
