{% extends "base.html" %}
{% load i18n wagtailimages_tags wagtailcore_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <header class="herounit herounit-sm herounit-{{ page.color }}">
        <div class="container">
            <div class="herounit-header">
                <h1>
                    {% image page.image width-80 %}
                    {{ page.title }}
                </h1>
            </div>
        </div>
    </header>

    {% if self.get_ancestors|length > 1 %}
        <ul class=”breadcrumb”>

            {% for page in self.get_ancestors %}
                {% if page.is_root == False %}
                    <li><a href=”{% pageurl page %}”>{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}

            <li class=”active”>{{ self.title }}</li>

        </ul>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2>Contents</h2>
                {% for block in page.parent_page.body %}
                    <a href="#{{ block.value.title|slugify }}">{{ block.value.title }}</a>
                {% endfor %}
            </div>
            <div class="col-sm-6">
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
