{% extends "base.html" %}
{% load i18n wagtailimages_tags wagtailcore_tags %}

{% block title %}{{ page.translated_title }}{% endblock %}

{% block content %}
    <header class="herounit herounit-sm herounit-{{ page.color }}">
        <div class="container">
            <div class="herounit-header">
                <h1>
                    {{ page.translated_title }}
                </h1>
            </div>
        </div>
    </header>

    {% include 'home/blocks/breadcrumb.html' with current_page=page %}
    {% for block in self.body %}
    <section class="page-body">
    {% if block.block_type == 'highlighted_column_block' or block.block_type == 'column_cta_block' %}
      {{ block }}
    {% else %}
      <div class="container">
          <div class="row">
            {% if block.block_type == 'heading' or block.block_type == 'paragraph' or block.block_type == 'rich_text' or block.block_type == 'image' or block.block_type == 'accordion_block' %}
              <div class="offset-sm-3 col-sm-9 col-md-6">
                  <div class="block-inner">
                      {% if block.block_type == 'image' %}
                           {% image block.value original class="img-fluid" %}
                      {% elif block.block_type == 'heading' %}
                          <h2>{{ block }}</h2>
                      {% elif block.block_type == 'rich_text' or block.block_type == 'paragraph' %}
                          <div class="rich-text">{{ block }}</div>
                      {% else %}
                          {{ block }}
                      {% endif %}
                  </div>
              </div>
            {% else %}
              <div class="offset-md-1 col-md-10">
                {{ block }}
              </div>
            {% endif %}
          </div>
      </div>
    {% endif %}
    </section>
    {% endfor %}

{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
