{% extends 'euth_projects/project_detail.html' %}
{% load react_polls i18n react_comments_async %}

{% block phase_content %}
    <div class="container">
        <div class="container-medium">
            <div class="question-list">
                {% for question in question_list %}
                    {% react_polls question %}
                {% endfor %}
            </div>
            <div class="black-divider">
                {% trans 'Comments'%}
            </div>
            <div>
            {% react_comments_async object %}
            </div>
        </div>
    </div>
{% endblock %}
