.accordion-block {
    @include rem(margin-bottom, 40px);
    text-align: left;
    background: #F4F4F4;

    .panel {
        @include rem(margin-bottom, 9px);
    }

    .panel-body {
        a {
            color: $brand-brand2;
        }
    }

    .accordion-title {
        margin: 0;
        @include rem(padding, 30px 0);
        text-align: center;

        .accordion-link {
            @include rem(font-size, $font-size-medium);
            @include rem(padding, 20px 0);
            color: $black;
            display: block;
            font-family: $font-family-sans-serif;
            line-height: 1.2;
            text-decoration: none;

            &:after {
                content: "–";
                @include rem(font-size, $font-size-large);
                vertical-align: middle;
                @include rem(margin-left, 25px);
            }

            &.collapsed {
                border-color: $gray-light;
                background: transparent;
                color: #000;

                &:after {
                    content: "+";
                }
            }
        }
    }

    .panel-body {
        @include rem(padding-bottom, 105px);
        @include rem(font-size, $font-size-base);
        line-height: 1.75;
    }

    .rich-text {
        @include rem(padding-bottom, 10px);
    }
}
