.blueprint-list {
    display: flex;
    flex-wrap: wrap;
    @include rem(margin, 0 -15px);

    .blueprint-tile {
        flex-basis: 30%;
    }
}

.blueprint-list-centered {
    justify-content: center;

    .blueprint-tile {
        flex-basis: 42%;
        max-width: 42%;
        align-items: stretch;
    }
}

.blueprint-tile {
    @include rem(padding-top, 30px);
    border: solid 1px $gray-light;
    background-color: $brand-brand5;
    display: flex;
    @include rem(margin, 13px 1.5%);
    flex-direction: column;

    > h2 {
        text-align: center;
        @include rem(padding, 15px 0);
        margin: 0 0 0 0;
        color: #fff;
    }

    .blueprint-image {
        @include rem(height, 173px);
        @include rem(width, 260px);
    }
}

.blueprint-description {
    background-color: #fff;
    padding: 1em;
}

.blueprint-phases {
    background-color: #fff;
    flex-grow: 1;
    padding: 0 1em;
}

.blueprint-footer {
    background-color: #fff;
    text-align: center;
    padding: 1em;

    .btn-primary {
        white-space: normal;
    }

    .btn-link {
        display: block;
        margin: auto;
        @include rem(padding, 10px 0);
        font-weight: bold;
    }
}

.border-bottom {
    border-bottom: 1px solid $gray-light;
    @include rem(padding, 20px 0);
}

.dst-modal-infopage {
    h4 {
        @include rem(margin-bottom, 20px);
    }

    .modal-content {
        @include rem(width, 570px);
    }

    .blueprint-modal-image {
        border: 0;
        margin: 0;
        @include rem(padding-top, 30px);
        background-color: $brand-brand5;
        display: flex;
        flex-direction: column;

        > h2 {
            text-align: center;
            @include rem(padding, 15px 0);
            margin: 0 0 0 0;
            color: #fff;
        }

        > .blueprint-image {
            @include rem(height, 173px);
            @include rem(width, 260px);
            display: block;
            margin: auto;
        }
    }

    .blueprint-description > p {
        @include rem(margin-bottom, 20px);
        @include rem(margin-left, 35px);
        @include rem(margin-right, 35px);
    }

    .blueprint-phases .list-unstyled {
        display: inline-block;

        .phase-description {
            @include rem(width, 400px);
            display: flex;
        }

        .icon {
            flex: 0 0 auto;
            @include rem(margin-right, 10px);
            align-self: center;
        }

        .icon .fa-stack-1x.onlinephase {
            color: $brand-brand6;
        }

        .icon .fa-stack-2x.onlinephase {
            color: $brand-brand5;
        }

        .icon .fa-stack-1x.offlinephase {
            color: $gray;
        }

        .icon .fa-stack-2x.offlinephase {
            color: $gray-lighter;
        }

        .description {
            text-align: left;
            align-self: center;
        }
    }

    .blueprint-project {
        .project-tile {
            @include rem(width, 285px);
            @include rem(margin-left, 143px);
        }
    }

    .blueprint-effort {
        > span {
            display: block;
        }

        .box {
            background-color: $brand-brand5;
            border-radius: 5px;
            max-width: 50%;
            display: block;
            margin: auto;
            color: $brand-brand6;
            @include rem(font-size, 36px);
            font-weight: bold;
            @include rem(padding-top, 8px);
            @include rem(padding-bottom, 8px);
            @include rem(margin-bottom, 10px);
        }
    }

    .blueprint-guidelines {
        .inspirations {
            @include rem(padding-left, 160px);
            text-align: left;
        }

        .inspirations > a {
            text-decoration: underline;
        }
    }
}

.dst-tile {
    @extend .blueprint-tile;
    color: #fff;

    > img {
        @include rem(height, 173px);
        @include rem(width, 260px);
    }

    > h2 {
        @include rem(padding, 0 15px);
    }
}

.dst-description {
    > h3 {
        margin: 0;
    }

    @include rem(padding, 15px);
    flex-grow: 1;
}

.dst-footer {
    text-align: center;
    padding: 1em;
}

.dst-lightbox {
    margin-top: 80px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 24px;

    h2 {
        text-align: center;
    }

    .dst-lightbox-progress {
        position: relative;
        min-height: 40px;

        .progress {
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
        }
    }

    .blueprint-tile {
        padding: 0;

        .blueprint-image {
            margin: auto;
        }

        > .blueprint-phases {
            @include rem(padding-top, 10px);
        }
    }
}

.dst-lightbox-header {
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
    border-bottom: 1px solid $gray-light;
    font-weight: bold;
    color: $gray-darker;

    .dst-lightbox-button {
        color: $gray-darker;
        cursor: pointer;
    }

    .dst-lightbox-info {
        text-transform: uppercase;
    }
}

.dst-lightbox-entry {
    border-bottom: 1px solid $gray-light;
    margin-left: 15px;
    margin-right: 15px;

    ul {
        margin-top: 10px;
        color: $gray;
        padding-left: 20px;
    }
}

.dst-lightbox-lastentry {
    border-bottom: none;
}

h2.dst-lightbox-banner {
    @include rem(padding, 24px 0);
    margin: 0 -15px; /* work arround boostrap grid */
    background-color: $brand-brand3;
    color: #fff;
}

.dashboard-form-buttons {
    .dropdown-toggle {
        border-left: solid 1px #fff;
    }

    .dropdown-menu {
        .btn-hover-primary,
        .btn-hover-danger {
            background-color: #fff;
        }

        .btn {
            width: 100%;
            border: 0;
            text-align: left;
        }

        .dropdown-text {
            @include rem(padding-left, 10px);
        }
    }
}

.dst-result-layout {
    .blueprint-list {
        @include rem(margin, 20px 0);
    }
}
