.carousel {
    margin: 0;
    padding: 0;

    .carousel-item {
        position: relative;
        list-style-type: none;
        height: 200px;

        img {
            width: 100%;
        }
    }

    .carousel-text {
        bottom: 10px;
        position: absolute;
        right: 10px;
    }
}