.owl-carousel {
    position: relative;

    .owl-prev,
    .owl-next {
        @include rem(font-size, 40px);
        @include rem(margin-top, -20px);
        position: absolute;
        top: 50%;
    }

    .owl-next {
        @include rem(left, -50px);
    }

    .owl-prev {
        @include rem(right, -50px);
    }

    @media (max-width: $screen-sm-min) {
        .owl-prev,.owl-next {
            display: none;
        }
    }

    .project-tile {
        margin: 0;
    }

    .owl-stage-outer {
        overflow: visible;
    }

    .owl-item:not(.active) {
        opacity: 0.4;
    }
}
