.formset__form__category {
    position: relative;
}

.formset__template {
    display: none;
}

.formset__delete {
    @extend .sr-only;

    & ~ .category-formset__delete-label {
        position: absolute;
        right: 0.5em;
        top: 0.6em;
        color: $gray;
    }

    &:checked ~ label {
        color: $brand-danger;
    }

    &:checked ~ input {
        color: $brand-danger;
        text-decoration: line-through;
    }
}
