.category-form {
    position: relative;
    height: 47px;

    .category-text {
        padding-left: 63px;
    }

    .category__delete-label {
        @include rem(height, 48px);
        @include rem(padding, 12px 20px);

        color: white;
        position: absolute;
        margin: 0;
        left: 0;
    }

    .category__delete {
        @extend .sr-only;

        &:checked ~ input[type="text"] {
            text-decoration: line-through;
            color: $brand-danger;
        }
    }
}

.categories-form {
    @include rem(margin-bottom, 40px);
}

.formset__template {
    display: none;
}



.formset__form {
    position: relative;

    input {
        padding-right: 1.5em;
        width: 100%;
    }
}

.formset__template {
    display: none;
}

.formset__delete {

    & ~ .formset__delete-label {
        position: absolute;
        right: 0.5em;
        top: 0.6em;
        color: $gray;
    }

    &:checked ~ label {
        color: $brand-danger;
    }

    &:checked ~ input {
        color: $brand-danger;
        text-decoration: line-through;
    }
}


