.commentBox {
    @include rem(margin, 0px 134px 0px 134px);
    @include rem(padding-top, 35px);

    & .comments_login {
        @include rem(margin-top, 30px);
    }
    & textarea {
        border: 1px solid $warm-grey;
        border-radius: 0;
        -moz-border-radius: 0;
        @include rem(font-size, 14px);
    }
    & textarea:focus {
        border: 1px solid $warm-grey;
        border-radius: 0;
        -moz-border-radius: 0;
        @include rem(font-size, 14px);
    }
    & .comment {
        @include rem(margin-bottom, 88px);

        & .commentAuthor {
            color: $black;
            font-family: $font-family-sans-serif;
            text-align: justify;
            font-weight: bold;
            @include rem(font-size, 16px);
        }
        & .commentDeletedAuthor {
            color: $gray;
            font-family: $font-family-sans-serif;
            text-align: justify;
            @include rem(font-size, 16px);
        }
        & .comment-text {
            & p {
                font-family: $font-family-sans-serif;
                @include rem(font-size, 14px);
                @include rem(line-height, 1.6);
                text-align: justify;
                color: $text-grey;
            }
        }
        & .child_comments_list {
            margin: 0px 40px 0px 40px;
        }
        & .general-form {
            @include rem(margin-bottom, 88px);
        }

    }

    @media (max-width: $screen-sm-min) {
        margin: 0;
    }
}
.comment-list {
    @include rem('padding-top', 79px);
}
.comment {
    & .icon::before {
        display: inline-block;
        margin-right: .5em;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
    }
    & .nav {
        padding: 0;

        & .red {
            color: $brand-brand4;
        }
        & .green {
            color: $brand-brand3;
        }
        & .dark {
            color: $black;
        }
        & .light {
            color: $gray-light;
        }
        & .open a, & .open a:hover, & .open a:focus {
            background-color: white;
        }
        & li {
            & a {
                padding: 2px 14px 2px 0px;
                font-family: $font-family-sans-serif;
                @include rem(font-size, 14px);
                @include rem(line-height, 1.6);
                text-align: justify;
            }
            & a:hover {
                background-color: #fff;
                text-decoration: none;
            }
            & a:focus {
                background-color: #fff;
                text-decoration: none;
            }
            & .active {
                color: $gray-dark;
            }
        }
        & .dropdown {
            @extend .custom-dropdown;
        }
        & .dropdown-menu {
            @extend .custom-dropdown-menu;
        }
    }

    & .action-bar {
        & li {
            & a {
                font-weight: bold;
            }
        }
    }
}
