.comments_count {
	background-color: $gray-lighter;
	padding: 20px;
	text-transform: uppercase;
}

.commentBox {
	margin: 0px 30px 0px 30px;
	& .comments_login {
		margin-top: 30px;
	}
	& textarea {
		border: 1px solid $gray-light;
		border-radius: 0;
        -moz-border-radius: 0;
        margin-top: 30px;
	}

	& textarea:focus {
		border: 1px solid $gray-light;
		border-radius: 0;
        -moz-border-radius: 0;
        margin-top: 30px;
	}

	& .btn {
		border-radius: 0;
        -moz-border-radius: 0;
	}

	& .btn-primary {
		background-color: $brand-brand1;
		text-transform: uppercase;
	}

	& .comment {
		margin: 40px 0px 40px 0px;

		& .commentAuthor {
			color: $brand-brand1;
			text-transform: none;
			font-family: $font-family-sans-serif;
			@include rem(font-size, $font-size-large);
		}

		& .child_comments_list {
			margin: 0px 40px 0px 40px;
		}
	}
}