.general-form {

    .form-group {

        label {
            @include rem(font-size, 14px);
            @include rem(height, 19px);
            font-weight: bold;
            font-family: $font-family-sans-serif;
            @include rem(letter-spacing, -0.2px);
            color: $black;
        }

        .form-logo {
            .img-responsive {
                max-width: 40%;
            }
        }

        .form-control {
            border: 1px solid $warm-grey;
        }

        textarea {
            min-height: 6rem;
        }

        .form-control-upload {
            position: relative;
            display: block;

            .form-control-file {
                cursor: pointer;
                float: none;
                left: 0;
                position: absolute;
                opacity: 0;
                top: 0;
            }

            .btn {
                line-height: 65px;
            }

            .btn-default {
                @include rem(font-size, 30px);
                @include rem(width, 76px);
                background: $brand-success;
                border: 0;
                color: #fff;
            }

            .btn-danger {
                @include rem(font-size, 30px);
                @include rem(width, 76px);
                background: $brand-danger;
                border: 0;
                color: #fff;
            }

            .alert-info {
                clear: left;
                @include rem(margin-top, 20px);
            }

            .form-control {
                float: none;
            }

            .clear-image {
                display: none;
            }

            .clear-image:checked + img {
                opacity: 0.2;
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
            }

            @media (min-width: $screen-sm) {
                .input-group-btn {
                    position: absolute;
                    z-index: 10;
                    top: 0;
                    right: 0px;
                    width: auto;
                }
                &.col-sm-9 .input-group-btn {
                    right: 15px;
                }
            }
        }

        .upload-wrapper {
            position: relative;
            @include rem(margin-bottom, 20px);
            @include clearfix();
        }

        .input-group-btn .btn, .form-control {
            @include rem(height, 76px);
            border-radius: 0;
        }

        @include rem(margin-bottom, 40px);

    }

    .errorlist {
        @include rem(margin-top, 20px);
    }
}

.django-ckeditor-widget {
    width: 100%;

    .cke_top,
    .cke_bottom,
    .cke_toolgroup {
        box-shadow: none;
        background: #E7ECEE;
    }

    .cke_top {
        padding: 0;
    }

    .cke_toolbar {
        border-right: 1px solid #CED9DB;
    }

    a.cke_button {
        border-radius: 0;
        padding: 6px 8px;
    }

    a.cke_button_off:hover,
    a.cke_button_off:focus,
    a.cke_button_off:active,
    a.cke_button_disabled:hover,
    a.cke_button_disabled:focus,
    a.cke_button_disabled:active,
    a.cke_button_on {
        box-shadow: none;
        background: darken(#fff, 1%);
    }

    a.cke_button_on:hover,
    a.cke_button_on:focus,
    a.cke_button_on:active {
        box-shadow: none;
    }


    .cke_toolgroup {
        border: 0;
        border-radius: 0;
        margin: 0;
    }
}

.input-gigantic {
    @include rem(margin, 0 5px 40px 5px);
    position : relative;

    .input-gigantic-field {
        @include rem(height, 75px);
        @include rem(padding, 0 30px);
        border: 1px solid $gray-light;
        color: $black;
        display: block;
        font-size: $font-size-small;
        width: 100%;
    }

    .input-gigantic-icon {
        @include rem(font-size, 44px);
        @include rem(right, 21px);
        @include rem(top, 16px);
        position: absolute;
    }
}
