.general-form {

    & .form-group {

        & label {
            @include rem(font-size, 14px);
            @include rem(height, 19px);
            font-weight: bold;
            font-family: $font-family-sans-serif;
            @include rem(letter-spacing, -0.2px);
            color: $black;
        }

        & .form-control {
            border: 1px solid $warm-grey;
            border-radius: 0px;
            @include rem(min-height, 76px);
        }

        @include rem(margin-bottom, 40px);

    }

}