.euth-hero-unit {
    background-size: cover;
    text-align: center;
    min-height: 400px;
    position: relative;
    @include rem(padding, 40px 0);

    // centering the container vertically and horizontally
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        background: rgba(0,0,0,0.5);
        content: '\A';
        left: 0;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

}

.euth-hero-unit-logo {
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include rem(width, 90px);
    @include rem(height, 90px);
    @include rem(margin-bottom, 20px);
    background-color: #fff;
    border-radius: 50%;
    position: relative;

    .org-header & {
        @include rem(width, 150px);
        @include rem(height, 150px);
    }

    img {
        max-width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.org-header .euth-hero-unit-logo img {
    max-width: 70%;
}

.euth-hero-unit-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.euth-hero-unit-header {
    color: #fff;
    position: relative;
    z-index: 1;

    .m-dark-text {
        color: #000;
    }

    .button {
        @include rem(margin-top, 13px);
    }
}

.euth-hero-unit-title {
    @include rem(font-size, $font-size-xlarge);
    @include rem(margin, 0 0 20px 0);

    @media screen and (max-width: $screen-md-max) {
        @include rem(padding, 0 40px);
    }
}

.euth-hero-unit-description {
    @include rem(padding, 0 70px);
    line-height: 1.63;
    margin-bottom: 0;

    @media screen and (max-width: $screen-sm-max) {
        padding: 0;
    }
}

.euth-home-hero {
    border: solid 5px $brand-brand3;

    .euth-hero-unit-title {
        @include rem(font-size, 60px);
        @include rem(top, 163px);
        color: #fff;

        &:after {
            background: rgba(0, 0, 0, 0.5);
            content: '\A';
            left: 0;
            margin: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &:before {
            @include rem(height, 107px);
            @include rem(margin-bottom, 10px);
            background: url(../images/logo-white.png) no-repeat center top;
            background-size: contain;
            display: block;
            content: " ";
            .svgasimg & {
                background-image: url(../images/logo-white.svg);
            }
        }
    }
}

.euth-hero-unit-video {
    .close {
        position: absolute;
        top: -25px;
        right: -20px;
        font-size: 30px;
    }
}
