.idea-image {
    width: 100%;
    @include rem(margin-bottom, 36px);
}

.idea-title {
    h1 {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        color: $brand-brand1;
        @include rem(font-size, 28px);
        @include rem(line-height, 1);
        text-align: justify;
        @include rem(margin, 0px 0px 6px 0px);
        max-width: 70%;

        @media (max-width: $screen-sm-min) {
            max-width: none;
        }
    }
}

.idea-description {
    @include rem(margin, 43px 0px 85px 0px);

    p {
        font-family: $font-family-sans-serif;
        @include rem(font-size, 16px);
        @include rem(line-height, 1.6);
        color: $text-grey;
    }

    @media (max-width: $screen-sm-min) {
        @include rem(margin-bottom, 30px);
    }
}

.idea-body {
    position: relative;
}

.idea-rating {
    position: absolute;
    right: 0;
    top: 0;

    .idea-rating-btn {
        @include rem(margin-left, 7px);
        @include rem(padding, 0 13px);
        border: 1px solid $brand-success;
        color: $black;
        display: inline-block;
        line-height: 36px;
        cursor: default;

        i {
            color: $brand-success;

            span {
                font-family: $font-family-sans-serif;
            }
        }

        &.idea-rating-down {
            border-color: $brand-danger;

            i {
                color: $brand-danger;
            }

            &.is-selected {
                background: $brand-danger;
            }
            &.is-read-only {
                background: transparent;
                border: none;
                color: $brand-danger;
                i {
                    color: $brand-danger;
                }
            }
        }

        &.idea-rating-up {
            &.is-selected {
                background: $brand-success;
            }
            &.is-read-only {
                background: transparent;
                border: none;
                color: $brand-success;
                i {
                    color: $brand-success;
                }
            }
        }

        &.is-selected {
            &, i {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    @media (max-width: $screen-sm-min) {
        position: static;
        text-align: center;

        .idea-rating-up {
            margin-left: 0;
        }
    }
}

.idea-list {
    @include rem(padding-top, 82px);

    h2 {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        @include rem(font-size, 24px);
        text-align: justify;
        color: $black;
    }

    .idea-list-description {
        font-family: $font-family-sans-serif;
        @include rem(font-size, 18px);
        @include rem(line-height, 1.6);
        text-align: justify;
        color: $black;
    }

    .badge-group {
        @include rem(margin-bottom, 50px);
    }
}

.idea-list-tile {
    @extend .tile-list;

    .idea-tile-image-link {
        @extend .tile-image-link;
        background-color: $brand-brand1;
        bottom: 0;
        height: auto;
        @media (max-width: $screen-sm-min) {
            position: static;
            display: block;
            width: 100%;
            height: 150px;
        }
    }

    .idea-comments-count {
        @inclue rem(font-size, 14);
        @inclue rem(line-height, 1.6);
        @inclue rem (letter-spacing, -0.2px);
        text-align: justify;
        @include rem(line-height, 1.8);
    }

    .idea-tile-body {
        @include rem(margin-left, $tile-list-thumbnail-size);
        @include rem(padding, 24px 43px 0 28px);
        border: none;

        @media (max-width: $screen-sm-min) {
            @include rem(padding, 12px 24px);
            margin: 0;
        }

        h3 {
            @include rem(font-size, 28px);
            margin: 0;
            padding: 0;
            line-height: 1.17;

            @media (max-width: $screen-sm-min) {
                @include rem(font-size, $font-size-medium);
            }

            a {
                color: $black;
                text-decoration: none;
            }
        }

        .idea-meta {
            text-align: right;

            @media (max-width: $screen-sm-min) {
                display: flex;
                flex: 0 0 auto;
                justify-content: space-between;
                @include rem(margin-bottom, 10px);
            }
            @media (min-width: $screen-sm-min) {
                padding-right: 0;
            }

            .idea-meta-item {
                @include rem(margin-right, 15px);
                white-space: nowrap;

                &.idea-upvotes i {
                    color: $brand-success;
                }

                &.idea-downvotes i {
                    color: $brand-danger;
                }

                &:last-child {
                    margin-right: 0;
                }

                @media (max-width: $screen-sm-min) {
                    @include rem(font-size, $font-size-small);
                    @include rem(margin-right, 5px);
                }
            }
        }

    }

    .idea-date {
        font-weight: normal;
        white-space: nowrap;
    }
}

.idea-list-button {
    @extend .idea-list-tile;
    display: block;
    @include rem(font-size, $font-size-large);
    background: transparent;
    border: 2px solid $brand-success;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    color: $black;
    -webkit-box-shadow: none;
    box-shadow: none;

    @media (max-width: $screen-xs) {
        @include rem(font-size, $font-size-medium);
    }

    .idea-list-button-icon {
        @include rem(height, $tile-list-thumbnail-size);
        @include rem(width, $tile-list-thumbnail-size);
        background: $brand-success;
        color: #fff;
        float: left;

        @media (max-width: $screen-xs) {
            // -2px border
            width: $tile-list-thumbnail-size - 20px - 2px;
        }

        &:before {
            @include rem(font-size, 50px);
        }
    }

    &, .idea-list-button-icon:before {
        line-height: $tile-list-thumbnail-size;
    }
}

.proposals-project {
    @include rem(margin-bottom, 30px);
}
