.idea-image {
    width: 100%;
    @include rem(margin-bottom, 36px);
}

.idea-title {
    h1 {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        color: $brand-brand1;
        @include rem(font-size, 28px);
        @include rem(line-height, 1);
        text-align: justify;
        @include rem(margin, 0px 0px 6px 0px);
    }
}

.idea-description {
    @include rem(margin, 43px 0px 85px 0px);

    p {
        font-family: $font-family-sans-serif;
        @include rem(font-size, 16px);
        @include rem(line-height, 1.6);
        color: $text-grey;
    }
}

.idea-list {
    @include rem(padding-top, 82px);

    h2 {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        @include rem(font-size, 24px);
        text-align: justify;
        color: $black;
    }

    .idea-list-description {
        font-family: $font-family-sans-serif;
        @include rem(font-size, 18px);
        @include rem(line-height, 1.6);
        text-align: justify;
        color: $black;
        @include rem(margin-bottom, 86px);
    }
}

.idea-list-tile {
    @extend .tile-list;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
    @include rem(margin, 0 10px 10px 0);
    @include rem(padding, 24px 30px);

    .idea-tile-image-link {
        @extend .tile-image-link;
        background-color: $brand-brand1;
    }

    .idea-comments-count {
        @inclue rem(font-size, 14);
        @inclue rem(line-height, 1.6);
        @inclue rem (letter-spacing, -0.2px);
        text-align: justify;
        @include rem(line-height, 1.8);
    }

    .idea-tile-body {
        border: none;
        @include rem(padding, 0px 20px 0px 0px);

        h3 {
            margin: 0;
            padding: 0;
            @include rem(font-size, 24px);

            a {
                font-family: $font-family-sans-serif;
                font-weight: bold;
                @include rem(line-height, 1.8);
                text-align: justify;
                color: $black;
                text-decoration: none;
                text-transform: none
            }
        }

        .idea-meta {
            padding-right: 0;

            .idea-meta-item {
                @include rem(margin-right, 15px);

                &.idea-upvotes i {
                    color: $brand-success;
                }

                &.idea-downvotes i {
                    color: $brand-danger;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }

    .idea-date {
        font-weight: normal;
    }
}
