.label {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
}

.label-secondary {
    @include label-variant($brand-brand2);
    color: $black;
}
