.label {
    @include rem(padding, 4px 10px);
    @include rem(font-size, $font-size-small);
    font-style: italic;
    text-transform: uppercase;
    @include rem(letter-spacing, -0.2px);
    border-radius: 100px;
    font-weight: bold;
    line-height: 2;
}

.label-private {
    background-color: $brand-brand1;
    text-transform: uppercase;
}

.label-runningout {
    background-color: $brand-danger;
}

.label-finished {
    background-color: $brand-brand2;
    color: $gray-darker;
    text-transform: uppercase;
}

.label-archived {
    background-color: $gray;
    color: #fff;
    text-transform: uppercase;
}

.label-type {
    background-color: $black;
}

.label-secondary {
    @include label-variant($brand-brand2);
    color: $black;
}

.label-xs {
    @include rem(padding, 2px 4px);
    @include rem(margin-top, -1px);
    @include rem(font-size, 10px);
    border-radius: 2px;
    line-height: 1;
}

.label-subtle {
    border-radius: 5px;
    text-transform: none;
    background-color: $gray-lighter;
    color: $gray-darker;
    @include rem(font-size, 10px);
    @include rem(padding, 2px 4px);
    font-weight: 600;
    font-style: normal;
}
