#main-menu {
    // Height is set in bootstrap_variables
    .navbar-brand {
        @include rem(font-size, 14px);
        @include text-hide;
        background: url(../images/logo.png) no-repeat left center;
        width: 47px;

        .svgasimg & {
            background-image: url(../images/logo.svg);
        }
    }

    a, button {
        @include rem(padding-left, 40px);
        color: #000;
        font-weight: bold;
        padding-right: 0;
        text-transform: uppercase;

        &:hover, &:focus, &.is-active {
            background-color: transparent;
            color: $brand-brand1;
        }
    }

    .dropdown-menu a,
    .dropdown-menu button {
        @include rem(padding-left, 20px);

        @media (max-width: $screen-sm-min) {
            @include rem(margin-left, 40px);
        }
    }

    #language-selector {
        a {
            color: $brand-brand2;
        }
    }

    #user-indicator {
        > li > a {
            margin-left: 40px;
            min-width: 180px;
            position: relative;

            .inner {
                border: 2px solid $brand-brand1;
                display: block;
                left: 0;
                padding: 10px;
                position: absolute;
                top: 15px;
                white-space: nowrap;

                @media (max-width: $screen-sm-min) {
                    border: none;
                    display: inline-block;
                    padding: 0;
                    position: static;
                }
            }

            @media (max-width: $screen-sm-min) {
                margin-left: 0;
            }
        }
    }
}

body {
    @include rem(padding-top, $navbar-height);
}
