.org-header {
    @extend .euth-hero-unit;
}

.org-tile {
    @extend %tile;
    position: relative;

    &:nth-child(3) {
        margin-right: 0;
    }
}

.org-grid {
    .col-sm-4 {
        @include rem(padding, 0 5px 10px 5px);
    }

    .col-sm-4:nth-child(3n+1){
        clear: left;
    }
}

.org-tile-title {
    @extend %tile-title;
    text-align: center;

    a {
        color: $gray-dark;
        padding-right: 0;
        text-decoration: none;

        &:hover, &:focus {
            background-color: transparent;
            color: $brand-brand1;
        }
    }
}

.org-description {
    line-height: 1.57;
    margin-bottom: 0;
}

.org-tile-location {
    @extend %tile-location;
}

.org-logo {
    @extend .euth-hero-unit-logo;
}

.org-tile-teaser {
    @extend %tile-teaser-text;
}

.org-title {
	@include rem(padding-top, 80px);
}

.org-projects {
	border-top: 1px solid #eeeeee;
	@include rem(padding-top, 80px);
}

.org-tile-body {
    @include rem(padding, 30px 50px 58px);
    min-height: 290px;
}

.org-tile-image-link {
    @include aspect-ratio(35, 26);
    background-color: $brand-brand1;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    text-align: center;

    &:after {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid #fff;
        bottom: 0;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        width: 0;
    }

    img {
        @include rem(margin-left, -75px);
        @include rem(margin-top, -75px);
        max-width: 150px;
        left: 50%;
        position: absolute;
        top: 50%;
    }

    @media (max-width: $screen-sm-min) {
        padding: 0;
    }
}

.org-badge {
    font-size: $font-size-medium;

    .org-badge-image {
        display: block;
        margin: 0 auto;
    }

    &, .org-badge-image {
        @include rem(margin-bottom, 20px);
    }
}
