.org-page {
    h2, h3 {
        text-align: center;
    }
}

.org-header {
    @extend .euth-hero-unit;
}

.org-tile {
    @extend %tile;
    @include rem(padding, 18px 14px);
    margin-right: 0;
    position: relative;
}

.org-tile-title {
    @extend %tile-title;

    a {
        color: $gray-dark;
        padding-right: 0;
        text-transform: uppercase;
        text-decoration: none;
        &:hover, &:focus {
            background-color: transparent;
            color: $brand-brand1;
        }
    }
}

.org-description {
    @include rem(margin-bottom, 40px);
}

.org-logo {
    @extend .euth-hero-unit-logo;
}

.org-tile-teaser {
    @extend %tile-teaser-text;
}

.org-title {
	@include rem(padding-top, 80px);
}

.org-projects {
	border-top: 1px solid #eeeeee;
	@include rem(padding-top, 80px);
}

.org-tile-body {
    padding-left: 0;
}

.org-tile-image-link {
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
}