@media (max-width: $screen-xs) {

    #project-tile-grid[data-columns]::before {
    content: '1 .project-tile-container.size-1of1';
    }
}

@media (min-width: $screen-xs + 1) and (max-width: $screen-sm-max) {

    #project-tile-grid[data-columns]::before {
    content: '2 .project-tile-container.size-1of2';
    }
}

@media (min-width: $screen-md-min) {

    #project-tile-grid[data-columns]::before {
    content: '4 .project-tile-container.size-1of4';
    }
}

.project-tile-container {
    float: left;
}

.project-list-tile {
    @extend .tile-list;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.1);


    .project-tile-image-link {
        @extend .tile-image-link;
    }

    .project-tile-body {
        border: none;
        @include rem(padding, 0px 107px 0px 0px);

    }
}

.project-tile {
    @extend %tile;
    min-height: 470px;
    position: relative;
    @include rem(padding-bottom, 50px);
    margin: 0 10px 10px 0;

    img {
        margin: 0;
    }

    &.public .project-tile-image-link {
        border: solid 5px $brand-brand3;
    }
    &.private .project-tile-badge {
        background-color: $brand-brand1;
        text-transform: uppercase;
    }
    &.private .project-tile-image-link {
        border: solid 5px $brand-brand1;
    }
    &.running-out .project-tile-badge {
        background-color: #c8423a;
    }
    &.running-out .project-tile-image-link {
        border: solid 5px #c8423a;
    }
    &.no-image .project-tile-image-link img {
        width: 100%;
    }

    .project-tile-org-avatar {
        border-radius: 50%;
    }

    &.style-idea-collection {
        .project-tile-image-link {
            background-color: $brand-brand1;
        }

        .project-tile-title {
            a {
                text-decoration: none;
                color: $brand-brand1;
            }
        }
    }

    &.style-commenting-text {
        .project-tile-image-link {
            background-color: $brand-brand3;
        }

        .project-tile-title {
            a {
                text-decoration: none;
                color: $brand-brand3;
            }
        }
    }

    &.style-mobile-polling {
        .project-tile-image-link {
            background-color: $brand-brand4;
        }

        .project-tile-title {
            a {
                text-decoration: none;
                color: $brand-brand4;
            }
        }
    }
}

.project-tile-body {
    @include rem(padding, 16px);
    border-top: 1px solid $gray-lighter;
}

.project-tile-type {
    @include rem(font-size, $font-size-small);
    @include rem(margin, 0 0 5px);
    font-style: italic;
    font-weight: bold;
}

.project-tile-title {
    @extend %tile-title;
}

.project-tile-teaser {
    @extend %tile-teaser-text;
}

.project-tile-image {
    visibility: hidden;
}

.project-tile-image-link {
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: block;
}

.project-tile-org {
    @extend %tile-org;
}

.size-1of4 {
    width: 25%;
}

.size-1of3 {
    width: 33.333%;
}

.size-1of2 {
    width: 50%;
}

.project-other-projects {

    & .black-divider {
        @include rem(margin, 224px 0px 10px 0px);

        & .black-divider-text {
            text-align: center;

        }
    }
}
