#project-tile-grid[data-columns]::before {
    content: '3 .project-tile-container.size-1of3';
}

.project-tile-container {
    float: left;
}

.project-tile {
    @extend %tile;

    img {
        margin: 0;
    }

    &.style-idea-collection {
        .project-tile-image-link {
            background-color: $brand-brand1;
        }

        .project-tile-title {
            color: $brand-brand1;
        }
    }

    &.style-commenting-text {
        .project-tile-image-link {
            background-color: $brand-brand3;
        }

        .project-tile-title {
            color: $brand-brand3;
        }
    }

    &.style-mobile-polling {
        .project-tile-image-link {
            background-color: $brand-brand4;
        }

        .project-tile-title {
            color: $brand-brand4;
        }
    }
}

.project-tile-body {
    @include rem(padding, 16px);
    border-top: 1px solid $gray-lighter;
}

.project-tile-type {
    @include rem(font-size, $font-size-small);
    @include rem(margin, 0 0 5px);
    font-style: italic;
    font-weight: bold;
}

.project-tile-title {
    @extend %tile-title;
}

.project-tile-teaser {
    @extend %tile-teaser-text;
}

.project-tile-image {
    visibility: hidden;
}

.project-tile-image-link {
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: block;
}

.project-tile-org {
    @include rem(margin-top, 19px);
    @include rem(padding-top, 18px);
    border-top: 1px solid $gray-lighter;
    display: table;
    overflow: hidden;
    width: 100%;

    .project-tile-org-img-container {
        @include rem(padding-right, 15px);
    }

    .project-tile-org-img-container,
    .project-tile-org-title {
        display: table-cell;
        vertical-align: middle;
    }


    .project-tile-org-title {
        @include rem(font-size, 16px);
        color: $gray;
        font-weight: bold;
    }
}

.size-1of4 {
    width: 25%;
}

.size-1of3 {
    width: 33.333%;
}

.size-1of2 {
    width: 50%;
}
