@media (max-width: $screen-xs) {

    #project-tile-grid[data-columns]::before {
    content: '1 .project-tile-container.size-1of1';
    }
}

@media (min-width: $screen-xs + 1) and (max-width: $screen-sm-max) {

    #project-tile-grid[data-columns]::before {
    content: '2 .project-tile-container.size-1of2';
    }
}

@media (min-width: $screen-md-min) {

    #project-tile-grid[data-columns]::before {
    content: '4 .project-tile-container.size-1of4';
    }
}

.project-tile-container {
    float: left;
}

.project-tile {
    @extend %tile;
    min-height: 390px;
    display: flex;
    flex-direction: column;
    height: 100%;

    img {
        margin: 0;
    }

    &.public .project-tile-image-link {
        border: solid 5px $brand-brand3;
    }
    &.private .project-tile-badge {
        background-color: $brand-brand1;
        text-transform: uppercase;
    }
    &.private .project-tile-image-link {
        border: solid 5px $brand-brand1;
    }
    &.running-out .project-tile-badge {
        background-color: #c8423a;
    }
    &.running-out .project-tile-image-link {
        border: solid 5px #c8423a;
    }
    &.no-image .project-tile-image-link {
        background-position: 50% 50%;
        background-size: 150px;
        height: 173px;
        background-color: $brand-brand2;
    }
    &.no-image .project-tile-image-link img {
        display: block;
        height: 163px;
        margin: 0 auto;
    }

    .project-tile-org-avatar {
        border-radius: 50%;
    }

    &.style-idea-collection {
        .project-tile-image-link {
            background-color: $brand-brand1;
        }

        .project-tile-title {
            a {
                text-decoration: none;
                color: $brand-brand1;
            }
        }
    }

    &.style-commenting-text {
        .project-tile-image-link {
            background-color: $brand-brand3;
        }

        .project-tile-title {
            a {
                text-decoration: none;
                color: $brand-brand3;
            }
        }
    }

    &.style-mobile-polling {
        .project-tile-image-link {
            background-color: $brand-brand4;
        }

        .project-tile-title {
            a {
                text-decoration: none;
                color: $brand-brand4;
            }
        }
    }
}

.project-tile-badge {
    border-radius: 100px;
    @include rem(padding, 4px 20px);
    position: absolute;
    @include rem(left, 27px);
    @include rem(bottom, 10px);
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    line-height: 2;
    letter-spacing: -0.2px;
}

.project-tile-body {
    @include rem(padding, 16px);
    border-top: 1px solid $gray-lighter;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-tile-type {
    @include rem(font-size, $font-size-small);
    @include rem(margin, 0 0 5px);
    font-style: italic;
    font-weight: bold;
}

.project-tile-title {
    @extend %tile-title;
}

.project-tile-teaser {
    @extend %tile-teaser-text;
    flex: 1 0 auto;
}

.project-tile-image {
    visibility: hidden;
}

.project-tile-image-link {
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: block;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.project-tile-org {
    @extend %tile-org;
}

.size-1of4 {
    width: 25%;
}

.size-1of3 {
    width: 33.333%;
}

.size-1of2 {
    width: 50%;
}

.project-other-projects {

    & .black-divider {
        @include rem(margin, 224px 0px 10px 0px);

        & .black-divider-text {
            text-align: center;

        }
    }
}

.projects-list {
    @include rem(margin-top, 20px);

    ul {
        @include rem(margin, 20px 0);
        padding-left: 0;
    }
}

.project-tile-list {
    @include rem(padding, 50px 40px)
}
