{% extends "account/signup.html" %}

{% load i18n %}

{% block form %}
<form class="skinny-form-inner" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
{% endblock %}

{% block help_text %}
<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}} but the connected emailaddress of this account is already in use on this platform. You can either login with this emailaddress and connect your account to {{provider_name}} or fill in the form underneath. {% endblocktrans %}</p>
{% endblock %}

{% block socialaccounts %}
{% endblock %}
