{% load i18n wagtailimages_tags static %}
<section class="panel-group accordion accordion-content accordion-block block" role="tablist" aria-multiselectable="true">
    {% for item in self.accordion_items %}
    <div class="card card-default">
        <div class="card-header" role="tab" id="headingOne">
            <h3 class="accordion-title">
                <a class="accordion-link collapsed" role="button" data-toggle="collapse" data-parent=".accordion-block" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                    {{ item.title }}
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
            <div class="card-body">
                {{ item.content }}
            </div>
        </div>
    </div>
    {% endfor %}
</section>
