{% load i18n wagtailimages_tags %}
<section class="contact-block block m-highlight">
    <div class="container">
        <div class="container-narrow">
            <h2 class="block-title">{{ self.title }}</h2>
            <form action="" class="form-horizontal">
                <div class="form-group">
                    <label for="name" class="col-sm-3 col-form-label">{{ self.name_label }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 col-form-label">{{ self.email_label }}</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="subject" class="col-sm-3 col-form-label">{{ self.subject_label }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="subject">
                    </div>
                </div>
                <div class="form-group">
                    <label for="subject" class="col-sm-3 col-form-label">{{ self.message_label }}</label>
                    <div class="col-sm-9">
                        <textarea rows="4" class="form-control" id="message"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="offset-sm-2 col-sm-9">
                        <button type="submit" class="button">{{ self.submit_label }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
