{% load i18n wagtailimages_tags static %}
{% if self.highlight == "highlight" %}
<div class="info-block block m-highlight">
{% elif self.highlight == "boxed" %}
<div class="info-block block m-boxed">
{% else %}
<div class="info-block block">
{% endif %}
    <div class="container">
    	<div class="container-inner">
            {% if self.title %}
    	    <h1 class="block-title">{{ self.title }}</h1>
            {% endif %}

    	    {% if self.image.width > 0 %}
    	       {% image self.image width-900 class="info-box-image img-responsive info-img" %}
    	    {% endif %}

            {% if self.text %}
    	    <p class="info-box-text">{{ self.text }}</p>
            {% endif %}

            {% if self.button.internal_link %}
                <a class="button" href="{{ self.button.internal_link }}">{{ self.button.link_text}}</a>
            {% elif self.button.external_link %}
                <a class="button" href="{{ self.button.external_link }}">{{ self.button.link_text}}</a>
            {% endif %}
    	</div>
    </div>
</div>
