{% load i18n wagtailimages_tags static %}
<div class="info-div" style="background-color:{{ self.background_colour }}">

    <h3><font color="{{ self.font_colour }}">{{ self.heading }}</font></h3>

    {% if self.image.width > 0 %}
       {% image self.image width-900 class="img-responsive info-img" %}
    {% else %}
		{{ self.embedded_video }}
    {% endif %}

    <p><font color="{{ self.font_colour }}">{{ self.text }}</font></p>
	<button href={{ self.internal_link }} class="start-now"></button>
</div>
