{% load i18n wagtailimages_tags base_tags %}
<section class="inline-images-block block">
<div class="container">
    <div class="container-narrow">
    {% for item in self.inline_images %}
        <div class="col-md-{{self.columns}} inline-images-block-col {{ self.columns|clear_class:forloop.counter }}">
            <figure class="{{ item.no_border|border_class }}">
            {% if item.internal_link %}
            <a href="{{ item.internal_link.url }}">
            {% endif %}
                <div class="img-container">{% image item.image width-900 class="img-responsive" %}</div>
                <figcaption class="inline-images-text">{{ item.link_text }}</figcaption>
            {% if item.internal_link %}
            </a>
            {% endif %}
            </figure>
        </div>
    {% endfor %}
</div>
</section>
