{% load i18n wagtailimages_tags %}

<div class="row">
 
      <div class="col-md-6">
		  {% if self.left_column.width > 0 %}
             {% image self.left_column width-900 class="img-responsive" %}
          {% else %}
             {{ self.left_column }}
          {% endif %}
      </div>
      <div class="col-md-6">
		  {% if self.right_column.width > 0 %}
             {% image self.right_column width-900 class="img-responsive" %}
          {% else %}
             {{ self.right_column }}
          {% endif %}
     </div>
 
</div>
