.accordion {
    text-align: left;
    background: #f4f4f4;

    .panel {
        @include rem(margin-bottom, 9px);
    }

    .card-body {
        a {
            color: $brand-brand2;
        }
    }

    .accordion-title {
        margin: 0;
        @include rem(padding, 5px 0);
        text-align: center;

        i {
            position: absolute;
            right: 1em;
            transition: transform 0.3s;
        }
    }

    .accordion-link {
        @include rem(font-size, $font-size-small);
        @include rem(padding, 20px 20px);
        position: relative;
        color: $gray-darker;
        display: block;
        font-family: $font-family-sans-serif;
        line-height: 1.2;
        text-decoration: none;

        &:after {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -14px;
        }

        &.collapsed {
            border-color: $gray-light;
            background: transparent;
            color: #000;
        }
    }

    .card-body {
        @include rem(padding-bottom, 50px);
        @include rem(font-size, $font-size-base);
        line-height: 1.75;
    }

    .rich-text {
        @include rem(padding-bottom, 10px);
    }
}

.accordion-content {
    background: transparent;

    .accordion-link,
    .card-body {
        background: $brand-brand1;
        color: #fff;
    }

    .accordion-title {
        padding: 0;
        text-align: left;

        .accordion-link {
            &.collapsed:hover {
                color: #000;
            }
        }

        a:hover {
            color: #fff;
        }
    }

    .accordion-link {
        @include rem(font-size, $font-size-medium);
        @include rem(padding, 15px 50px 12px 15px);
        border: 1px solid $brand-brand1;
        position: relative;
        color: #fff;

        &[aria-expanded="true"] i {
            transform: rotate(180deg);
        }
    }

    .card-body {
        @include rem(padding, 0 22px 22px 22px);
    }
}
