.accordion-block {
    @include rem(margin-bottom, 40px);
    text-align: left;

    background: #f4f4f4;

    .panel {
        @include rem(margin-bottom, 9px);
    }

    .panel-body {
        a {
            color: $brand-brand2;
        }
    }

    .accordion-title {
        margin: 0;
        @include rem(padding, 5px 0);
        text-align: center;
    }

    .accordion-link {
        @include rem(font-size, $font-size-medium);
        @include rem(padding, 20px 0);

        display: block;

        color: $gray-darker;

        font-family: $font-family-sans-serif;
        line-height: 1.2;
        text-decoration: none;

        &:after {
            content: "–";
            @include rem(font-size, $font-size-large);
            @include rem(margin-left, 20px);
        }

        &.collapsed {
            color: #000;

            border-color: $gray-light;

            background: transparent;
        }

        &.collapsed:after {
            content: "+";
        }
    }

    .panel-body {
        @include rem(padding-bottom, 50px);
        @include rem(font-size, $font-size-base);
        line-height: 1.75;
    }

    .rich-text {
        @include rem(padding-bottom, 10px);
    }
}

.accordion-content {
    background: transparent;

    .accordion-link,
    .panel-body {

        color: #fff;

        background: $brand-brand1;
    }

    .accordion-title {
        padding: 0;

        text-align: left;
    }

    .accordion-link {
        @include rem(font-size, $font-size-large);
        @include rem(padding, 22px 30px 15px 22px);

        position: relative;

        color: #fff;

        border: 1px solid $brand-brand1;

        &:after {
            @include rem(right, 22px);
            @include rem(top, 22px);

            position: absolute;

            content: "x";
        }
    }

    .panel-body {
        @include rem(padding, 0 22px 22px 22px);
    }
}
