.badge {
    @include rem(padding, 4px 20px);
    @include rem(font-size, 12px);
    font-style: italic;
    @include rem(letter-spacing, -0.2px);

    &.private {
        background-color: $brand-brand1;
        text-transform: uppercase;
    }

    &.running-out {
        background-color: $brand-danger;
    }

    &.finished {
        background-color: $brand-brand2;
        color: $gray-darker;
        text-transform: uppercase;
    }

    &.type {
        background-color: $black;
    }
}

.badge-group {
    @include rem(margin-bottom, 50px);
}
