.slick-slider {
    position: relative;

    .slick-prev,
    .slick-next {
        @include rem(font-size, 40px);
        @include rem(margin-top, -20px);
        position: absolute;
        top: 50%;
        z-index: 1;
        opacity: 0;
        background-color: transparent;
        border: 0;

        transition: opacity, 0.3s;
    }

    .slick-prev {
        @include rem(left, -70px);
    }

    .slick-next {
        @include rem(right, -70px);
    }

    &:hover {
        .slick-prev,
        .slick-next {
            opacity: 1;
        }

        .slick-prev.slick-disabled,
        .slick-next.slick-disabled {
            opacity: 0;
        }
    }

    @media (max-width: $screen-md-min) {
        .slick-prev,
        .slick-next {
            display: none;
        }
    }

    .slick-slide {
        margin: 0 10px;
    }


    .slick-list {
        overflow: visible;
        @include rem(padding, 20px 0 30px);

        @media (max-width: $screen-md-min) {
            overflow: hidden;
        }
    }

    .slick-slide:not(.slick-active) {
        opacity: 0.4;

        .project-tile {
            box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.1);
        }
    }
}

.home-carousel {
    overflow-x: hidden;
}
