.category-form {
    position: relative;
    height: 47px;

    .category-text {
        padding-left: 63px;
    }

    .category__delete-label {
        @include rem(height, 48px);
        @include rem(padding, 12px 20px);

        color: white;
        position: absolute;
        margin: 0;
        left: 0;
    }

    .category__delete {
        visibility: collapse;
        width: 100%;
        left: 0;

        &:checked ~ input[type="text"] {
            text-decoration: line-through;
            color: $brand-danger;
        }
    }
}

.categories-form {
    @include rem(margin-bottom, 40px);
}

.formset__template {
    display: none;
}
