.comment-box {
    @include rem(margin, 0 134px 0 134px);
    @include rem(padding-top, 35px);

    & .comments_login {
        @include rem(margin-top, 30px);
    }

    & textarea {
        border: 1px solid $gray;
        border-radius: 0;
        @include rem(font-size, 14px);
    }

    & textarea:focus {
        border-radius: 0;
        @include rem(font-size, 14px);
    }

    @media (max-width: $screen-sm-min) {
        margin: 0;
    }
}

.comment {
    @include rem(margin-bottom, 50px);
    @include clearfix;

    .comment-author {
        color: $black;
        font-family: $font-family-sans-serif;
        text-align: justify;
        font-weight: bold;
        display: inline-block;
        @include rem(font-size, $font-size-base);

        a {
            vertical-align: bottom;
        }

        span {
            @include rem(margin-left, 10px);
        }
    }

    & .comment-deleted-author {
        display: inline-block;
        color: $gray;
        font-family: $font-family-sans-serif;
        text-align: justify;
        @include rem(font-size, $font-size-base);
    }

    .comment-text {
        font-family: $font-family-sans-serif;
        @include rem(font-size, $font-size-base);
        @include rem(line-height, 1.6);
        @include rem(margin-bottom, 10px);
        color: $black;
        white-space: pre-line;
    }

    & .comment-child-list {
        margin: 0 40px 0 40px;
    }

    & .comment-answer-button {
        float: left;

        @include rem(padding, 7px 14px);
        @include button-hover-background($brand-primary);
    }

    & .comment-reply-button {
        font-weight: bold;

        i {
            @include rem(margin-right, .5em);
        }
    }

    & .general-form {
        @include rem(margin-bottom, 88px);
    }

    & .navbar-right {
        margin-right: 0;
    }

    & .navbar-default {
        background-color: transparent;
        border: none;
    }

    & .navbar {
        min-height: initial;
        margin-bottom: 0;
    }

    & .nav {
        padding: 0;

        & .dropdown li a,
        & .dropdown li button {
            @include rem(padding, 10px);
            margin: 0;

            font-family: $font-family-sans-serif;
            @include rem(font-size, 14px);
            line-height: 1.6;
            text-align: center;
            font-weight: bold;
        }

        & .open a,
        & .open a:hover,
        & .open a:focus {
            background-color: transparent;
        }

        & a.active {
            color: $gray-dark;
        }
    }

    & .action-bar {
        @include rem(margin-bottom, 10px);

        & .rating {
            float: left;
        }
    }

    & .rating {
        float: left;
    }
}

.comment-submission-date {
    @include rem(margin-left, 10px);
    display: inline-block;
    margin-right: 5px;
    vertical-align: baseline;
    @include rem(font-size, $font-size-small);
}
