.dashboard {
    @include rem(padding, 113px 0 0 0);
    display: flex;
}

.circle-bg {
    display: inline-block;
    @include rem(width, 50px);
    @include rem(height, 50px);
    @include rem(line-height, 46px);
    border-radius: 50%;
    background-color: #fff;
}

.dashboard-content {
    & h1 {
        margin: 0;
        @include rem(font-size, 30px);
    }
}

h1.dashboard-title {
    font-family: $font-family-sans-serif;
    margin-top: 0;
    font-weight: bold;
    @include rem(font-size, $font-size-medium);
    @include rem(margin-bottom, 30px);

    &-no-margin {
        margin-bottom: 0;
    }
}

.dashboard-tabbed-form .tabs {
    margin-top: 0;

    .tab {
        box-shadow: none;
    }
}


.dashboard-projects-list {
    ul {
        @include rem(margin, 20px 0);
        padding-left: 0;
    }
}

.dashboard-project-controls {
    position: relative;
    margin-top: -15px;

    @include clearfix;

    .dashboard-project-filter {
        float: right;
        padding-bottom: 0;
    }

    .dashboard-project-create {
        position: absolute;
        bottom: 0;
    }
}


.email_list {
    .checkbox label {
        font-weight: 400;
        @include rem(margin-bottom, 5px);
    }
}

.blueprint-list {
    display: flex;
    flex-wrap: wrap;
    @include rem(margin, 0 -15px);
}


.blueprint-list-centered {
    @extend .blueprint-list;
    justify-content: center;
}

.blueprint-tile {
    @include rem(padding-top, 30px);
    border: solid 1px $gray-light;
    background-color: $brand-brand5;
    display: flex;
    margin: 1.5%;
    flex-basis: 30%;
    flex-direction: column;

    > h2 {
        text-align: center;
        @include rem(padding, 15px 0);
        margin: 0 0 0 0;
        color: #fff;
    }

    > img {
        @include rem(height, 173px);
        @include rem(width, 260px);
    }
}

.blueprint-description {
    background-color: #fff;
    padding: 1em;
}

.blueprint-phases {
    background-color: #fff;
    flex-grow: 1;
    padding: 0 1em;
}

.blueprint-footer {
    background-color: #fff;
    text-align: center;
    padding: 1em;
}

.dst-tile {
    @extend .blueprint-tile;
    color: #fff;

    > img {
        @include rem(height, 173px);
        @include rem(width, 260px);
    }

    > h2 {
        @include rem(padding, 0 15px);
    }
}

.dst-description {
    > h3 {
        margin: 0;
    }

    @include rem(padding, 15px);
    flex-grow: 1;
}

.dst-footer {
    text-align: center;
    padding: 1em;
}

.dst-lightbox {
    margin-top: 80px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 24px;

    h2 {
        text-align: center;
        margin-bottom: 43px;
        margin-top: 24px;
    }

    .dst-lightbox-progress {
        position: relative;
        min-height: 40px;

        .progress {
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
        }
    }
}

.dst-lightbox-header {
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
    border-bottom: 1px solid $gray-light;
    font-weight: bold;
    color: $gray-darker;

    .dst-lightbox-button {
        color: $gray-darker;
        cursor: pointer;
    }

    .dst-lightbox-info {
        text-transform: uppercase;
    }
}

.dst-lightbox-entry {
    border-bottom: 1px solid $gray-light;
    margin-left: 15px;
    margin-right: 15px;

    ul {
        margin-top: 10px;
        color: $gray;
        padding-left: 20px;
    }
}

.dst-lightbox-lastentry {
    border-bottom: none;
}

h2.dst-lightbox-banner {
    @include rem(padding, 24px 0);
    margin: 0 -15px; /* work arround boostrap grid */
    background-color: $brand-brand3;
    color: #fff;
}
