.dashboard {
    @include rem(padding, 113px 0 0 0);
    display: flex;
}

.circle-bg {
    display: inline-block;
    @include rem(width, 50px);
    @include rem(height, 50px);
    @include rem(line-height, 46px);
    border-radius: 50%;
    background-color: #fff;
}

.dashboard-content {
    & h1 {
        margin: 0;
        @include rem(font-size, 30px);
    }
}

h1.dashboard-title {
    font-family: $font-family-sans-serif;
    margin-top: 0;
    font-weight: bold;
    @include rem(font-size, $font-size-medium);
    @include rem(margin-bottom, 30px);

    &-no-margin {
        margin-bottom: 0;
    }
}

.dashboard-tabbed-form .tabs {
    margin-top: 0;

    .tab {
        box-shadow: none;
    }
}

.dashboard-tabbed-form ul {
    list-style: none;
    padding-left: 0;
}


.dashboard-projects-list {
    .infotext {
        @include rem(margin, 20px 0);
        padding-left: 0;
    }

    ul {
        @include rem(margin, 20px 0);
        padding-left: 0;
    }

    & form {
        display: inline-block;
    }
}

.dashboard-project-controls {
    position: relative;
    margin-top: -15px;

    @include clearfix;

    .dashboard-project-filter {
        float: right;
        padding-bottom: 0;
    }

    .dashboard-project-create {
        position: absolute;
        bottom: 0;

        &:last-child {
            position: static;
        }
    }
}


.email_list {
    .checkbox label {
        font-weight: 400;
        @include rem(margin-bottom, 5px);
    }
}

.blueprint-list {
    display: flex;
    flex-wrap: wrap;
    @include rem(margin, 0 -15px);
}


.blueprint-list-centered {
    @extend .blueprint-list;
    justify-content: center;
}

.blueprint-tile {
    @include rem(padding-top, 30px);
    border: solid 1px $gray-light;
    background-color: $brand-brand5;
    display: flex;
    margin: 1.5%;
    flex-basis: 30%;
    flex-direction: column;

    > h2 {
        text-align: center;
        @include rem(padding, 15px 0);
        margin: 0 0 0 0;
        color: #fff;
    }

    > img {
        @include rem(height, 173px);
        @include rem(width, 260px);
    }
}

.blueprint-description {
    background-color: #fff;
    padding: 1em;
}

.blueprint-phases {
    background-color: #fff;
    flex-grow: 1;
    padding: 0 1em;
}

.blueprint-footer {
    background-color: #fff;
    text-align: center;
    padding: 1em;

    > button {
        display: block;
        margin: auto;
        @include rem(padding, 10px 0);
        color: $brand-brand1;
        font-weight: bold;
    }
}

.border-bottom {
    border-bottom: 1px solid $gray-light;
    @include rem(padding, 20px 0);
}

.dst-modal-infopage {
    h4 {
        @include rem(margin-bottom, 20px);
    }

    .modal-content {
        @include rem(width, 570px);
    }

    .blueprint-tile {
        border: 0;
        margin: 0;

        > img {
            @include rem(height, 173px);
            @include rem(width, 260px);
            display: block;
            margin: auto;
        }
    }

    .blueprint-description > p {
        @include rem(margin-bottom, 20px);
        @include rem(margin-left, 35px);
        @include rem(margin-right, 35px);
    }

    .blueprint-phases {
        ul {
            display: inline-block;
        }

        li {
            @include rem(padding-bottom, 10px);
            @include rem(width, 300px);
        }

        .icon {
            float: left;
            @include rem(margin-right, 10px);
        }

        .icon .fa-stack-1x.onlinephase {
            color: $brand-brand6;
        }

        .icon .fa-stack-2x.onlinephase {
            color: $brand-brand5;
        }

        .icon .fa-stack-1x.offlinephase {
            color: $gray;
        }

        .icon .fa-stack-2x.offlinephase {
            color: $gray-lighter;
        }

        .description {
            text-align: left;
        }
    }

    .blueprint-project {
        .project-tile {
            @include rem(width, 285px);
            @include rem(margin-left, 143px);
        }
    }

    .blueprint-effort {
        > span {
            display: block;
        }

        .box {
            background-color: $brand-brand5;
            border-radius: 5px;
            @include rem(height, 69px);
            @include rem(width, 185px);
            display: block;
            margin: auto;
            color: $brand-brand6;
            @include rem(font-size, 36px);
            font-weight: bold;
            @include rem(padding-top, 8px);
            @include rem(margin-bottom, 10px);
        }
    }

    .blueprint-guidelines {
        .inspirations {
            @include rem(padding-left, 160px);
            text-align: left;
        }

        .inspirations > a {
            text-decoration: underline;
        }
    }
}

.dst-tile {
    @extend .blueprint-tile;
    color: #fff;

    > img {
        @include rem(height, 173px);
        @include rem(width, 260px);
    }

    > h2 {
        @include rem(padding, 0 15px);
    }
}

.dst-description {
    > h3 {
        margin: 0;
    }

    @include rem(padding, 15px);
    flex-grow: 1;
}

.dst-footer {
    text-align: center;
    padding: 1em;
}

.dst-lightbox {
    margin-top: 80px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 24px;

    h2 {
        text-align: center;
    }

    .dst-lightbox-progress {
        position: relative;
        min-height: 40px;

        .progress {
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
        }
    }

    .blueprint-tile {
        padding: 0;

        > img {
            @include rem(margin-left, 20px);
        }

        > .blueprint-phases {
            @include rem(padding-top, 10px);
        }
    }
}

.dst-lightbox-header {
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
    border-bottom: 1px solid $gray-light;
    font-weight: bold;
    color: $gray-darker;

    .dst-lightbox-button {
        color: $gray-darker;
        cursor: pointer;
    }

    .dst-lightbox-info {
        text-transform: uppercase;
    }
}

.dst-lightbox-entry {
    border-bottom: 1px solid $gray-light;
    margin-left: 15px;
    margin-right: 15px;

    ul {
        margin-top: 10px;
        color: $gray;
        padding-left: 20px;
    }
}

.dst-lightbox-lastentry {
    border-bottom: none;
}

h2.dst-lightbox-banner {
    @include rem(padding, 24px 0);
    margin: 0 -15px; /* work arround boostrap grid */
    background-color: $brand-brand3;
    color: #fff;
}

.dashboard-form-buttons {
    .dropdown-toggle {
        border-left: solid 1px #fff;
    }

    .dropdown-menu {
        .btn-hover-primary,
        .btn-hover-danger {
            background-color: #fff;
        }

        .btn {
            width: 100%;
            border: 0;
            text-align: left;
        }

        .dropdown-text {
            @include rem(padding-left, 10px);
        }
    }
}
