%divider {
    @include rem(margin, 40px 0);
    @include rem(padding, 10px 40px 10px 15px);
    @include rem(font-size, 18px);
    font-weight: 600;
    position: relative;
}

.black-divider {
    @extend %divider;
    background: $black;
    color: #fff;
}

.gray-divider {
    @extend %divider;
    background: $gray-lighter;
    color: $gray-darker;
}
