.dropdown-menu {
    border-radius: 0;
    padding: 0;
}

.dropdown-item {
    border-bottom: 2px solid $gray-lighter;
    width: 100%;
    padding: 0.5*$spacer $spacer;
    text-align: left;
}

// commenting out to test on dev as seems un-needed
// .dropdown-menu > :last-child > a {
//     margin-bottom: $spacer;
// }
