.dropdown-menu > li > a {
    @include rem(padding, 7px 0);
    @include rem(margin, 0 15px);
    text-align: left;
}

.dropdown-menu > :last-child > a {
    border-bottom: 0;
    padding-bottom: 15px;
}
