.dropdown-menu {
    border-radius: 0;
}

.dropdown-item,
.dropdown-menu li {
    border-bottom: 2px solid $gray-lighter;
    width: 100%;
    padding: 0.5*$spacer $spacer;
    text-align: left;
}

.dropdown-menu > :last-child > a {
    padding-bottom: $spacer;
}
