body {
    padding-top: $navbar-height;

    @media (max-width: $screen-sm-min) {
        padding-top: 60px;
    }
}

.main-menu {
    background: #fff;
    border-bottom: 0;

    @media (max-width: $screen-sm-min) {
        min-height: 60px;
    }

    .navbar-brand {
        font-size: $font-size-small;
        width: 47px;

        @media (max-width: $screen-sm-min) {
            height: 60px;
            width: 32px;
        }
    }

    .navbar-toggle {
        border: 0;
        padding: 8px;

        @media (max-width: $screen-sm-min) {
            margin: 15px 15px 15px 0;
        }
    }

    a,
    button {
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
    }

    .dropdown a,
    .dropdown button {
        font-weight: bold;
    }

    .dropdown.open a.dropdown-toggle,
    .dropdown.open a,
    .dropdown.open button {
        &:hover,
        &:focus,
        &.is-active {
            background-color: transparent;
            color: $brand-brand1;
        }
    }

    .dropdown-menu {
        padding-bottom: 0;
    }

    .dropdown-menu li {
        position: relative;
    }

    .dropdown-menu li i,
    .dropdown-menu li img {
        position: absolute;
        width: 20px;
        text-align: center;
    }

    .dropdown-text {
        padding-left: 30px;
    }

    .logout-button-form {
        background-color: $gray-lighter;
    }

    .logout-button-form button {
        width: 100%;
        border: 0;
        text-align: left;
        padding: 7px 0 7px 15px;
        background-color: transparent;

        &:hover {
            color: $brand-brand1;
        }
    }
}
