body {
    @include rem(padding-top, $navbar-height);

    @media (max-width: $screen-sm-min) {
        @include rem(padding-top, 60px);
    }
}

.main-menu {
    background: #fff;
    border-bottom: 0;

    @media (max-width: $screen-sm-min) {
        min-height: 60px;
    }

    .navbar-brand {
        @include rem(font-size, 14px);
        @include text-hide;
        background: url(../images/logo.png) no-repeat left center/contain;
        width: 47px;

        .svgasimg & {
            background-image: url(../images/logo.svg);
        }

        @media (max-width: $screen-sm-min) {
            height: 60px;
            width: 32px;
        }
    }

    .navbar-toggle {
        border: 0;
        @include rem(padding, 8px);

        @media (max-width: $screen-sm-min) {
            @include rem(margin, 15px 15px 15px 0);
        }
    }

    a,
    button {
        @include rem(padding-left, 40px);
        color: #000;
        font-weight: bold;
        padding-right: 0;
        text-transform: uppercase;
    }

    .dropdown a,
    .dropdown button {
        @include rem(padding-left, 20px);
        @include rem(padding-right, 20px);
        font-weight: bold;


        @media (max-width: $screen-sm-min) {
            @include rem(margin-left, 40px);
        }
    }

    .dropdown.open a.dropdown-toggle,
    .dropdown.open a,
    .dropdown.open button {
        &:hover,
        &:focus,
        &.is-active {
            background-color: transparent;
            color: $brand-brand1;
        }
    }

    .language-selector a {
        color: $brand-brand2;
    }
}
