body {
    padding-top: $navbar-height + $spacer;
}

.main-menu {
    background: #fff;
    border-bottom: 0;
    min-height: 60px;

    @media (min-width: $screen-sm-min) {
        max-height: $navbar-height;
    }

    .navbar-brand {
        font-size: $font-size-small;
        width: 47px;

        @media (max-width: $screen-sm-min) {
            height: 60px;
            width: 32px;
        }
    }

    .navbar-toggle {
        border: 0;
        padding: 0.5*$spacer;

        @media (max-width: $screen-sm-min) {
            margin: $spacer $spacer $spacer 0;
        }
    }

    a,
    button {
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
    }

    .dropdown a,
    .dropdown button {
        font-weight: bold;
    }

    .dropdown-menu.show a.dropdown-toggle,
    .dropdown-menu.show a,
    .dropdown-menu.show button {
        &:hover,
        &:focus,
        &.is-active {
            background-color: transparent;
            color: $brand-brand1;
        }
    }

    .dropdown-menu {
        padding-bottom: 0;
    }

    .dropdown-text {
        padding-left: $spacer;
    }

    .logout-button-form {
        background-color: $gray-lighter;
    }

    .logout-button-form button {
        width: 100%;
        border: 0;
        text-align: left;
        padding: 0.5*$spacer 0 0.5*$spacer $spacer;
        background-color: transparent;

        &:hover {
            color: $brand-brand1;
        }
    }
}
