nav .pagination {
    li:last-child,
    li:first-child {
        a {
            border-radius: 0;
        }
    }

    a {
        @include rem(margin-left, 4px);
        @include rem(padding, 10px 15px 10px 16px);
        color: $gray-darker;
        background-color: $gray-lighter;
        border: none;
        border-radius: 0;
        font-weight: bold;
        @include rem(font-size, 14px);

        &:hover,
        &:focus {
            color: $brand-brand1;
        }

        @media screen and (max-width: $screen-xs-max) {
            @include rem(margin-left, 3px);
            @include rem(padding, 9px 13px 9px 13px);
        }
    }
}

.pagination-row {
    @extend .row;
    margin-right: 13px;
}

