.phase-form {
    background-color: $gray-lighter;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    position: relative;

    .form-control {
        background-color: white;
    }

    h5 a {
        display: block;
        letter-spacing: 0.1px;
        color: $gray-darker;
        font-family: $font-family-sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }

    h5 a:hover {
        color: $brand-brand1;
    }

    h5 .fa {
        transition: transform 0.3s;
    }

    .collapsed .fa {
        transform: rotateZ(180deg);
    }
}

.single-phase {
    @include rem(margin-top, 20px);
}
