.rangebuttons {
    list-style: none;
    padding-left: 0;
    @include rem(margin-top, 20px);
}

.rangebuttons-item {
    @include rem(padding-bottom, 40px);
    position: relative;

    input {
        float: left;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 10px;
        bottom: -5px;
        left: 6px;
        margin: 0 auto;
        width: 1px;
        background: $gray;
        z-index: -1;
    }

    &:last-child:before {
        content: none;
    }
}

.rangebuttons-itemlabel {
    display: block;
    overflow: hidden;
    @include rem(padding-left, 10px);
    font-weight: 400;
}
