.rating-button {
    background: transparent;
    font-weight: $font-size-medium;
    font-weight: 600;
    border: 1px solid currentColor;
    @include rem(padding, 7px 14px);
    cursor: pointer;
    -webkit-appearance: none;

    transition: background 0.2s, color 0.2s;

    i {
        display: inline-block;
        margin-right: .5em;
    }

    &.is-read-only {
        cursor: default;
    }
}

.rating-up {
    color: $brand-success;

    &:hover,
    &:focus {
        color: #fff;
        border-color: $brand-success;
        background: $brand-success;
    }

    &.is-selected {
        background-color: $brand-success;
        border-color: $brand-success;
        color: #fff;
    }

    &:disabled {
        background: transparent;
        border: none;
        color: $brand-success;

        i {
            color: $brand-success;
        }
    }
}

.rating-down {
    color: $brand-danger;
    @include rem(margin, 0 10px);

    &:hover,
    &:focus {
        color: #fff;
        border-color: $brand-danger;
        background: $brand-danger;
    }

    &.is-selected {
        background-color: $brand-danger;
        border-color: $brand-danger;
        color: #fff;
    }

    &:disabled {
        background: transparent;
        border: none;
        color: $brand-danger;

        i {
            color: $brand-danger;
        }
    }
}

.idea-ratings .rating {
    position: absolute;
    right: 0;
    top: 0;

    @media (max-width: $screen-sm-min) {
        position: static;
        text-align: center;

        li {
            display: inline-block;
        }
    }
}
