.rss-feed-entry {
    text-align: left;
    border: 1px solid $gray-light;
    @include rem(padding, 35px 32px 35px 32px);
    @include rem(margin-bottom, 30px);
    @include rem(margin-left, 15px);

    .rss-feed-entry-date {
        color: $black;
        font-size: 14px;
        font-weight: bold;
        text-align: justify;
    }

    h4 {
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: -0.2px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: -0.2px;
        text-align: justify;
        color: $black;
    }
}

.rss-feed-entries-title {
    text-align: left;
}
