.socialaccounts {
    @include rem(margin-top, -20px);
}

.socialaccount_providers {
    @include rem(padding, 10px 0 50px);
    list-style: none;

    .skinny-form & {
        @include rem(padding, 10px 50px 50px);
    }

    li {
        display: inline-block;
        @include rem(margin-bottom, 0.3em);
        max-width: 50%;
    }
}

.socialaccount_provider {
    background: $brand-brand1;
    color: #fff;
    font-size: 0.8em;

    &:after {
        font-family: 'FontAwesome';
        font-size: 1.4em;
        vertical-align: middle;
    }

    &.github:after {
        content: '\f09b';
    }

    &.google {
        background: #D34836;
    }
    &.google:after {
        content: '\f1a0';
    }

    &.facebook {
        background-color: #3B5998;
    }
    &.facebook:after {
        content: '\f230';
    }

    &:hover, &:focus, &:active {
        text-decoration: none;
        color: $black;
    }
}

.connections-form button{
    @include rem(margin-top, 10px);
}
