
:target:before {
    content: "";
    display: block;
    height: 80px; /* fixed header height */
    margin: -80px 0 0; /* negative fixed header height */
}

.user-indicator > li > a {
    min-width: 180px;
    position: relative;
    margin-left: 0;

    .inner {
        border: 2px solid $brand-brand1;
        display: block;
        padding: 10px;
        position: relative;
        white-space: nowrap;
    }
}

.user-indicator .btngroup .dropdown-item {
    border-bottom: none;
    width: 100%;
}

.user-indicator .btngroup > a {
    height: 45px;
}

.user-indicator a.btn {
    background-color: $brand-brand5;
    color: $body-bg;
    min-width: 45px;
}

.user-indicator {
    .dropdown-item > a:active {
        color: $body-bg !important;
    }
}

.user-indicator > li > a > .inner {
    border: none;
    display: inline-block;
    position: static;
    padding-left: $spacer;
}

.user-indicator .circled {
    margin-top: -3px;
    margin-right: 10px;
}

.user-indicator .open a.dropdown-toggle {
    background-color: darken($brand-brand5, 10);
}

.user-indicator .dropdown-menu {
    width: 100%;
    border-radius: 0;
    background: $body-bg;
}

.user-indicator .btngroup {
    display: flex;
    flex-wrap: wrap;
}

.user-indicator .userindicator-profile {
    flex-grow: 1;
    text-align: left;
}

.user-indicator .dropdown-toggle {
    flex-grow: 0;
}

@media screen and (min-width: $screen-xs-min) {
    .user-indicator > .btngroup,
    .user-indicator > .dropdown {
        margin-top: 0.4*$spacer;
    }

    .user-indicator .btngroup > a {
        display: block;
        height: 50px;
        padding: $navbar-padding-vertical / 2 10px;
    }

    .user-indicator > li > a > .inner {
        padding: 0;
    }

    .user-indicator .dropdown-menu {
        width: auto;
        max-height: 80vh;
        overflow-y: auto;
    }
}
