.user-indicator > li > a {
    margin-left: 40px;
    min-width: 180px;
    position: relative;

    .inner {
        border: 2px solid $brand-brand1;
        display: block;
        left: 0;
        padding: 10px;
        position: absolute;
        top: 15px;
        white-space: nowrap;

        @media (max-width: $screen-sm-min) {
            border: none;
            display: inline-block;
            padding: 0;
            position: static;
        }
    }

    @media (max-width: $screen-sm-min) {
        margin-left: 0;
    }
}
