{% load i18n %}
{% if user.is_authenticated %}
<ul class="nav navbar-nav navbar-right" id="user-indicator">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        	{% if user.is_superuser %}
            <li>
                <a href="{% url 'admin:index' %}">Admin</a>
            </li>
            {% endif %}
            <li>
            	<form action="{% url 'logout' %}" method="post" >
  					{% csrf_token %}
  					<input type="hidden" name="next" value="{{next_action}}">
  					<button class="btn btn-primary" type="submit" value="Register">{% trans "logout" %}</button>
				</form>
            </li>
        </ul>
    </li>
</ul>
{% else %}
<ul class="nav navbar-nav navbar-right" id="user-indicator">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Login or Register"%}<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
           <li>
    	      <a href="#login">{% trans "login" %}</a>
    	    </li>
    	    <li>
    	      <a href="#register">{% trans "register" %}</a>
    	    </li>
        </ul>
    </li>
</ul>
<div id="register" class="overlay">
  <div class="popup">
    <a class="close" href="#">x</a>
    <h4 class="modal-title">Login</h4>
    <div class="modal-content">
      <form action="{% url 'register' %}">
        {% csrf_token %}

        <label class="col-lg-2 control-label" for="{{ register_form.username.id_for_label }}">Username</label>
        {{ register_form.username }}

        <label class="col-lg-2 control-label" for="{{ register_form.email.id_for_label }}">Email</label>
        {{ register_form.email }}

        <label class="col-lg-2 control-label" for="{{ register_form.password.id_for_label }}">Password</label>
        {{ register_form.password }}

        <label class="col-lg-2 control-label" for="{{ register_form.password_repeat.id_for_label }}">Password</label>
        {{ register_form.password_repeat }}

        <input type="hidden" name="next" value="{{ next_action }}" />
        <button type="submit" value="Login" class="btn btn-primary">{% trans "register" %}</button>
      </form>
    </div>
  </div>
</div>
<div id="login" class="overlay">
  <div class="popup">
    <a class="close" href="#">x</a>
    <h4 class="modal-title">Login</h4>
    <div class="modal-content">
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        <label class="col-lg-2 control-label" for="{{ register_form.password_repeat.id_for_label }}">Username</label>
        {{ login_form.username }}
        <label class="col-lg-2 control-label" for="{{ register_form.password_repeat.id_for_label }}">Password</label>
        {{ login_form.password }}

        <input type="hidden" name="next" value="{{ next_action }}" />
        <button type="submit" value="Login" class="btn btn-primary">{% trans "login" %}</button>
      </form>
    </div>
  </div>
</div>
{% endif %}
