{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="container">

{% if not request.user.is_authenticated %}
    <div class="skinny-form">
        <header class="skinny-form-header">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="{% url 'login' %}?next={{next_action}}">{% trans "login" %}</a></li>
                <li role="presentation"><a href="{% url 'register' %}?next={{next_action}}">{% trans "register" %}</a></li>
            </ul>
        </header>
        <form class="skinny-form-inner" role="form" name="LoginForm" action="" method="post" >
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-errors">
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}

            <div class="form-group">
                <label class="control-label" for="{{ form.username.id_for_label }}">Email</label>
                {% if form.email.errors %}
                    {{ form.email|add_class:"form-control form-error" }}
                {% else %}
                    {{ form.email|add_class:"form-control"}}
                {% endif %}
                {{ form.email.errors }}
            </div>
            <div class="form-group">
                <label class="control-label" for="{{ form.password.id_for_label }}">Password</label>
                {% if form.password.errors %}
                    {{ form.password|add_class:"form-control form-error" }}
                {% else %}
                    {{ form.password|add_class:"form-control"}}
                {% endif %}
                {{ form.password.errors }}
            </div>

            <div class="form-group">
              <a href="{% url 'reset_request' %}?next={{next_action}}">{% trans "reset password" %}</a>
            </div>

            <button type="submit" value="Login" class="btn btn-primary btn-cta">{% trans "login" %}</button>
        </form>
    </div>

{% else %}
{% trans "You are already logged in" %}
{% endif %}
</div>
{% endblock %}
