{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="container">
{% if not request.user.is_authenticated %}
    <div class="skinny-form">
        <header class="skinny-form-header">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="{% url 'login' %}?next={{next_action}}">Login</a></li>
                <li role="presentation"><a href="{% url 'register' %}?next={{next_action}}">Register</a></li>
            </ul>
        </header>
        <form class="skinny-form-inner" role="form" name="LoginForm" action="" method="post" >
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-errors">
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}

            <div class="form-group">
                 <label class="control-label" for="username">{% trans "username" %}</label>
                 {{ form.username.errors }}
                 {{ form.username|add_class:"form-control" }}
            </div>
            <div class="form-group">
                 <label class="control-label" for="password">{% trans "password" %}</label>
                 {{ form.password.errors }}
                 {{ form.password|add_class:"form-control" }}
            </div>

            <button type="submit" value="Login" class="btn btn-primary btn-cta">{% trans "login" %}</button>
        </form>
    </div>

{% else %}
{% trans "Already loggedin" %}
{% endif %}
</div>
{% endblock %}
