{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
<h2>{% trans "Register" %}</h2>
<div id="register">
  <form class="form-horizontal" role="form" name="RegisterForm" action="" method="post" >
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="form-errors">
      {% for error in form.non_field_errors %}
      <p class="alert alert-danger">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}

    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}

    <div class="form-group">
      <label class="col-lg-2 control-label" for="{{ form.username.id_for_label }}">Username</label>
      <div class="col-lg-4">
        {{ form.username.errors }}
        {{ form.username }}
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="{{ form.email.id_for_label }}">Email</label>
      <div class="col-lg-4">
        {{ form.email.errors }}
        {{ form.email }}
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="{{ form.password.id_for_label }}">Password</label>
      <div class="col-lg-4">
        {{ form.password.errors }}
        {{ form.password }}
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="{{ form.password_repeat.id_for_label }}">Password repeat</label>
      <div class="col-lg-4">
        {{ form.password_repeat.errors }}
        {{ form.password_repeat }}
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-3">
        <button type="submit" value="Register" class="btn btn-primary">Register</button>
      </div>
    </div>
  </form>
</div>
</div>

{% endblock %}
