{% extends 'base.html' %}
{% load i18n widget_tweaks %}
{% block content %}
<div class="container">
<div class="skinny-form">
    <form class="skinny-form-inner" role="form" name="RegisterForm" action="" method="post" >
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="form-errors">
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
        </div>
        {% endif %}

        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}

        <div class="form-group">
            <label class="control-label" for="{{ form.username_or_email.id_for_label }}">{% trans "username or email" %}</label>
            {{ form.username_or_email.errors }}
            {{ form.username_or_email|add_class:"form-control" }}
        </div>

        <button type="submit" value="reset" class="btn btn-primary btn-cta">{% trans "reset" %}</button>
    </form>
</div>
</div>

{% endblock %}
