.text {
   position: relative;
}

.press-snippet-date {
   position: absolute;
   top: 0;
   left: 0;
   bottom: -10;
   right: 0;
   z-index: -1;
   overflow: hidden;
}

.press-snippet-date h1 {
	font-size: 150px;
	color: #FFFF99;
   font-weight: bold;
}

.press-snippet-title h1 {
   font-size: 20px;
}

.press-year-section {
   padding-bottom: 100px;
}

.press-snippet-row {
   min-height: 200px;
}

.press-snippet-info {
   padding-top: 110px;
   padding-left: 125px;
}

.press-snippet-info h3 {
   font-size: 40px;
   margin-top: 0px;
}

.press-snippet-info p {
   margin-bottom: 0px;
}

.press-year-title {
   font-size: 100px;
   font-weight: bold;
}