{% load i18n form_tags flashpoll_form_tags widget_tweaks staticfiles static %}

<script src="{% static 'js/flashpoll.js' %}"></script>
<style type="text/css">@charset "UTF-8";.ng-hide{display:none !important;}ng\:form{display:block;}
</style>
<style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}</style><style type="text/css">.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}.gm-style img{max-width:none}</style>
<!--Description section -->

{% with poll=form.module_settings.poll.value|get_poll_from_string %}

<div class="flashpoll phase-form">
    <h5>
        <a href="#fp-phase-2" class="collapse collapsed" data-toggle="collapse" aria-expanded="false">
            Poll: Questions
            {% if form.module_settings.errors|get_questions_errors != 0 %}<span class="info-number">{{ form.module_settings.errors|get_questions_errors }}</span>{% endif %}
            <i class="fa fa-chevron-up pull-right"></i>

        </a>
    </h5>

    <div class="single-phase collapse" id="fp-phase-2" aria-expanded="false" style="height: 0px;">
    {% for field in form.module_settings.visible_fields %}

        <!-- question_1_questionText -->
        {% if field.name|get_field_endswith:"questionText" %}


        <div id="form-group-question-{{field.name|get_question_orderid}}">


            <div class="form-group {% if field.errors %} has-error{% endif %}">
                <label>
                    {{ field.label }}:
                    {% if form.module_settings.instance.id %}
                    {{ form.module_settings.instance.content.name }}
                    {% else %}
                    {{ form.module_settings.initial.phase_content.name }}{% endif %}<br />
                    {% if field.help_text %}
                    <p><i>{{ field.help_text }}</i></p>
                    {% endif %}
                </label>
                <div style="position:relative;">
                    <div style="margin-right: 64px;">
                        {% render_field field class="form-control" %}
                        {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div style="width: 39px;position:absolute;right:0;height:100%;top:0;">
                        <i class="fa fa-trash-o fa-2x" tooltip="Supprimer" tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip-placement="left" onclick='removeQuestion({{poll.questions|get_simplejson}},{{field.name|get_question_orderid}}, "form-group-question-{{field.name|get_question_orderid}}")' tabindex="-1"></i>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- question_1_questionType -->
            {% if field.name|get_field_endswith:"questionType" %}
            <div class="form-group {% if field.errors %} has-error{% endif %}">
                <label>
                    {{ field.label }}:
                    {% if form.module_settings.instance.id %}
                    {{ form.module_settings.instance.content.name }}
                    {% else %}
                    {{ form.module_settings.initial.phase_content.name }}{% endif %}<br />
                    {% if field.help_text %}
                    <p><i>{{ field.help_text }}</i></p>
                    {% endif %}
                </label>

                <select class="form-control select" id="id_module_settings-question_{{field.name|get_question_orderid}}_questionType" name="module_settings-question_{{field.name|get_question_orderid}}_questionType" onchange='changeType(this.options[this.selectedIndex].value, "fp-phase-qc-{{field.name|get_question_orderid}}", {{field.name|get_question_orderid}})' >
                    <option value="CHECKBOX"  {% if field.value == 'CHECKBOX' %}selected{% endif %}>MULTIPLE</option>
                    <option value="RADIO"  {% if field.value == 'RADIO' %}selected{% endif %}>SINGLE</option>
                    <option value="FREETEXT"  {% if field.value == 'FREETEXT' %}selected{% endif %}>OPEN</option>
                    <option value="ORDER"  {% if field.value == 'ORDER' %}selected{% endif %}>RANKING</option>
                </select>

                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            <!-- question_1_mandatory -->
            {% if field.name|get_field_endswith:"mandatory" %}
            <div class="form-group ">
                <label>
                    {% render_field field %}
                    Mandatory
                    <br>
                </label>
            </div>

                {% if poll.questions|is_openquestion:field.name %}
                </div>
            {% if poll.questions|is_lastquestion:field.name %}
        <div id="icon-plus-poll" class="span3">
            <div class="btn btn-success ng-binding" onclick='addQuestion({{poll.questions|get_simplejson}},"fp-phase-2")' tabindex="-1"><i class="fa fa-plus"></i>&nbsp;Add a question</div>
            <div style="clear:both;"></div>
        </div>
        {% endif %}
        {% endif %}

            {% endif %}

            <!-- module_settings-question_1_choice_1_answerText -->
            {% if field.name|get_field_endswith:"answerText" %}

            {% if field.name|is_firstanswer %}
            <div id="fp-phase-qc-{{field.name|get_question_orderid}}">
            {% endif %}

                <div id="form-group-question-{{field.name|get_question_orderid}}.choice-{{field.name|get_answer_orderid}}" class="form-group {% if field.errors %} has-error{% endif %}">
                    <label>
                        {{ field.label }}:
                        {% if form.module_settings.instance.id %}
                        {{ form.module_settings.instance.content.name }}
                        {% else %}
                        {{ form.module_settings.initial.phase_content.name }}{% endif %}<br />
                        {% if field.help_text %}
                        <p><i>{{ field.help_text }}</i></p>
                        {% endif %}
                    </label>
                    <div style="position:relative;">
                        <div style="margin-right: 64px;">
                            {% render_field field class="form-control" %}
                            {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div style="width: 39px;position:absolute;right:0;height:100%;top:0;">
                            <i class="fa fa-times fa-2x" tooltip="Supprimer" tooltip-trigger="mouseenter" tooltip-placement="left" tooltip-popup-delay="1000" onclick='removeChoice({{poll.questions|get_answersjson:field.name}},{{field.name|get_answer_orderid}}, {{field.name|get_question_orderid}}, "form-group-question-{{field.name|get_question_orderid}}.choice-{{field.name|get_answer_orderid}}")' ng-disabled="question.questionChoices.length<=2" tabindex="-1" disabled="disabled" >	</i>
                        </div>
                    </div>
                </div>

                {% if poll.questions|is_lastanswer:field.name %}

                <div id="icon-plus-question-{{field.name|get_question_orderid}}" class="span3">
                    <div class="fa fa-plus fa-2x" tooltip="Ajouter un choix" tooltip-trigger="mouseenter" tooltip-placement="left" tooltip-popup-delay="1000" onclick='addChoice({{poll.questions|get_answersjson:field.name}},{{field.name|get_question_orderid}}, "fp-phase-qc-{{field.name|get_question_orderid}}")' tabindex="-1" style="float:left;"></div>
                    <div style="clear:both;"></div>
                </div>
            </div>

            </div>
            {% if poll.questions|is_lastquestion:field.name %}

        <div id="icon-plus-poll" class="span3">
            <div class="btn btn-success ng-binding" onclick='addQuestion({{poll.questions|get_simplejson}},"fp-phase-2")' tabindex="-1"><i class="fa fa-plus"></i>&nbsp;Add a question</div>
            <div style="clear:both;"></div>
        </div>
        {% endif %}
        {% endif %}

        {% endif %}

    {% endfor %}


	</div>
</div>



<!--Location section -->
<div class="flashpoll phase-form">
    <h5>
        <a href="#fp-phase-3" class="collapse collapsed" data-toggle="collapse">
            Poll: Location

            {% if form.module_settings.geofenceLocation.errors %}<span class="info-number">{{ form.module_settings.geofenceLocation.errors|length }}</span>{% endif %}
            <i class="fa fa-chevron-up pull-right"></i>
        </a>
    </h5>

    <div class="single-phase collapse in" id="fp-phase-3">

        <div class="form-group ">
            <div id="panel">
                <div id="color-palette"><span class="color-button" style="background-color: rgb(30, 144, 255); border: 2px solid rgb(119, 136, 153);"></span></div>
                <div>
                </div>
            </div>

            <div class="row-fluid" style="margin-bottom:5px;">
                <div id="map" data-api-key="{% api_key %}" style="width: 100%; height: 399px; position: relative; overflow: hidden;"></div>
            </div>
            <div class="row-fluid">
                <div class="span4 search-bloc">
                    <div class="btn ng-isolate-scope" id="delete-button" i18n="" key="'popup.button.cancel'">Clear</div>
                    <div class="btn ng-isolate-scope" id="restore-button" i18n="" key="'popup.button.cancel'">Restore</div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="field-hide">
    <input type="hidden" name="module_settings-key" value="{{pollid}}">
	<input type="hidden" name="current_preview" value="{{poll.preview}}">
    <input type="hidden" id="geofenceLocation" name="module_settings-geofenceLocation" value="{{form.module_settings.geofenceLocation.value}}">
</div>
{% endwith %}