{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with project=view.project.name %} Private project: {{ project }}{% endblocktrans %}{% endblock %}
{% block content %}
{% include 'euth_projects/includes/project_hero_unit.html' with project=view.project %}
<nav class="tabs">
    <div class="container">
        <ul>
            <li class="col-md-4 offset-md-4 active"><a href="#information" data-toggle="tab" class="tab">{% trans "Information" %}</a></li>
        </ul>
    </div>
</nav>
<div class="container membership-request">
    {% if join_request %}
        <p class="alert alert-info">
            {% blocktrans with date=join_request.created %}
            This is a private project. You have applied for a membership on {{ date }}. Your request is awaiting moderation.
            {% endblocktrans %}
        </p>
    {% else %}
        <p class="alert alert-info text-center">This is a private project. In order to see its content you have to ask the owner for permission to join.</p>
        <div class="center-wrapper">
            <a href="#myModal" class="btn btn-primary" data-toggle="modal">{% trans 'request membership' %}</a>
        </div>
        <div role="dialog" aria-labelledby="myModalLabel" id="myModal" class="modal fade permission">
            <div role="document" class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-label="Abort" class="close">
                            <i aria-hidden="true" class="fa fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="modal-title"><i class="fa fa-lock" aria-hidden="true"></i> Do you want to ask the admin to join?</h3>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">{% trans 'request membership' %}</button>
                            </form>
                        </div>
                        <div class="row">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary">{% trans 'Abort'%}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
