{% load i18n %}
{% load url_translations base_tags wagtailcore_tags %}
{% load static from static %}
{% load_site_menu "footer" as footer_menu_items %}
<footer id="footer" class="footer">
    <div class="container">
        <ul class="nav">
            {% for menuitem in footer_menu_items %}
            <li class="footer-item"><a href="{{ menuitem.url }}">{{ menuitem.translated_menu_title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <section class="footer-disclaimer">
        <div class="container">
            <img class="footer-disclaimer-logo" src="{% static "images/logo_eu.jpg" %}" alt="EU logo" />
        </div>
    </section>
</footer>
