{% extends 'email_base.html' %}
{% block subject %}
    You were added as moderator
{% endblock %}
{% block content %}
    <h2>Someone added you as moderator to the project "{{ project.name }}"
        on {{ site.name }}</h2>

    <p>
        You were added as moderator to the project "{{ project.name }}".
        Depending on the project's type now you can moderate comments and ideas,
        help to create a text for a Text Review or create the documentation for
        an Offline Event.
    </p>

    <p>
        <a href="{{ email.get_host }}{% url 'project-detail' project.slug %}" class="button">See more</a>
    </p>
{% endblock %}
