{% extends "euth_accounts/base_account.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'E-mail Addresses' %}{% endblock %}

{% block account_content %}
<h1 class="dashboard-content-heading">{% trans 'E-mail Addresses' %}</h1>
<div class="general-form">
    <form action="{% url 'account_email' %}?next={{ request.path|urlencode }}" class="email_list" method="post">
        {% csrf_token %}
        <div class="form-group {% if form.email.errors %}has-error {% endif %}">
            <label>{{ form.email.label }}</label>
            {% for emailaddress in user.emailaddress_set.all %}
            <div class="checkbox form-check">
                <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %} primary_email{%endif%}">
                    <input id="email_radio_{{forloop.counter}}" type="radio" name="email" class="form-check-input" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}">
                    {{ emailaddress.email }}
                    {% if emailaddress.primary %}
                    <span class="badge badge-primary">{% trans "Primary" %}</span>
                    {% endif %}
                    {% if emailaddress.verified %}
                    <span class="badge badge-success">{% trans "Verified" %}</span>
                    {% else %}
                    <span class="badge badge-default">{% trans "Unverified" %}</span>
                    {% endif %}
                </label>
            </div>
            {% endfor %}
            <button class="btn btn-sm btn-primary" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
            <button class="btn btn-sm btn-secondary" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
            <button class="btn btn-sm btn-secondary" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
        </div>
    </form>
    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="form-errors">
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <label class="col-form-label" for="{{ form.email.id_for_label }}">{% trans "Add another Email" %}</label>
            {{ form.email.errors }}
            {{ form.email|add_class:"form-control" }}
        </div>
        <input class="btn btn-sm btn-primary" name="action_add" type="submit" value="{% trans 'Add Email' %}"/>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
