{% extends 'base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Reset your password' %}{% endblock %}

{% block content %}
<div class="container">
    {% if token_fail %}
        <div class="container-narrow">
            <h2>{% trans "Bad Token" %}</h2>
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            </p>
        </div>
    {% else %}
        {% if form %}
            <div class="skinny-form">
                <header class="skinny-form-header"></header>
                <form class="skinny-form-inner" role="form" name="ResetPasswordForm" action="" method="post">
                  {% csrf_token %}

                  {% if form.non_field_errors %}
                  <div class="form-errors">
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                  </div>
                  {% endif %}

                  {{ form.token }}
                  {{ form.token.errors }}

                  <div class="form-group">
                    <label class="col-form-label" for="{{ form.password1.id_for_label }}">{% trans "Password" %}</label>
                    {{ form.password1.errors }}
                    {{ form.password1|add_class:"form-control" }}
                  </div>

                  <div class="form-group">
                    <label class="col-form-label" for="{{ form.password2.id_for_label }}">{% trans "Repeat password" %}</label>
                    {{ form.password2.errors }}
                    {{ form.password2|add_class:"form-control" }}
                  </div>

                  <button type="submit" value="Activate" class="btn btn-primary">{% trans "Reset password" %}</button>
                </form>
            </div>
        {% else %}
            <h2>{% trans "Change Password" %}</h2>
            <p><small>{% trans 'Your password is now changed.' %}</small></p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
