{% extends "euth_accounts/base_account.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block account_content %}
    <h1 class="dashboard-content-heading">{% trans 'Change your password' %}</h1>

    <div class="general-form">
        <div class="row">
            <form class="col-md-10" role="form" name="PasswordChangeForm"
                  action="{% url 'account_change_password' %}" method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="form-errors">
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label class="col-form-label"
                           for="{{ form.oldpassword.id_for_label }}">{% trans "Password" %}</label>
                    {{ form.oldpassword.errors }}
                    {{ form.oldpassword|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label class="col-form-label"
                           for="{{ form.password1.id_for_label }}">{% trans "Password" %}</label>
                    {{ form.password1.errors }}
                    {{ form.password1|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label class="col-form-label"
                           for="{{ form.password2.id_for_label }}">{% trans "Repeat password" %}</label>
                    {{ form.password2.errors }}
                    {{ form.password2|add_class:"form-control" }}
                </div>
                <button type="submit" value="reset" class="btn btn-primary">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
