{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
<div class="container">
    <div class="skinny-form">
        <header class="skinny-form-header"></header>
        <form class="skinny-form-inner" role="form" name="PasswordSetForm" action="{% url 'account_set_password' %}"  method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-errors">
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
              <label class="col-form-label" for="{{ form.password1.id_for_label }}">{% trans "Password" %}</label>
              {{ form.password1.errors }}
              {{ form.password1|add_class:"form-control" }}
            </div>

            <div class="form-group">
              <label class="col-form-label" for="{{ form.password2.id_for_label }}">{% trans "Repeat password" %}</label>
              {{ form.password2.errors }}
              {{ form.password2|add_class:"form-control" }}
            </div>

            <button type="submit" value="Activate" class="btn btn-primary">{% trans "Set password" %}</button>
        </form>
    </div>
</div>
{% endblock %}
