{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="skinny-form">
        <h2>{% trans "Change Password" %}</h2>
        <form class="skinny-form-inner" role="form" name="PasswordChangeForm" action="{% url 'account_change_password' %}" method="post" >
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-errors">
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label class="control-label" for="{{ form.oldpassword.id_for_label }}">{% trans "Password" %}</label>
                {{ form.oldpassword.errors }}
                {{ form.oldpassword|add_class:"form-control" }}
            </div>

            <div class="form-group">
                <label class="control-label" for="{{ form.password1.id_for_label }}">{% trans "Password" %}</label>
                {{ form.password1.errors }}
                {{ form.password1|add_class:"form-control" }}
            </div>

            <div class="form-group">
                <label class="control-label" for="{{ form.password2.id_for_label }}">{% trans "Repeat password" %}</label>
                {{ form.password2.errors }}
                {{ form.password2|add_class:"form-control" }}
            </div>
            <button type="submit" value="reset" class="btn btn-primary btn-cta">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>
{% endblock %}
