{% extends 'base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Register an account' %}{% endblock %}

{% block content %}
<div class="container">
<div class="skinny-form">
    <header class="skinny-form-header">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="{% url 'account_login' %}?next={{next_action}}">{% trans "login" %}</a></li>
            <li role="presentation" class="active"><a href="{% url 'account_signup' %}?next={{next_action}}">{% trans "register" %}</a></li>
        </ul>
    </header>
    <form class="skinny-form-inner" role="form" name="RegisterForm" action="{% url 'account_signup' %}" method="post" >
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="form-errors">
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
        </div>
        {% endif %}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class="form-group">
            <label class="control-label" for="{{ form.username.id_for_label }}">Username</label>
            {% if form.username.errors %}
                {{ form.username|add_class:"form-control form-error" }}
            {% else %}
                {{ form.username|add_class:"form-control"}}
            {% endif %}
            {{ form.username.errors }}
        </div>

        <div class="form-group">
            <label class="control-label" for="{{ form.email.id_for_label }}">Email</label>
            {% if form.email.errors %}
                {{ form.email|add_class:"form-control form-error" }}
            {% else %}
                {{ form.email|add_class:"form-control"}}
            {% endif %}
            {{ form.email.errors }}
        </div>

        <div class="form-group">
            <label class="control-label" for="{{ form.password1.id_for_label }}">Password</label>
            {% if form.password1.errors %}
                {{ form.password1|add_class:"form-control form-error" }}
            {% else %}
                {{ form.password1|add_class:"form-control"}}
            {% endif %}
            {{ form.password1.errors }}
        </div>

        <div class="form-group">
            <label class="control-label" for="{{ form.password2.id_for_label }}">Password repeat</label>
            {% if form.password2.errors %}
                {{ form.password2|add_class:"form-control form-error" }}
            {% else %}
                {{ form.password2|add_class:"form-control"}}
            {% endif %}
            {{ form.password2.errors }}
        </div>

        <button type="submit" value="Register" class="btn btn-primary btn-cta">{% trans "register" %}</button>
    </form>
</div>
</div>
{% endblock %}
