.block-title,
.page-title {
    margin: 0 0 25px 0;
    text-align: center;
}

.block-inner {
    padding: 0;

    img {
        margin: 20px 0;
    }
}

.rich-text {
    padding-bottom: $block-vpadding;
    text-align: left;

    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend .block-title;
    }

    p {
        margin: 0 0 $font-size-large;
    }
}

.block,
.block-inner {
    padding: $block-vpadding 0;
    font-size: $font-size-medium;
    line-height: 1.4;
    text-align: center;

    &.m-highlight,
    &.m-boxed,
    & input,
    & textarea {
        color: $body-bg;
    }

    &.m-highlight {
        background: $brand-brand1;

        .button {
            @extend .button;
        }

        a {
            color: $brand-brand2;
        }
    }

    &.m-accent {
        background-color: $gray-lighter;
    }

    &.m-highlight-purple {
        background: #3c487d;
        padding: 140px 0;

        img {
            max-width: 100%;
            height: auto;
        }

        .button {
            @extend .button;
        }

        p,
        h3,
        a,
        & {
            text-align: left;
            color: $body-bg;
        }

        .more {
            float: right;
        }
    }

    &.m-boxed {
        padding: 0;

        .container-inner {
            @extend .container-medium;
            padding: $block-vpadding 0;
            background: $brand-brand3;
        }

        .info-box-text {
            @extend .col-md-10;
            float: none;
            margin: 0 auto;
        }

        &.m-variation .container-inner {
            background: $gray-lighter;
        }
    }
}

.block + .page-body {
    margin-top: -$block-vpadding;
}

.block-image {
    padding-bottom: $block-vpadding;
    text-align: center;
}

.m-clear {
    clear: left;
}
