.info-block {
    .button {
        margin-top: 25px;
    }

    .container-inner {
        @extend .container-narrow;
    }

    .info-box-text {
        margin-bottom: 0;

        .rich-text {
            text-align: center;
        }
    }

    .info-box-image {
        margin: 0 auto 35px;
    }
}
