.responsive-object {
    position: relative;
    padding-bottom: 67.5%;
    height: 0;
    margin: 10px 0;
    overflow: hidden;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.richtext-image.full-width {
    min-width: 100%;
}

.richtext-image.left {
    max-width: 65%;
    float: left;
    margin-right: $spacer;
}

.richtext-image.right {
    max-width: 65%;
    float: right;
    margin-left: $spacer;
}
