{% extends "base.html" %}
{% load i18n thumbnail %}

{% block title %}"{{ view.organisation.name }}" {% trans "Dashboard" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<nav class="nav navbar-default dashboard-header">
    <div class="container">
        <div class="navbar-nav float-left flex-row">
            <a class="navbar-brand" href="{{ view.organisation.get_absolute_url }}">
            {% if view.organisation.logo %}
                  <img src="{{ view.organisation.logo|thumbnail_url:'avatar_small' }}" alt="{{ organisation.name }}">
              {% else %}
                  <i class="fas fa-home pt-1 mt-3" aria-label="{{ organisation.name }} {% trans 'Home' %}"></i>
            {% endif %}
            </a>

        {% include 'euth_dashboard/dropdown.html' with logo=view.organisation.logo title=view.organisation.name orgs=view.other_organisations_of_user%}
        </div>
         <ul class="dashboard-header-tabs nav nav-tabs float-right" role="tablist">
             {% url 'a4dashboard:organisation-edit' organisation_slug=view.organisation.slug as organisation_edit_url %}
            <li role="presentation" class="dashboard-header-tab {% if not request.get_full_path == organisation_edit_url %} active {% endif %}">
              <a href="{% url 'a4dashboard:project-list' organisation_slug=view.organisation.slug %}" class="nav-link dashboard-header-link" aria-controls="projects" role="presentation" >{% trans 'Projects' %}</a>
            </li>
            <li role="presentation" class="dashboard-header-tab {% if request.get_full_path == organisation_edit_url %} active {% endif %}">
              <a href="{{ organisation_edit_url }}" class="nav-link dashboard-header-link" aria-controls="organisation" role="presentation" >{% trans 'Organisation' %}</a>
            </li>
         </ul>
    </div>
</nav>

<div class="container">
    {% block dashboard_content %}{% endblock %}
</div>

{% endblock %}
