{% extends "a4dashboard/base_project_list.html" %}
{% load i18n %}

{% block title %}{% trans "Projects" %} &mdash; {{ block.super }}{% endblock%}

{% block project_list %}
    <h1 class="dashboard-content-heading">{% trans 'Projects' %}</h1>

    {% if project_list|length > 0 %}
    <ul class="dashboard-projects-list">
        {% for project in project_list %}
            {% include "a4dashboard/includes/project_list_item.html" with project=project %}
        {% endfor %}
    </ul>
    {% else %}
    <p>{% trans 'We could not find any projects.' %}</p>
    {% endif %}
{% endblock %}
