<div id="comments_for_{{contenttype}}_{{pk}}"></div>
<script>
  window.Opin.renderComment(
    "{% url 'comments-list'%}",
    "{% url 'ratings-list'%}",
    {{contenttype}},
    {{pk}},
    {{comments_contenttype.pk }},
    {{is_authenticated}},
    {% if is_moderator %}true{% else %}false{% endif %}, // is_moderator
    "{{ login_url }}",
    "comments_for_{{contenttype}}_{{pk}}",
    "{{ user_name|escapejs }}",
    "{{ language }}",
    {% if is_read_only %}true{% else %}false{% endif %})
</script>
