<div id="ratings_for_{{contenttype}}_{{pk}}"></div>
<script>
  window.Opin.renderRatings(
    "{% url 'ratings-list'%}",
    {{positive_ratings}},
    {{negative_ratings}},
    {% if user_rating %}{{ user_rating }}{% else %}null{% endif %},
    {% if user_rating_id %}{{ user_rating_id }}{% else %}null{% endif %},
    "{{ login_url }}",
    {{contenttype}},
    {{object_id}},
    {% if authenticated_as %}"{{ authenticated_as|escapejs }}"{% else %}null{% endif %},
    "ideas",
    "ratings_for_{{contenttype}}_{{pk}}",
    {% if is_read_only %}true{% else %}false{% endif %}
   )
</script>
