{% load i18n project_tags thumbnail %}
{% project_tile_image project as project_image %}
{% project_tile_image_copyright project as project_image_copyright %}


<li class="dashboard-list-listitem">
    <div class="dashboard-list-image" {% if project_image %}style="background-image: url({% thumbnail project_image '170x170' crop %})"{% endif %}>
    </div>
    <div class="dashboard-list-body">
        <div class="row dashboard-list-content">
            <div class="col-md-4">
                <h2 class="dashboard-list-name">
                    {{ project.name }}
                </h2>
                <div class="dashboard-list-labels">
                    {% if project.has_finished %}
                    <span class="badge badge-finished">{% trans "Finished" %}</span>
                    {% endif %}
                    {% if project.is_private %}
                    <span class="badge badge-private">{% trans 'private' %}</span>
                    {% elif project.is_semipublic %}
                    <span class="badge badge-private">{% trans 'semi-public' %}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="btn-group float-right dashboard-list-actions" role="group" aria-label="project actions">
                    <a href="{{ project.get_absolute_url }}" type="button" class="btn btn-gray btn-sm">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {% if project.is_draft %}
                        {% trans 'Preview' %}
                        {% else %}
                        {% trans 'View' %}
                        {% endif %}
                    </a>
                    <a href="{% url 'a4dashboard:project-edit' project_slug=project.slug %}" type="button" class="btn btn-gray btn-sm">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        {% trans 'Edit'%}
                    </a>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-gray btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      ...
                        </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <form method="post" class="">
                                        {% csrf_token %}
                                        <input type="hidden" name="project_pk" value="{{ project.pk }}">
                                        <button type="submit" name="duplicate" value="{{ project }}"
                                                class="">
                                            <i class="far fa-copy" aria-hidden="true"></i>
                                            {% trans 'Duplicate' %}
                                        </button>
                                    </form>
                                </li>
                                <li class="dropdown-item">
                                    <a href="#" class="u-fontweight-normal" data-toggle="modal" data-target="#project{{ project.pk }}DeleteModal">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        {% trans 'delete' %}
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>

<div class="modal fade" id="project{{ project.pk }}DeleteModal" tabindex="-1" role="dialog" aria-labelledby="projectDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="project{{ project.pk }}DeleteModal">{% blocktrans with project_name=project.name %} Are you sure you want to delete the project '{{ project_name }}'? {% endblocktrans %}</h2>
            </div>
            <div class="modal-footer">
                <form action="{% url "project-delete" pk=project.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn--primary">{% trans 'delete' %}</button>
                    <button type="button" class="btn btn--secondary" data-dismiss="modal">{% trans 'cancel' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
