{% extends "base.html" %}
{% load i18n react_comments_async react_ratings thumbnail rules avatar %}

{% block title %}{{ topic.name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="container-medium">
        <div class="action-bar">
            <nav class="navbar navbar-default navbar-static">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'project-detail' topic.project.slug %}">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            {% trans 'back to project' %}</a>
                    </li>
                </ul>
                {% has_perm 'euth_communitydebate.modify_topic' request.user topic as show_dropdown %}
                {% if show_dropdown %}
                <ul class="nav navbar-nav navbar-right ml-auto">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                           <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a href="{% url 'topic-update' slug=topic.slug %}">{% trans 'Edit' %}</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="" data-toggle="modal" data-target="#myModal">{% trans 'Delete' %}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </nav>
        </div>

        <div class="idea-body">
            <div class="idea-title">
                <h1>{{ topic.name }}</h1>
            </div>

            <div class="avatar-small">
                <span class="circled circled-xs" style="background-image: url({% get_avatar topic.creator 'avatar_small' %})"></span>
                <a href="{% url 'profile' topic.creator.username %}" class="name">{{ topic.creator.username }}</a>
                {% if author_is_moderator %} <span class="badge badge-subtle">{% trans 'Moderator' %}</span> {% endif %}
            </div>

            <div class="row">
                <div class="{% if topic.image %}col-md-6{% else %}col{% endif %}">

                    {% if topic.category %}
                    <span class="badge badge-secondary label-xs">{{ topic.category }}</span>
                    {% endif %}

                    <div class="idea-description">
                        <p>{{ topic.description |safe }}</p>
                    </div>

                    {% if upload_files.count > 0 %}
                    <div class="idea-description">
                        <h4>{% trans 'Downloads' %}</h4>
                        <ul>
                        {% for fileupload in upload_files %}
                        <li>
                        <a target="_blank" href="{{ fileupload.document.url }}">{{ fileupload.title }}</a>
                        </li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>

                {% if topic.image %}
                <div class=col-md-6>
                    <img class="idea-image" src="{{ topic.image | thumbnail_url:'idea_image'}}" style="width: 100%;">
                  </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col">
                    {% react_ratings topic %}
                </div>
            </div>

            <div class="black-divider">
                {% trans 'Comments'%}
            </div>
            <div>
                {% react_comments_async topic True %}
            </div>
       </div>
    </div>
</div>

{% include "euth_communitydebate/includes/modal.html" with topic=topic %}

{% endblock %}
