{% extends 'euth_projects/project_detail.html' %}
{% load i18n discovery_tags idea_tags %}

{% block phase_content %}
<div class="container-medium">

    <div class="idea-list">
        {% has_or_would_have_perm 'euth_communitydebate.propose_topic' request.user view.module as add_button_enabled %}
        {% if add_button_enabled %}
        <a href="{% url 'topic-create' slug=view.module.slug %}" class="idea-list-button" id="topic-create">
            <i class="fa fa-plus idea-list-button-icon" aria-hidden="true"></i>
            {% trans 'Create Topic' %}
        </a>
        {% endif %}

        <div id="idea-list">
            <div class="filter-bar">
            {% for field in view.filter.form %}
            {% if field.name != 'ordering' %}
            <div class="filter d-none d-sm-block projects-filter-{{ field.name }}">
                {{ field }}
            </div>
            {% else %}
            <div class="ordering d-none d-sm-block projects-filter-{{ field.name }}">
                {{ field }}
            </div>
            {% endif %}
            <div class="d-sm-none projects-filter-{{ field.name }}">
                {{ field }}
            </div>
            {% endfor %}
            </div>

          {% if topic_list.count > 0 %}
          {% for topic in topic_list %}
          {% include "euth_communitydebate/includes/topic_list_tile.html" with topic=topic %}
          {% endfor %}


          {% if is_paginated %}
          {% include "euth_ideas/includes/pagination.html"%}
          {% endif %}
          {% else %}
          <div class="infotext">
              {% trans 'No topics found' %}
          </div>
          {% endif %}
        </div>
    </div>
</div>
{% endblock %}
