{% load i18n thumbnail static avatar %}
<div class="idea-list-tile">
    {% if idea.image %}
    <a href="{% url 'idea-detail' idea.slug %}" class="idea-tile-image-link" style="background-image: url({{ idea.image | thumbnail_url:'idea_thumbnail' }});">
    </a>
    {% else %}
    <a href="{% url 'idea-detail' idea.slug %}" class="idea-tile-image-link">
    </a>
    {% endif %}
    <div class="idea-tile-body">
        <div class="row flex-sm-row-reverse">
            <div class="col-sm-4 col-lg-3 idea-meta">
                <span class="idea-upvotes idea-meta-item">{{ idea.positive_rating_count }} <i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                <span class="idea-downvotes idea-meta-item">{{ idea.negative_rating_count }} <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                <span class="idea-comments-count idea-meta-item">{{ idea.comment_count }} <i class="far fa-comment" aria-hidden="true"></i></span>
            </div>
            <div class="col-sm-8 col-lg-9">
                <h3 class="idea-tile-title">
                    <a href="{% url 'idea-detail' idea.slug %}">
                    {{ idea.name }}
                    </a>
                </h3>

                {% if idea.category %}
                <span class="badge badge-secondary label-xs">{{ idea.category }}</span>
                {% endif %}

                <div class="avatar-small">
                    <span class="circled circled-xs" style="background-image: url({% get_avatar idea.creator 'avatar_small' %})"></span>
                    <a href="{% url 'profile' idea.creator.username %}" class="name">{{ idea.creator.username }}</a>
                    <span class="idea-date"> {{ idea.created |date }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
