{% load i18n %}
<div class="dropdown sort-dropdown float-right">
    {% trans 'Sort by' %}
    <a id="drop" type="button" data-toggle="dropdown"
        role="button" aria-haspopup="true" aria-expanded="false">
        {{ view.get_current_sortname }}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="drop">
        {% for sort, sort_name in view.sorts %}
            <li class="dropdown-item">
                {% if view.sort == sort %}
                    <a><strong>{{ sort_name }}</strong></a>
                {% else %}
                    <a href="?sort={{sort}}#idea-list">{{ sort_name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
