<div id="rates_for_{{contenttype}}_{{pk}}"></div>
<script>
  window.Opin.renderRates(
    "{% url 'rates-list'%}",
    {{positive_rates}},
    {{negative_rates}},
    {% if user_rate %}{{ user_rate }}{% else %}null{% endif %},
    {% if user_rate_id %}{{ user_rate_id }}{% else %}null{% endif %},
    "{{ login_url }}",
    {{contenttype}},
    {{object_id}},
    {% if authenticated_as %}"{{ authenticated_as|escapejs }}"{% else %}null{% endif %},
    "ideas",
    "rates_for_{{contenttype}}_{{pk}}",
    {% if is_read_only %}true{% else %}false{% endif %}
   )
</script>
