{% load i18n project_tags thumbnail %}
{% project_tile_image project as project_image %}
{% project_tile_image_copyright project as project_image_copyright %}

<li class="dashboard-list-listitem">
            <div class="row dashboard-list-content">
                <div class="col-md-5">
                    <h2 class="dashboard-list-name">
                        {{ object.name }}
                    </h2>
                    <p>{{ object.date }}</p>
                </div>
                <div class="col-md-7">
                    <div class="btn-group float-right dashboard-list-actions" role="group" aria-label="project actions">
                        <a href="{% url 'offlineevent-detail' object.pk %}" type="button" class="btn btn-gray btn-sm">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            {% trans 'View' %}
                        </a>
                        <a href="{% url 'a4dashboard:offlineevent-update' object.slug %}" type="button" class="btn btn-gray btn-sm">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                            {% trans 'Edit'%}
                        </a>
                        <a href="{% url 'a4dashboard:offlineevent-delete' object.slug %}" type="button" class="btn btn-gray btn-sm">
                            <i class="fas fa-times" aria-hidden="true"></i>
                            {% trans 'Delete'%}
                        </a>
                </div>
            </div>
        </div>
</li>
