{% load static i18n infopage wagtailsettings_tags %}
{% get_settings %}

<div class="modal fade dst-modal-infopage" id="dst-infopage-{{ blueprint_slug }}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="blueprint-modal-image">
            <img class="blueprint-image" src="{% static blueprint.image %}" alt="{{ blueprint.title }}">
            <h2 class="sans-serif h4">{{ blueprint.title }}</h2>
        </div>

        <div class="blueprint-description border-bottom">
            {{ blueprint.description | linebreaks }}
            <a href="{% url 'a4dashboard:project-create' organisation_slug=view.organisation.slug blueprint_slug=blueprint_slug %}" class="btn btn-primary">
            {% trans 'Use this template' %}
            </a>
        </div>

        <div class="blueprint-phases border-bottom">
            <h4>{% trans 'Project Phases' %}</h4>

            <ul class="list-unstyled">
                {% for phase_content in blueprint.content %}
                    <li class="phase-description">
                          <span class="icon fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x onlinephase"></i>
                            <i class="{% if phase_content.icon %}{{ phase_content.icon }}{% else %}fas fa-mouse-pointer{% endif %} fa-fw fa-stack-1x onlinephase" aria-hidden="true"></i>
                          </span>
                          <div class="description">
                            <strong>Phase {{ forloop.counter }}</strong><p>{{ phase_content.description }}</p>
                          </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% get_project settings.home.HelpPages blueprint as p %}
        {% if p %}
        <div class="blueprint-project border-bottom">
          <h4>{% trans 'Check out the example project' %}</h4>

           {% include 'euth_projects/includes/project_tile.html' with project=p open_in_new_tab=True %}
        </div>
        {% endif %}

        {% if time %}
        <div class="blueprint-effort border-bottom">
          <h4>{% trans 'Estimated effort' %}</h4>

          {% blocktrans %}
          <div class="box">
            <span>{{time}} hours</span>
          </div>
          <span>per week</span>
          {% endblocktrans %}

        </div>
        {% endif %}

        {% with settings.home.HelpPages.guidelines_page as guidelines %}
        {% if guidelines and guidelines.live %}
        <div class="blueprint-guidelines border-bottom">
          <h4>{% trans 'Guidelines for a successful project' %}</h4>

          <div class="inspirations">
            <strong>{% trans 'Get inspiration and tips for' %}</strong>
            <ul>
              <li>{% trans 'setting up your participation project' %}</li>
              <li>{% trans 'activation and motivation of participants' %}</li>
              <li>{% trans 'moderation of discussions' %}</li>
              <li>{% trans 'and more' %}</li>
            </ul>

            <a href="{{ guidelines.url }}" target="_blank" >{% trans 'Check out the guidelines!' %}</a>
          </div>

        </div>
        {% endif %}
        {% endwith %}

        <div class="blueprint-footer">
            <a href="{% url 'a4dashboard:project-create' organisation_slug=view.organisation.slug blueprint_slug=blueprint_slug %}" class="btn btn-primary">
            {% trans 'Use this template' %}
            </a>
        </div>


    </div>
  </div>
</div>
