{% load i18n static %}

<div class="tab-pane" id="finetuning">
    <div class="dst-lightbox-header">
        <a class="dst-lightbox-button js-back"><i class="fa fa-chevron-left"></i> {% trans 'Back' %}</a>
        <div class="dst-lightbox-info pull-right">{% trans 'Decision support tool' %}</div>
    </div>
    <h2 class="h3">{% trans 'Fine tuning' %}</h2>
    <div class="row">
        <div class="col-md-3">
            {% include 'euth_blueprints/includes/rangebuttons.html' with field=form.participants %}
        </div>
        <div class="col-md-3">
            {% include 'euth_blueprints/includes/rangebuttons.html' with field=form.scope %}
        </div>
        <div class="col-md-3">
            {% include 'euth_blueprints/includes/rangebuttons.html' with field=form.duration %}
        </div>
        <div class="col-md-3">
            {% include 'euth_blueprints/includes/rangebuttons.html' with field=form.accessibility %}
        </div>
    </div>
    <div class="row">
        {% include 'euth_blueprints/includes/breadcrumbs.html' with finetuning2=True %}

        <div class="col-md-6">
            <button class="btn btn-primary pull-right js-send" type="submit">{% trans 'Proceed' %}</button>
        </div>
    </div>
</div>

