{% load i18n static %}

<div class="tab-pane active" id="aim">
    <div class="dst-lightbox-header">
        <a class="dst-lightbox-button" href="{% url 'a4dashboard:blueprint-list' view.kwargs.organisation_slug %}">
            <i class="fa fa-chevron-left"></i> {% trans 'Cancel' %}
        </a>
        <div class="dst-lightbox-info float-right">{% trans 'Decision support tool' %}</div>
    </div>
    <h2 class="mt-3">{% trans 'What do you want to do in your participation project?' %}</h2>
    <div class="row dst-lightbox-entry">
        <div class="col-sm-6"><b>{% trans 'My Aim' %}</b></div>
        <div class="col-sm-6"><b>{% trans 'Use Cases' %}</b></div>
    </div>
    {% for radio in form.aim_choices %}
        <div class="row dst-lightbox-entry {% if forloop.last %} dst-lightbox-lastentry {% endif %}">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="aim" id="aim_{{ forloop.counter }}"
                                   value="{{ radio.value }}">
                            {{ radio.label }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <ul>
                    {% for example in radio.example %}
                        <li>{{ example }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        {% include 'euth_blueprints/includes/breadcrumbs.html' with aim=True %}

        <div class="col-md-4">
            <button type="button"
                    class="btn btn-primary float-right js-continue">{% trans 'Proceed' %}
            </button>
        </div>
    </div>
</div>
