{% load i18n static %}

<div class="tab-pane" id="finetuning">
    <div class="dst-lightbox-header">
        <a class="dst-lightbox-button js-back"><i class="fa fa-chevron-left"></i> {% trans 'Back' %}</a>
       <div class="dst-lightbox-info float-right">{% trans 'Decision support tool' %}</div>
    </div>
    <h2 class="mt-3">{% trans 'Feasibility' %}</h2>
    <p>{% trans 'The questions below help us to estimate the effort you will have to invest to make your project a success!' %}</p></br>
    <div class="row">
        <div class="col-md-3">
            {% include 'euth_blueprints/includes/rangebuttons.html' with field=form.participants %}
        </div>
        <div class="col-md-3">
            {% include 'euth_blueprints/includes/rangebuttons.html' with field=form.scope %}
        </div>
        <div class="col-md-3">
            {% include 'euth_blueprints/includes/rangebuttons.html' with field=form.duration %}
        </div>
        <div class="col-md-3">
            {% include 'euth_blueprints/includes/rangebuttons.html' with field=form.accessibility %}
        </div>
    </div>
    <div class="row">
        {% include 'euth_blueprints/includes/breadcrumbs.html' with feasibility=True %}

        <div class="col-md-4">
            <button class="btn btn-primary float-right js-send" type="submit">{% trans 'Proceed' %}</button>
        </div>
    </div>
</div>
