{% load thumbnail react_follows project_tags i18n rules %}

<header class="herounit" style="{% if project.image %}
               background-image: url({{ project.image |thumbnail_url:'heroimage' }});
               {% endif %}">
    <div class="container">
        <div class="container-narrow">
            <div class="herounit-header">

                {% get_days project.days_left as days %}
                <p>
                    {% if project.is_private %}
                    <span class="badge badge-private">{% trans 'private' %}</span>
                    {% elif project.is_semipublic %}
                    <span class="badge badge-private">{% trans 'semi-public' %}</span>
                    {% endif %}
                    {% if project.is_archived %}
                    <span class="badge badge-archived">{% trans 'archived' %}</span>
                    {% elif project.has_finished %}
                    <span class="badge badge-finished">{% trans 'finished' %}</span>
                    {% elif days %}
                    <span class="badge badge-runningout">{{ days }}</span>
                    {% endif %}
                </p>

                <h1 class="herounit-title">{{ project.name }}</h1>
                <p class="herounit-link">
                    {% trans 'by' %}
                    <a href="{% url 'organisation-detail' slug=project.organisation.slug %}">
                        {{ project.organisation }}
                    </a>
                </p>
                <p class="herounit-description">{{ project.description | truncatechars:200 }}</p>

                {% has_perm 'a4projects.change_project' user project as can_change_project %}
                {% if can_change_project %}
                    <a href="{% url 'a4dashboard:project-edit' project.slug %}" class="btn btn-dark btn-primary btn-sm">
                        <i class="fa fa-edit"></i> {% trans 'edit' %}
                    </a>
                {% endif %}

                {% has_perm 'a4projects.view_project' request.user project as can_view_project %}
                {% block phase_cta %}{% endblock %}
                {% if can_view_project %}
                    {% react_follows project %}
                {% endif %}
            </div>
        </div>
    </div>
</header>
