{% load i18n project_tags thumbnail follow_tags %}
{% get_class project as class %}
<div class="teaserlist-item {{ class }} {% if not project.image %} no-image {% endif %}"
     style="{% if project.image %}background-image: url({{ project.image|thumbnail_url:'heroimage_preview' }}){% endif %}">
    <div class="teaserlist-body">
        {% get_days project.days_left as days %}
        <p>
            {% if project.is_private %}
                <span class="badge badge-private">{% trans 'private' %}</span>
            {% elif project.is_semipublic %}
                <span class="badge badge-private">{% trans 'semi-public' %}</span>
            {% endif %}
            {% if project.has_finished %}
                <span class="badge badge-finished">{% trans 'finished' %}</span>
            {% elif days %}
                <span class="badge badge-runningout">{{ days }}</span>
            {% endif %}
        </p>
        <h3 class="sans-serif"><a href="{% url 'project-detail' project.slug %}">{{ project }}</a></h3>
        {% if project.active_phase %}
            {% trans 'Phase' %} {{ project.module_set.first.phases_passed|length|add:1 }}:
            {{ project.active_phase.content.name }}
        {% endif %}
        <p class="avatar">
            <img src="{{ project.organisation.logo|thumbnail_url:'org_avatar_medium' }}" height="30" width="30" alt=""/>
            <span class="name">{{ project.organisation.name }}</span>
        </p>
        <div class="teaserlist-actions">
            {% if follow_user in project.participants.all %}
                <i class="fa fa-user"></i>
            {% endif %}
            {% is_following follow_user project as is_follower %}
            {% if is_follower %}
                <i class="fa fa-star"></i>
            {% endif %}
        </div>
    </div>
</div>
