{% load thumbnail %}
<header class="euth-hero-unit" style="{% if project.image %}
               background-image: url({{ project.image |thumbnail_url:'heroimage' }});
               {% endif %}">
    <div class="container">
        <div class="container-narrow">
            <div class="euth-hero-unit-header">
                {% if project.organisation.logo %}
                <div class="euth-hero-unit-logo">
                    <img src="{{ project.organisation.logo|thumbnail_url:'avatar_medium'}}" alt="" />
                </div>
                {% endif %}
                <p class="org-badge-title">{{ project.organisation }}</p>
                <h1 class="euth-hero-unit-title">{{ project.name }}</h1>
                <p class="euth-hero-unit-description">{{ project.description | truncatechars:200 }}</p>
                {% block phase_cta %}{% endblock %}
            </div>
        </div>
    </div>
</header>
