{% load i18n project_tags project_class_tags thumbnail static %}
{% get_class project as class %}

<div class="project-tile project-tile-{{ class }} {% if not project.image %} project-tile-no-image {% endif %}">
    <a href="{% url 'project-detail' project.slug %}" class="project-tile-image-link"
       style="background-image: url('{% if project.image %} {{ project.image|thumbnail_url:'project_thumbnail' }} {% else %}{% static "images/placeholder.png" %}{% endif %}');" {% if open_in_new_tab %}target="_blank"{% endif %}>
        <img src="{% if project.image %} {{ project.image|thumbnail_url:'project_thumbnail' }} {% else %}{% static "images/placeholder.png" %}{% endif %}" class="project-tile-image img-fluid">

        {% get_days project.days_left as days %}
        {% if project.is_archived %}
        <p class="badge badge-archived">{% trans 'archived' %}</p>
        {% elif project.is_private %}
        <p class="badge badge-private">{% trans 'private' %}</p>
        {% elif project.is_semipublic %}
        <p class="badge badge-private">{% trans 'semi-public' %}</p>
        {% elif project.has_finished %}
        <p class="badge badge-finished">{% trans 'finished' %}</p>
        {% elif days %}
        <p class="badge badge-runningout">{{ days }}</p>
        {% endif %}
    </a>
    <div class="project-tile-body">
        <h2 class="project-tile-title"><a href="{% url 'project-detail' project.slug %}" {% if open_in_new_tab %}target="_blank"{% endif %}>{{ project }}</a></h2>
        <p class="project-tile-teaser">{{ project.description|truncatechars:200 }}</p>
        <div class="row project-tile-org">
            {% if project.organisation.logo %}
            <div class="col-md-2 col-2 project-tile-org-image">
                <img src="{{ project.organisation.logo|thumbnail_url:'org_avatar_medium' }}" class="project-tile-org-avatar" height="30" width="30" />
            </div>
            {% endif %}
            <a href="{% url 'organisation-detail' project.organisation.slug %}" class="col-10 project-tile-org-name" {% if open_in_new_tab %}target="_blank"{% endif %}>{{ project.organisation.name }}</a>
        </div>
    </div>
</div>
