{% load i18n wagtailimages_tags wagtailcore_tags %}
{% image organisation.logo width-80 as logo %}
<div class="org-tile">
	<a href="{% pageurl organisation %}" class="org-tile-image-link" style="background-image: url({{ logo.url }})">
	</a>
	<div class="org-tile-body col-md-10 col-md-offset-2">
			<h2 class="org-tile-title">
				<a href="{% pageurl organisation %}">
					{{ organisation.translated_title }}
				</a>
			</h2>
		<p class="org-tile-teaser">{{ organisation.teaser }}</p>
	</div>
</div>