{% load i18n wagtailimages_tags wagtailcore_tags %}
{% image organisation.image fill-400x200 as original %}
<div class="org-item">
	<a href="{% pageurl organisation %}" class="project-tile-image-link"style="background-image: url('{{ original.url }}');">
		{% image organisation.image fill-800x400 class="project-tile-image img-responsive" %}
	</a>
	<div class="org-item-body">
		<h2 class="org-item-title">{{ organisation.translated_title }}</h2>
		<p class="org-item-teaser">{{ organisation.teaser }}</p>
	</div>
</div>