{% load i18n wagtailimages_tags wagtailcore_tags %}
{% image project.image fill-800x400 as original %}
<div class="project-tile style-{{project.projecttype|slugify}}">
	<a href="{% pageurl project %}" class="project-tile-image-link"style="background-image: url('{{ original.url }}');">
		{% image project.image fill-800x400 class="project-tile-image img-responsive" %}
	</a>
	<div class="project-tile-body">
		<p class="project-tile-type">{{project.projecttype}}</p>
		<h2 class="project-tile-title"><a href="{% pageurl project %}">{{ project.translated_title }}</a></h2>
		<p class="project-tile-teaser">{{ project.teaser }}</p>
		<div class="project-tile-org">
			<div class="project-tile-org-img-container">{% image project.organisation.logo width-55 class="project-tile-org-image img-responsive" %}</div>
			<p class="project-tile-org-title">{{ project.organisation.title }}</p>
		</div>
	</div>
</div>