{% extends 'euth_projects/project_detail.html' %}
{% load i18n rules idea_tags %}

{% block phase_content %}
<div class="container-medium">
    <div class="idea-list">
        {% has_perm 'euth_ideas.propose_idea' request.user view.module as add_button_enabled %}
        {% if add_button_enabled %}
        <a href="{% url 'idea-create' slug=view.module.slug %}" class="idea-list-button" id="idea-create">
            <i class="fa fa-plus idea-list-button-icon" aria-hidden="true"></i>
            {% trans 'Create Proposal' %}
        </a>
        {% endif %}

        {% if view.sorts and idea_list.count > 1 %}
        {% include "euth_ideas/includes/sort.html" %}
        {% endif %}

        {% for idea in idea_list %}
        {% include "euth_ideas/includes/idea_list_tile.html" with idea=idea %}
        {% endfor %}

        {% if is_paginated %}
        {% include "euth_ideas/includes/pagination.html"%}
        {% endif %}

    </div>
</div>
{% endblock %}
