{% extends 'euth_projects/project_detail.html' %}
{% load i18n rules %}

{% block phase_content %}
<div class="idea-list">
    {% has_perm 'euth_ideas.propose_idea' request.user view.module as add_button_enabled %}
    {% if add_button_enabled %}
    <a href="{% url 'idea-create' slug=view.module.slug %}" class="idea-list-button" id="idea-create">
        <i class="fa fa-plus idea-list-button-icon" aria-hidden="true"></i>
        {% trans 'Create Proposal' %}
    </a>
    {% endif %}

    {% if view.sorts and idea_list.count > 1 %}
        <div class="dropdown sort-dropdown pull-right">
            {% trans 'Sort by' %}
            <a id="drop" class="dropdown-toggle" type="button" data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">
                {{ view.get_current_sortname }}
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="drop">
                {% for sort, sort_name in view.sorts %}
                    <li>
                        {% if view.sort == sort %}
                            <a><strong>{{ sort_name }}</strong></a>
                        {% else %}
                            <a href="?sort={{sort}}#idea-create">{{ sort_name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% for idea in idea_list %}
    {% include "euth_ideas/includes/idea_list_tile.html" with idea=idea %}
    {% endfor %}

</div>
{% endblock %}
