{% extends 'euth_projects/project_detail.html' %}
{% load i18n rules %}

{% block phase_content %}
<div class="idea-list">
    <h2>{{ view.phase.name }}</h2>

    <p class="idea-list-description">{{ view.phase.description }} </p>

    <div class="badge-group">
        <span class="badge">
            <strong>{% trans 'Start Date' %}</strong>
            {{ view.phase.start_date.date }}
        </span>
        <span class="badge">
            <strong>{% trans 'End Date' %}</strong>
            {{ view.phase.end_date.date }}
        </span>
    </div>

    {% if view.sorts %}
    <div class="dropdown">
        <a id="drop" class="dropdown-toggle" type="button" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
            {% trans 'sort by' %}
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="drop">
            {% for sort_name, sort in view.sorts %}
            <li>
                {% if view.sort == sort %}
                <a><strong>{{ sort_name }}</strong></a>
                {% else %}
                <a href="?sort={{sort}}">{{ sort_name }}</a>
                {% endif %}
            </li>
            {% endfor %}
            {% if view.sort_default %}
            <li>
                {% trans "default" as sort_name %}
                {% if view.sort == view.sort_default %}
                <a><strong>{{ sort_name }}</strong></a>
                {% else %}
                <a href=".">{{ sort_name }}</a>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

    {% has_perm 'euth_ideas.propose_idea' request.user view.module as add_button_enabled %}
    {% if add_button_enabled %}
    <a href="{% url 'idea-create' slug=view.module.slug %}" class="idea-list-button">
        <i class="fa fa-plus idea-list-button-icon" aria-hidden="true"></i>
        {% trans 'Create Proposal' %}
    </a>
    {% endif %}

    {% for idea in idea_list %}
    {% include "euth_ideas/includes/idea_list_tile.html" with idea=idea %}
    {% endfor %}

</div>
{% endblock %}
