{% extends "base.html" %}
{% load i18n react_comments thumbnail%}

{% block content %}
<div class="container-narrow">
    <div class="action-bar">
        <nav class="navbar navbar-default navbar-static">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'project-detail' idea.project.slug %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans 'back to project' %}</a>
                </li>
            </ul>
            {% if request.user == idea.creator %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="drop" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop">
                        <li>
                            <a href="{% url 'idea-update' idea.slug %}">{% trans 'Edit' %}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="">{% trans 'Delete' %}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </nav>
    </div>

    {% if idea.image %}
    <img class="idea-image" src="{{ idea.image.url }}" style="width: 100%;">
    {% endif %}

    <div class="idea-title">
        <h1>{{ idea.name }}</h1>
    </div>

    <div class="avatar-small">
        <img src=""></img>
        <div class="name">{{ idea.creator.username }}</div>
    </div>

    <div class="idea-description">
        <p>{{ idea.description |safe }}</p>
    </div>

    <div>
        {% react_comments idea %}
    </div>
</div>
{% endblock %}
