{% extends "base.html" %}
{% load widget_tweaks i18n %}
{% block content %}
<div class="container-narrow">
    <div class="project-link">
        <a href="{% url 'project-detail' project.slug %}">{% trans 'Back to project' %}</a>
    </div>
    {{ project }}
    <div class="idea-form">
        <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group {% if field.errors %}has-error {% endif %}">
                        <label for="exampleInputEmail1">{{ field.label }}</label>
                        {% render_field field class="form-control" %}
                        {% if field.errors %}
                        <span class="help-block">{{ field.errors.0 }}</span>
                        {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{% endblock %}