{% load i18n avatar %}
<div class="dashboard-content-section">
    <h2 class="dashboard-content-subheader">{% trans 'Membership Requests' %}</h2>
    {% if request_formset.forms %}
    <form method="post">
        {% csrf_token %}
        {{ request_formset.management_form }}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Email' %}</th>
                <th>{% trans 'Edit' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for form in request_formset %}
            <tr>
                <td>
                    <a href="{% url 'profile' form.instance.creator.username %}">
                        <img src="{% get_avatar form.instance.creator 'org_avatar_medium' %}" alt="" class="circled"> {{ form.instance.creator.username }}
                    </a>
                    <span class="badge badge-subtle">{% trans 'Request' %}</span>
                </td>
                <td>
                    <strong>{{ form.instance.creator.email }}</strong>
                </td>
                <td>
                    {{ form.id }}
                    {% for radio in form.action %}
                    <div class="radio-action">
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}"
                               class="{{ radio.choice_label|lower }} radio-label">
                            <span class="radio-text sr-only">{{ radio.choice_label }}</span>
                        </label>
                    </div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" name="submit_action" value="update_request">{% trans 'submit' %}</button>
    </form>
    {% else %}
    <p>{% trans 'No membership requests at the moment'%}</p>
    {% endif %}
</div>
