{% load i18n avatar %}
<div class="dashboard-content-section">
    <h2 class="dashboard-content-subheader">{% trans 'Membership Invites'%}</h2>
    {% if invite_formset.forms %}
    <form method="post">
        {% csrf_token %}
        {{ invite_formset.management_form }}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'Edit' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for form in invite_formset %}
                <tr>
                    <td>
                        <strong class="text-uppercase text-danger">{% trans 'Pending' %}</strong>
                    </td>
                    <td><strong>{{ form.instance.email }}</strong></td>
                    <td>
                        {{ form.id }}
                        <div class="radio-action">
                            {{ form.delete }}
                            <label for="{{ form.delete.id_for_label }}"
                                   class="{{ form.delete.label|lower }} radio-label">
                                <span class="radio-text sr-only">{{ form.delete.label }}</span>
                            </label>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" name="submit_action" value="remove_invites">{% trans 'Remove Invites'%}</button>
    </form>
    {% else %}
    <p>{% trans 'No membership invites pending' %}</p>
    {% endif %}
</div>
