{% extends "base.html" %}
{% load i18n static tz time_delta_tags flashpoll_form_tags %}

{% block title %}{{view.project.name}}{% endblock %}
{% block extra_js %}
<script src="{% static 'euth_projects/timeline-popover.js' %}"></script>
{% endblock %}
{% block content %}
{% include 'euth_projects/includes/project_hero_unit.html' with project=view.project %}
{% with view.project.phases as phases %}
    <div class="timeline">
        <p class="text-uppercase">Timeline</p>
        <ul>
            {% for phase in phases %}
                <li class="{% if phase == view.project.active_phase %}active{% endif %} timeline-phase">
                    {% if phase in view.project.past_phases or phase == view.project.active_phase %}<a href="?phase={{ phase.weight }}">{% endif %}
                    <div class="dot" title="{% trans "Phase" %} {{ forloop.counter }}/{{ phases|length }}
                         {% if phase == view.project.active_phase %}
                             <div class='label label-secondary label-xs pull-right'>{% trans 'Active phase' %}</div>
                         {% endif %}"
                         data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top"
                         id="button-phase-{{ forloop.counter }}"
                         data-content="
                                <p class='small'>{{ phase.start_date|date:"SHORT_DATETIME_FORMAT" }} - {{ phase.end_date|date:"SHORT_DATETIME_FORMAT" }}</p>
                                <h4>{{ phase.name }}</h4>
                            "></div>

                    {% if phase in view.project.past_phases or phase == view.project.active_phase %}</a>{% endif %}
                    {% if not forloop.last and phases|length > 1 %}
                        <span class="timeline-arrow fa fa-caret-right"></span>
                        <span class="timeline-arrow fa fa-caret-right hidden-xs"></span>
                        <span class="timeline-arrow fa fa-caret-right hidden-xs"></span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endwith %}
<nav class="tabs">
    <div class="container">
        <ul>
            <li class="col-md-4"><a href="#information" data-toggle="tab" class="tab">{% trans "Information" %}</a></li>
            <li class="col-md-4 active"><a href="#participation" data-toggle="tab" class="tab">{% trans "Participation" %}</a></li>
            <li class="col-md-4"><a href="#result" data-toggle="tab" class="tab">{% trans "Result" %}</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <article id="information" class="tab-panel">
        <div class="container-narrow">
            <h3 class="tab-panel-title">{% trans "info" %}</h3>
            <div class="tab-panel-description usercontent">
                {{ view.project.information |safe|linebreaks }}
            </div>
        </div>
    </article>
    <article id="participation" class="tab-panel active">
        <div class="tab-panel-description">            
            {% if not view.phase %}
              {% trans 'Welcome!' as title %}
              {% trans 'This project has not started yet!' as text %}
              {% include 'euth_contrib/includes/info_note.html' with image='images/project_info_note.png' title=title text=text %}
            {% endif %}

            {% if view.phase and view.phase.is_over %}
              {% if view.project.future_phases or view.project.active_phase  %}
                {% trans 'Thanks for participating!' as title %}
                {% trans 'This phase is already over. Thanks a lot to everyone for taking part in the project! The next phase will start soon.' as text %}
                {% include 'euth_contrib/includes/info_note.html' with image='images/project_info_note.png' title=title text=text %}
              {% else %}
                {% trans 'Thanks for participating!' as title %}
                {% trans 'This project is already over. Thanks a lot to everyone for taking part in the project!' as text %}
                {% include 'euth_contrib/includes/info_note.html' with image='images/project_info_note.png' title=title text=text %}
              {% endif %}
            {% endif %}

            {% if view.phase %}
            <div class="container-narrow">
                <h2>{{ view.phase.name }}</h2>
                {% if view.phase and not view.phase.is_over %}
                <div>
                    {% get_time_left view.phase.end_date as time_left %}
                    <strong>
                        {% trans 'This phase ends in' %}
                        {{ time_left }}
                    </strong>
                    <br />
                    <p class="tab-panel-times">
                    {{ view.phase.start_date|date:'SHORT_DATETIME_FORMAT' }}
                    -
                    {{ view.phase.end_date|date:'SHORT_DATETIME_FORMAT' }}
                    {% trans '(Your Timezone: ' %}
                    {% get_current_timezone as TIME_ZONE %}
                    {{ TIME_ZONE }})
                    </p>
                </div>
                {% endif %}
                <p class="idea-list-description">{{ view.phase.description }} </p>
            </div>
            {% endif %}


            {% block phase_content %}{% endblock %}
        </div>
    </article>
    {% if module_settings == "euth_flashpoll" %}        
        {% include 'euth_flashpoll/includes/project_result_flashpoll_tab.html' with form=form view=view %}        
    {% else %}
    <article id="result" class="tab-panel">
        <div class="container-narrow">
            <div class="tab-panel-description project usercontent">                               
                {% trans 'The initiator hasn’t provided information on the expected outcome of the project yet.' as no_results %}
                {{ view.project.result |default:no_results|safe|linebreaks }}               
            </div>
        </div>
    </article>    
    {% endif %}  
</div>
{% if view.project.other_projects %}
<div class="project-other-projects">
    <div class="black-divider">
        <div class="container">
            <div class="container-narrow">
                <div class="black-divider-text">
                    <span>
                        {% trans 'other projects from this organisation'%}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% include "euth_projects/includes/project_carousel.html" with projects=view.project.other_projects %}
    </div>
</div>
{% endif %}


{% endblock %}