{% extends "base.html" %}
{% load i18n %}
{% block content %}
<header style="{% if project.background %}
               background-image: url({{ project.background.url }});
               {% endif %}" class="euth-hero-unit">
    <div class="container">
        <div class="container-narrow">
            <div class="euth-hero-unit-header">
                <h1>{{ project.name }}</h1>
                <p>{{ project.description }}</p>
                <a href="#" class="button">Create Proposal</a>
            </div>
        </div>
    </div>
</header>
<nav class="tabs">
    <div class="container">
        <ul class="container-narrow">
            <li class="col-md-4"><a href="#panel-info" class="m-selected tab">Informations</a></li>
            <li class="col-md-4 dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Idea Collection <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Text Commenting</a></li>
                    <li><a href="#">Offline Workshop</a></li>
                    <li><a href="#">Result</a></li>
                </ul>
            </li>
            <li class="col-md-4"><a href="#panel-participation" class="tab">Offline Workshop</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="container-narrow">
      <article id="panel-info" class="tab-panel">
        <h3>{% trans "info" %}</h3>
        {{ project.description }}

        <div id="project-tile-grid" class="organisation-tiles owl-carousel">
            <div class="project-tile-container">
                <div class="project-tile style-">
                    <a href="/en/projects/corporis-quo/" class="project-tile-image-link" style="background-image: url('');">
                    <img src="" class="project-tile-image img-responsive"></a>
                    <div class="project-tile-body">
                        <h2 class="project-tile-title"><a href="/en/projects/corporis-quo/">Renner, Sauer and Gutkowski</a></h2>
                        <p class="project-tile-teaser">Neque quae totam ratione doloremque placeat odit dicta excepturi perspiciatis rem repellendus, minima provident in hic quia quam ratione quisquam labore, rem dolores inventore maiores repellendus culpa fugiat explicabo aspernatur at, neque invento...</p>
                    </div>
                </div>
            </div>
            <div class="project-tile-container">
                <div class="project-tile style-">
                    <a href="/en/projects/corporis-quo/" class="project-tile-image-link" style="background-image: url('');">
                    <img src="" class="project-tile-image img-responsive"></a>
                    <div class="project-tile-body">
                        <h2 class="project-tile-title"><a href="/en/projects/corporis-quo/">Renner, Sauer and Gutkowski</a></h2>
                        <p class="project-tile-teaser">Neque quae totam ratione doloremque placeat odit dicta excepturi perspiciatis rem repellendus, minima provident in hic quia quam ratione quisquam labore, rem dolores inventore maiores repellendus culpa fugiat explicabo aspernatur at, neque invento...</p>
                    </div>
                </div>
            </div>
            <div class="project-tile-container">
                <div class="project-tile style-">
                    <a href="/en/projects/corporis-quo/" class="project-tile-image-link" style="background-image: url('');">
                    <img src="" class="project-tile-image img-responsive"></a>
                    <div class="project-tile-body">
                        <h2 class="project-tile-title"><a href="/en/projects/corporis-quo/">Renner, Sauer and Gutkowski</a></h2>
                        <p class="project-tile-teaser">Neque quae totam ratione doloremque placeat odit dicta excepturi perspiciatis rem repellendus, minima provident in hic quia quam ratione quisquam labore, rem dolores inventore maiores repellendus culpa fugiat explicabo aspernatur at, neque invento...</p>
                    </div>
                </div>
            </div>
            <div class="project-tile-container">
                <div class="project-tile style-">
                    <a href="/en/projects/corporis-quo/" class="project-tile-image-link" style="background-image: url('');">
                    <img src="" class="project-tile-image img-responsive"></a>
                    <div class="project-tile-body">
                        <h2 class="project-tile-title"><a href="/en/projects/corporis-quo/">Renner, Sauer and Gutkowski</a></h2>
                        <p class="project-tile-teaser">Neque quae totam ratione doloremque placeat odit dicta excepturi perspiciatis rem repellendus, minima provident in hic quia quam ratione quisquam labore, rem dolores inventore maiores repellendus culpa fugiat explicabo aspernatur at, neque invento...</p>
                    </div>
                </div>
            </div>
            <div class="project-tile-container">
                <div class="project-tile style-">
                    <a href="/en/projects/corporis-quo/" class="project-tile-image-link" style="background-image: url('');">
                    <img src="" class="project-tile-image img-responsive"></a>
                    <div class="project-tile-body">
                        <h2 class="project-tile-title"><a href="/en/projects/corporis-quo/">Renner, Sauer and Gutkowski</a></h2>
                        <p class="project-tile-teaser">Neque quae totam ratione doloremque placeat odit dicta excepturi perspiciatis rem repellendus, minima provident in hic quia quam ratione quisquam labore, rem dolores inventore maiores repellendus culpa fugiat explicabo aspernatur at, neque invento...</p>
                    </div>
                </div>
            </div>
            <div class="project-tile-container">
                <div class="project-tile style-">
                    <a href="/en/projects/corporis-quo/" class="project-tile-image-link" style="background-image: url('');">
                    <img src="" class="project-tile-image img-responsive"></a>
                    <div class="project-tile-body">
                        <h2 class="project-tile-title"><a href="/en/projects/corporis-quo/">Renner, Sauer and Gutkowski</a></h2>
                        <p class="project-tile-teaser">Neque quae totam ratione doloremque placeat odit dicta excepturi perspiciatis rem repellendus, minima provident in hic quia quam ratione quisquam labore, rem dolores inventore maiores repellendus culpa fugiat explicabo aspernatur at, neque invento...</p>
                    </div>
                </div>
            </div>
        </div>

      </article>
      <article id="panel-participation" class="tab-panel">
        <h3>{% trans "participation" %}</h3>
        Display the currently active participation module here!
      </article>
    </div>
</div>
{% endblock %}
