{% extends 'euth_projects/project_detail.html' %}
{% load i18n react_comments %}

{% block phase_content %}
<div>
    <article class="commenting-text">
        <h3>{{ object.name }}</h3>
        {% for paragraph in object.paragraphs %}
        <section class="row commenting-paragraph">
            <div class="col-sm-9 paragraph">
                <h4>{{ paragraph.name }}</h4>
                {{ paragraph.text|safe }}
            </div>
            <div class="col-sm-3 comment-count">
                <div>
                    <a href="{% url 'paragraph-detail' paragraph.pk %}">
                        <span>{{ paragraph.comments.count }} <i class="fa fa-comment-o" aria-hidden="true"></i></span>
                    </a>
                </div>
                <a href="{% url 'paragraph-detail' paragraph.pk %}" class="btn btn-ghost btn-primary">{% trans 'Add your comment' %}</a>
            </div>
        </section>
        {% endfor %}
    </article>

    {% if object %}
    {% react_comments object %}
    {% endif %}

</div>
{% endblock %}

