{% extends 'euth_projects/project_detail.html' %}
{% load react_paragraphs i18n rules %}

{% block phase_content %}
<div>
    <h2>{{ view.phase.name }}</h2>

    <p class="idea-list-description">{{ view.phase.description }} </p>

    <div class="badge-group">
        <span class="badge">
            <strong>{% trans 'Start Date' %}</strong>
            {{ view.phase.start_date.date }}
        </span>
        <span class="badge">
            <strong>{% trans 'End Date' %}</strong>
            {{ view.phase.end_date.date }}
        </span>
    </div>

    {% has_perm 'euth_documents.create_document' request.user view.module as show_create_form %}
    {% if show_create_form %}
    {% react_paragraphs view.document view.module %}
    {% else %}
    {% trans 'Moderators are currently creating a document.' %}
    {% endif %}
</div>
{% endblock %}
