{% extends 'euth_projects/project_detail.html' %}
{% load i18n react_comments %}

{% block phase_content %}
<div>
    <h2>{{ view.phase.name }}</h2>

    <p class="idea-list-description">{{ view.phase.description }} </p>

    <div class="badge-group">
        <span class="badge">
            <strong>{% trans 'Start Date' %}</strong>
            {{ view.phase.start_date.date }}
        </span>
        <span class="badge">
            <strong>{% trans 'End Date' %}</strong>
            {{ view.phase.end_date.date }}
        </span>
    </div>

    <article class="commenting-text">
        <h3>{{ object.name }}</h3>
        {% for paragraph in object.paragraph_set.all %}
        <section class="row">
            <div class="col-sm-10 linked-paragraph">
                <h4>{{ paragraph.name }}</h4>
                <a href="{% url 'paragraph-detail' paragraph.pk %}">{{ paragraph.text|safe }}</a>
            </div>
            <div class="col-sm-2 comment-count">
                <span><i class="fa fa-comment-o" aria-hidden="true"></i> {{ paragraph.comments.count }}</span>
            </div>
        </section>
        {% endfor %}
    </article>

    {% react_comments object %}

</div>
{% endblock %}

