{% extends 'euth_projects/project_detail.html' %}
{% load i18n %}
{% block phase_content %}
    <h2>{{ view.phase.name }}</h2>

    <p class="idea-list-description">{{ view.phase.description }} </p>

    <div class="badge-group">
            <span class="badge">
                <strong>{% trans 'Start Date' %}</strong>
                {{ view.phase.start_date.date }}
            </span>
        <span class="badge">
                <strong>{% trans 'End Date' %}</strong>
                {{ view.phase.end_date.date }}
            </span>
    </div>
    <pre>{{ view.object.key }}</pre>
    <pre></pre>
    <iframe src="{{ url }}" frameborder="0" style="width: 100%; height: 500px;"></iframe>
{% endblock %}
