{% extends "base.html" %}
{% load wagtailcore_tags staticfiles %}
{% block content %}
<div class="container">
    <header class="container-narrow block page-intro" >
    	<h1 class="block-title">{{ self.translated_title }}</h1>
    </header>
    <section class="container-narrow block-inner page-body">
    	<div class="row">
    	{% for organisation in self.organisations %}
    	{% include "projects/includes/organisation_tile.html" with organisation=organisation %}
        {% endfor %}
        </div>
    </section>
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static "salvattore.min.js" %}"></script>
{% endblock %}
