{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags comments react_comments staticfiles %}
{% block content %}
<div class="container">
    <header class="container-narrow block">
        {% image self.logo width-300 %}
    	<h1 class="block-title org-title">{{ self.translated_title }}</h1>
    </header>
    <div class="block-inner">
    	<div class="container-narrow">
    	{{ self.description | richtext }}
    	</div>
    </div>

    <section class="container-narrow block-inner page-body {% if self.organisation_projects.all %} org-projects {% endif %}">
    	<div id="project-tile-grid" class="organisation-tiles" data-columns>
    	{% for project in self.organisation_projects.all %}
    	{% include "projects/includes/project_tile.html" with project=project.project %}
        {% endfor %}
        </div>
    </section>

</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static "salvattore/dist/salvattore.min.js" %}"></script>
{% endblock %}
