{% extends "base.html" %}
{% block content staticfiles %}
<div class="container">
    <header class="container-narrow block page-intro" >
    	<h1 class="block-title">{{ self.translated_title }}</h1>
    </header>
    <section class="container-narrow block-inner page-body">
    	<div id="project-tile-grid" data-columns>
    	{% for project in self.projects %}
    	{% include "projects/includes/project_tile.html" with project=project %}
        {% endfor %}
        </div>
    </section>
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static "salvattore.min.js" %}"></script>
{% endblock %}
