{% extends 'email_base.html' %}
{% block subject %}
Access requested to {{ request.project }} on {{ site.name }}
{% endblock %}
{% block content %}
<h2>You requested to register to {{sitename}}</h2>
<p>Dear moderators of {{ request.project }},</p>

<p>
    We have received a membership request for your project on {{ site.name }}:
</p>
<p>
     {{ request.creator.username }} ({{ request.creator.email }})
</p>
<p>
    Please visit <a href="{% url 'dashboard-overview' %}">{{ site.name }}</a> to accept or decline.
</p>

<p>
Best wishes<br>
<br>
{{site.name}} team
</p>
{% endblock %}
