{% load i18n static %}
<div class="howto__container">
  <div class="howto-carousel__container">
    <div class="howto-carousel">
      <div class="howto-item__container">
        <h2>{% trans 'How can I register my organisation and start a project?' %}</h2>
        <img class="howto-item__image" alt="how to register image" src="{% static 'images/step1-2x-noshadow.png' %}">
        <h3>{% trans '1. Register an account' %}</h3>
        <p>
          {% trans 'Register as a user by following the steps on the left to create an account.' %}
        </p>
      </div>
      <div class="howto-item__container">
        <h2>{% trans 'How can I register my organisation and start a project?' %}</h2>
        <img class="howto-item__image" alt="how to register image" src="{% static 'images/step2-2x-noshadow.png' %}">
        <h3>{% trans '2. Contact us' %}</h3>
        <p>
          {% trans 'Send us en e-mail via info@opin.me and provide your username, email address, organisation name and its location, a short description of your project.' %}
        </p>
      </div>
      <div class="howto-item__container">
        <h2>{% trans 'How can I register my organisation and start a project?' %}</h2>
        <img class="howto-item__image" alt="how to register image" src="{% static 'images/step3-2x-noshadow.png' %}">
        <h3>{% trans '3. We will review your request.' %}</h3>
        <p>
          {% trans 'Since we are in beta for the moment, we cannot accept all requests to use OPIN. You will receive a reply within 48 hours.' %}
        </p>
      </div>
    </div>
</div>
</div>
