{% load i18n thumbnail avatar %}

<ul class="nav navbar-nav navbar-right ml-sm-auto user-indicator order-sm-12" id="user-indicator">
    <li class="dropdown">
    {% if request.user.is_authenticated %}
        <div class="btngroup btngroup-primary ml-sm-3">
            <a href="{% url 'profile' request.user.username %}" class="btn userindicator-profile">
                <span class="circled circled-xs" style="background-image: url({% get_avatar request.user 'org_avatar_small' %});"></span>
                {{ request.user.username }}
            </a>
            <a href="#" class="dropdown-toggle btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-caret-down pl-1" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                {% if request.user.is_superuser %}
                    <li class="dropdown-item">
                        <a href="{% url 'admin:index' %}"><i class="far fa-hand-spock"></i> <span class="dropdown-text">{% trans "Admin" %}</span></a>
                    </li>
                {% endif %}

                <li class="dropdown-item"class="dropdown-item">
                    <a href="{% url 'account-profile' %}"><i class="fa fa-cog"></i> <span class="dropdown-text">{% trans "Account Settings" %}</span></a>
                </li>

                {% for organisation in request.user.organisations %}
                    <li class="dropdown-item"><a href="{% url 'a4dashboard:project-list' organisation_slug=organisation.slug %}">
                        <img src="{{ organisation.logo|thumbnail_url:'org_avatar_small' }}" alt="" width="20">
                        <span class="dropdown-text">{{ organisation.name }}</span>
                    </a></li>
                {% endfor %}
                <li class="dropdown-item p-0">
                    <form class="logout-button-form" action="{% url 'account_logout' %}" method="post" >
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ redirect_field_value }}">
                        <button type="submit" value="Register"><i class="fas fa-sign-out-alt"></i> <span class="dropdown-text">{% trans "logout" %}</span></button>
                    </form>
                </li>
            </ul>
        </div>
    {% else %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="inner">{% trans "Login / Register"%}<i class="fa fa-caret-down pl-1" aria-hidden="true"></i></span>
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-item">
                <a href="{% url 'account_login' %}?next={{ redirect_field_value|urlencode }}">{% trans "login" %}</a>
            </li>
            <li class="dropdown-item">
                <a href="{% url 'account_signup' %}?next={{ redirect_field_value|urlencode }}">{% trans "register" %}</a>
            </li>
        </ul>
    {% endif %}
    </li>
</ul>
