{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block title %}{% trans 'Reset your password' %}{% endblock %}
{% block content %}
<div class="container">
  <div class="skinny-form">
    <form class="skinny-form-inner" role="form" name="ResetPasswordForm" action="" method="post">
      {% csrf_token %}

      {% if form.non_field_errors %}
      <div class="form-errors">
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}

      {{ form.token }}
      {{ form.token.errors }}

      <div class="form-group">
        <label class="control-label" for="{{ form.password.id_for_label }}">{% trans "password" %}</label>
        {{ form.password.errors }}
        {{ form.password|add_class:"form-control" }}
      </div>

      <div class="form-group">
        <label class="control-label" for="{{ form.password_repeat.id_for_label }}">{% trans "repeat password" %}</label>
        {{ form.password_repeat.errors }}
        {{ form.password_repeat|add_class:"form-control" }}
      </div>

      <button type="submit" value="Activate" class="btn btn-primary btn-cta">{% trans "reset password" %}</button>
    </form>
  </div>
</div>
{% endblock %}
