{% extends "base.html" %}
{% load i18n thumbnail static avatar %}
{% block title %}{{ object.username }}{% endblock %}

{% block content %}
    <header class="herounit herounit-profile herounit-sm herounit-purple">
        <div class="container{% if object.description %} slider-xs{% endif %}">
            <div class="herounit-header">
                    <span class="circled circled-lg"
                          style="background-image: url({% get_avatar user 'org_avatar_medium' %});"></span>
                <div class="herounit-description">
                    {% if object.has_social_share %}
                        <ul class="herounit-links">
                            {% if object.facebook_handle  %}
                                <li><a href="https://www.facebook.com/{{ object.facebook_handle }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            {% endif %}
                            {% if object.twitter_handle %}
                                <li><a href="https://twitter.com/{{ object.twitter_handle }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                            {% if object.instagram_handle %}
                                <li><a href="https://www.instagram.com/{{ object.instagram_handle }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    <h1 class="herounit-title">
                        {{ object.username }}
                    </h1>
                    <div class="d-block d-sm-none herounit-meta">
                        {% if object.city or object.country %}
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                {{object.city}}
                                {% if object.city and object.country %}, {% endif %}
                                {{object.country.name}}
                            </p>
                        {% endif %}
                        {% if object.languages %}
                            <p><i class="fa fa-comment"></i> {{object.languages}}</p>
                        {% endif %}
                        {% if object.birthdate %}
                            <p><i class="fas fa-calendar-alt"></i> {{ object.age }} {% trans 'years old' %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if object.description %}
                <div class="d-block d-sm-none">
                    <strong>{% trans 'Bio' %}</strong>
                    <p class="bio">{{ object.description }}</p>
                </div>
            {% endif %}
        </div>
    </header>


        <div class="container">
            <div class="row">
                <div class="col-sm-3 d-none d-sm-block">
                    {% if object.city or object.country %}
                        <p>
                            <i class="fas fa-map-marker-alt"></i>
                            {{object.city}}{% if object.city and object.country %}, {% endif %}
                            {{object.country.name}}
                        </p>
                    {% endif %}
                    {% if object.languages %}
                        <p><i class="fa fa-comment"></i> {{object.languages}}</p>
                    {% endif %}
                    {% if object.birthdate %}
                        <p><i class="fas fa-calendar-alt"></i> {{ object.age }} {% trans 'years old' %}</p>
                    {% endif %}
                    {% if object.description %}
                        <p class="bio">{{ object.description }}</p>
                    {% endif %}
                </div>
                <div class="col-sm-9">
                    {% if view.get_participated_projects %}
                        <div class="teaserlist">
                            {% for project in view.get_participated_projects %}
                                {% include 'euth_projects/includes/project_list_item.html' with project=project follow_user=object %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>
                            {% blocktrans with username=object.username %}{{ username }} follows no projects at the moment.{% endblocktrans %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
