{% extends "base.html" %}
{% load i18n thumbnail static %}
{% block title %} {{ object.username }} {% endblock %}

{% block content %}
    <header class="herounit">
        <div class="container">
            <div class="container-narrow">
                <div class="herounit-header">
                    {% if object.has_social_share %}
                        <ul class="herounit-links">
                            {% if object.facebook_handle  %}
                                <li><a href="https://www.facebook.com/{{ object.facebook_handle }}"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}
                            {% if object.twitter_handle %}
                                <li><a href="https://twitter.com/{{ object.twitter_handle }}"><i class="fa fa-twitter"></i></a></li>
                            {% endif %}
                            {% if object.instagram_handle %}
                                <li><a href="https://www.instagram.com/{{ object.instagram_handle }}"><i class="fa fa-instagram"></i></a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    <h1 class="herounit-title">{{ object.username }}</h1>
                    {% if object.city or object.country %}
                        <p class="herounit-location"><i class="fa fa-map-marker"></i> {{object.city}}, {{object.country.name}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}
