{% extends "base.html" %}
{% load i18n thumbnail static %}
{% block title %}{{ object.username }}{% endblock %}

{% block content %}
    <header class="herounit herounit-profile herounit-purple">
        <div class="container{% if object.description %} slider-xs{% endif %}">
            <div class="herounit-header">
                {% if object.avatar %}
                    <span class="circled circled-lg"
                          style="background-image: url({{ object.avatar|thumbnail_url:'org_avatar_medium' }});"></span>
                {% else %}
                    <span class="circled circled-lg"
                          style="background-image: url({% static "images/placeholder.png" %});"></span>
                {% endif %}
                <div class="herounit-description">
                    {% if object.has_social_share %}
                        <ul class="herounit-links">
                            {% if object.facebook_handle  %}
                                <li><a href="https://www.facebook.com/{{ object.facebook_handle }}"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}
                            {% if object.twitter_handle %}
                                <li><a href="https://twitter.com/{{ object.twitter_handle }}"><i class="fa fa-twitter"></i></a></li>
                            {% endif %}
                            {% if object.instagram_handle %}
                                <li><a href="https://www.instagram.com/{{ object.instagram_handle }}"><i class="fa fa-instagram"></i></a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    <h1 class="herounit-title">
                        {{ object.username }}
                    </h1>
                    <div class="visible-xs herounit-meta">
                        {% if object.city or object.country %}
                            <p><i class="fa fa-map-marker"></i> {{object.city}}, {{object.country.name}}</p>
                        {% endif %}
                        {% if object.languages %}
                            <p><i class="fa fa-comment"></i> {{object.languages}}</p>
                        {% endif %}
                        {% if object.birthdate %}
                            <p><i class="fa fa-calendar"></i> {{ object.age }} {% trans 'years old' %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if object.description %}
                <div class="visible-xs">
                    <strong>{% trans 'Bio' %}</strong>
                    <p class="bio">{{ object.description }}</p>
                </div>
            {% endif %}
        </div>
    </header>


    {% if view.get_participated_projects %}
        <div class="container">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    {% if object.city or object.country %}
                        <p><i class="fa fa-map-marker"></i> {{object.city}}, {{object.country.name}}</p>
                    {% endif %}
                    {% if object.languages %}
                        <p><i class="fa fa-comment"></i> {{object.languages}}</p>
                    {% endif %}
                    {% if object.birthdate %}
                        <p><i class="fa fa-calendar"></i> {{ object.age }} {% trans 'years old' %}</p>
                    {% endif %}
                    {% if object.description %}
                        <p class="bio">{{ object.description }}</p>
                    {% endif %}
                </div>
                <div class="col-sm-9">
                    <div class="teaserlist">
                        {% for project in view.get_participated_projects %}
                            {% include 'euth_projects/includes/project_list_item.html' with project=project show_follow=True %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>You are neither member nor follower of a project yet.</p>
    {% endif %}
{% endblock %}
