.badge-group {
    .badge {
        @include rem(border-radius, 8px);
        @include rem(font-size, $font-size-small);
        @include rem(margin-right, 5px);
        @include rem(margin-top, 20px);
        @include rem(padding, 0 14px);
        background: #000;
        color: #fff;
        display: inline-block;
        line-height: 35px;
    }
}
