.container-narrow,
.container-medium {
    float: none;
    margin: 0 auto;
    position: relative;
}

.container-narrow {
    @extend .col-md-8;
}

.container-medium {
    @extend .col-md-10;

    padding: 0;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}
