@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot'), url('../fonts/OpenSans-Regular.eot?iefix') format('eot'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.eot'), url('../fonts/OpenSans-Italic.eot?iefix') format('eot'), url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold.eot'), url('../fonts/OpenSans-Semibold.eot?iefix') format('eot'), url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot'), url('../fonts/OpenSans-Bold.eot?iefix') format('eot'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic.eot'), url('../fonts/OpenSans-BoldItalic.eot?iefix') format('eot'), url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
