.footer {
    @extend .main-menu;
    @include rem(margin-top, 200px);

    a {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav {
        margin: 0;
        float: right;

        @media screen and (max-width: $screen-xs-max) {
            @include rem(padding, 10px 0);
            border-top: 1px solid $hr-border;
            border-bottom: 1px solid $hr-border;
            overflow: hidden;
            clear: left;
            float: none;
        }
    }

    .footer-item {
        float: left;
        @include rem(margin-left, 8px);

        @media screen and (max-width: $screen-xs-max) {
            float: none;
        }

        a {
            @include rem(padding, 5px 0);
        }
    }

    @media screen and (max-width: $screen-sm-max) {
        .container-narrow {
            padding: 0;
        }
    }
}

.footer-disclaimer {
    @include rem(min-height, $footer-height);
    @include rem(margin-top, 20px);
    float: left;
    width: 100%;

    .footer-disclaimer-logo {
        max-width: 33%;
        @include rem(margin-bottom, 20px);

        @media (min-width: $screen-sm-min) {
            @include rem(margin-right, 40px);
            margin-bottom: 0;
            float: left;
            max-width: 80px;
        }
    }

    .footer-disclaimer-text {
        overflow: hidden;
    }
}

.social-list {
    margin: 0;
    padding: 0;

    @media screen and (max-width: $screen-sm-max) {
        @include rem(margin-bottom, 20px);
    }

    &,
    li {
        float: left;
    }

    li {
        @include rem(margin-right, 8px);
        list-style: none;

        a {
            @include rem(font-size, 24px);
            display: block;
            padding: 0;
        }

        &.facebook a {
            color: #3b589b;
        }

        &.twitter a {
            color: #5ea9dd;
        }

        &.gplus a {
            color: #dd4b39;
        }

        &.linkedin a {
            color: #0086bf;
        }

        &.euth a {
            color: #106cb6;
            margin-top: -4px;
        }
    }

    @media (max-width: $screen-sm-min) {
        width: 100%;
    }
}
