html {
    @include rem-baseline;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sans-serif {
    font-family: $font-family-sans-serif;
    // for headings
    font-weight: bold;
}

a {
    transition: color 0.2s;
}

strong {
    font-weight: 600;
}

.rich-text a {
    color: $brand-brand1;
    text-decoration: underline;

    &:hover {
        color: darken($brand-brand1, 15%);
    }
}
