.circled {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-size: cover;
    background-position: 50% 50%;
}

.circled-lg {
    width: 120px;
    height: 120px;
}

.bio {
    font-style: italic;
    color: $gray
}
