{% extends "base.html" %}
{% load i18n react_comments_async react_ratings thumbnail rules avatar static maps_tags %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'a4maps_display_point.js' %}"></script>
{% endblock %}

{% block extra_css %}
<link type="text/css" href="{% static 'leaflet.css'%}" rel="stylesheet" />
{% endblock %}

{% block title %}{{object.name}}{% endblock %}
{% block content %}
<div class="container">
    <div class="container-medium">
        <div class="action-bar">
            <nav class="navbar navbar-default navbar-static">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'project-detail' object.project.slug %}">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            {% trans 'back to project' %}</a>
                    </li>
                </ul>
                {% has_perm 'euth_ideas.modify_idea' request.user object as show_dropdown %}
                {% if show_dropdown %}
                <ul class="nav navbar-nav navbar-right ml-auto">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a href="{% url 'map-idea-update' object.slug %}">{% trans 'Edit' %}</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="" data-toggle="modal" data-target="#myModal">{% trans 'Delete' %}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </nav>
        </div>



        <div class="idea-body">
            <div class="idea-title">
                <h1>{{ object.name }}</h1>
            </div>

            <div class="avatar-small">
                <span class="circled circled-xs" style="background-image: url({% get_avatar object.creator 'avatar_small' %})"></span>
                <a href="{% url 'profile' object.creator.username %}" class="name">{{ object.creator.username }}</a>
                {% if author_is_moderator %} <span class="badge badge-subtle">{% trans 'Moderator' %}</span> {% endif %}
            </div>
            <div class="row">
              <div class="{% if idea.image %}col-md-6{% else %}col{% endif %}">
                  <div class="idea-description">
                      <p>{{ object.description |safe }}</p>
                  </div>
              </div>
              {% if object.image %}
                  <div class=col-md-6>
                      <img class="idea-image" src="{{ object.image | thumbnail_url:'idea_image'}}">
                  </div>
              {% endif %}
            </div>

            {% map_display_point object.point object.module.areasettings_settings.polygon %}

            <div class="row mt-3">
                <div class="col">
                    {% react_ratings object %}
                </div>
            </div>
            <div class="black-divider">
                {% trans 'Comments'%}
            </div>
            <div>
            {% react_comments_async object %}
            </div>

        </div>
    </div>
</div>

{% include "euth_ideas/includes/modal.html" with idea=object %}

{% endblock %}
