{% extends "euth_ideas/idea_form.html" %}
{% load widget_tweaks i18n thumbnail base_tags %}

{% block additional_fields %}
<div class="form-group">
    <label class="col-form-label" for="{{ form.point.id_for_label }}">{{ form.point.label }}</label>
    <p class='form-help-text'>{{ form.point.help_text }}</p>
    {% if form.point.errors %}
        {{ form.point|add_class:"form-control form-error" }}
    {% else %}
        {{ form.point|add_class:"form-control"}}
    {% endif %}
    {{ form.point.errors }}
</div>
{% endblock %}
{% block post_form %}
<div class="row button-row">
    <div class="col-6 col-sm-2">
        <button type="submit" class="submit-button">{% trans 'post'%}</button>
    </div>
    <div class="col-6">
        {% if mode == 'create' %}
        <a href="{% url 'project-detail' project.slug %}" class="cancel-button">{% trans 'cancel'%}</a>
        {% elif mode == 'update' %}
        <a href="{% url 'map-idea-detail' mapidea.slug %}" class="cancel-button">{% trans 'cancel'%}</a>
        {% endif %}
    </div>
</div>
{% endblock %}
