{% extends 'euth_projects/project_detail.html' %}
{% load static i18n discovery_tags idea_tags maps_tags %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'a4maps_display_points.js' %}"></script>
{{ block.super }}
{% endblock %}

{% block extra_css %}
<link type="text/css" href="{% static 'leaflet.css'%}" rel="stylesheet" />
{% endblock %}

{% block phase_content %}
<div class="idea-list">
    {% has_or_would_have_perm 'euth_maps.propose_mapidea' request.user view.module as add_button_enabled %}
    {% if add_button_enabled %}
    <a href="{% url 'map-idea-create' slug=view.module.slug %}" class="idea-list-button" id="idea-create">
        <i class="fa fa-plus idea-list-button-icon" aria-hidden="true"></i>
        {% trans 'Create Proposal' %}
    </a>
    {% endif %}

    <div class="idea-map">
        <div class="container idea-map-buttons">
            <a href="#idea-list" class="btn btn-primary idea-map-buttons-list"><i class="fa fa-list" aria-hidden="true"></i>  {% trans 'view on list' %}</a>
            <div class="idea-map-buttons-zoom">
                <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                    <a class="leaflet-control-zoom-in" id="zoom-in" href="#" title="Zoom in">+</a>
                    <a class="leaflet-control-zoom-out leaflet-disabled" id="zoom-out" href="#" title="Zoom out">-</a>
                </div>
            </div>
        </div>

        {% map_display_points view.get_queryset view.module.areasettings_settings.polygon %}
    </div>

    <div id="idea-list">
    <div class="filter-bar">
        {% for field in view.filter.form %}
        {% if field.name != 'ordering' %}
        <div class="filter d-none d-sm-block projects-filter-{{ field.name }}">
            {{ field }}
        </div>
        {% else %}
        <div class="ordering d-none d-sm-block projects-filter-{{ field.name }}">
            {{ field }}
        </div>
        {% endif %}
        <div class="d-sm-none projects-filter-{{ field.name }}">
            {{ field }}
        </div>
        {% endfor %}
    </div>

    {% for idea in mapidea_list %}
    {% include "euth_maps/includes/mapidea_list_tile.html" with idea=idea %}
    {% endfor %}

    {% if is_paginated %}
    {% include "euth_ideas/includes/pagination.html"%}
    {% endif %}
    </div>

</div>
{% endblock %}
