{% load i18n %}
    <div class="upload-wrapper form-control-upload">
        {{ text_input }}
        <span class="input-group-btn">
            {% if has_file_set and not is_required %}
            <label for="{{ checkbox_id }}" class="btn btn-danger"
                   title="{% trans 'Remove the file' %}">
                <i class="fas fa-trash-alt"></i>
            </label>
            {% else %}
            <label for="{{ name }}" class="btn btn-secondary" title="{% trans  'Upload a file' %}">
                <i class="fas fa-cloud-upload-alt"></i>
            </label>
            {% endif  %}
        </span>
        {{ file_input }}
    </div>
