{% extends 'euth_projects/project_detail.html' %}
{% load i18n rules idea_tags micawber_tags %}

{% block phase_content %}
<div class="container-narrow offline-phase">
    <h2>{{ object.name }}</h2>
    <p>{{ object.date|date:"SHORT_DATETIME_FORMAT"}}</p>

{{ object.description |oembed_html }}

{% if object.offlineeventfileupload_set.count > 0 %}
<hr />
<h4>{% trans 'Downloads' %}</h4>
<ul>
{% for fileupload in object.offlineeventfileupload_set.all %}
<li>
    <a target="_blank" href="{{ fileupload.document.url }}">{{ fileupload.title }}</a>
</li>
{% endfor %}
</ul>
{% endif %}

{% if object.description == '' and object.offlineeventfileupload_set.count == 0 %}
    <p>{% trans 'No documentation has been provided yet' %}</p>
{% endif %}

</div>
{% endblock %}
