{% extends "base.html" %}
{% load i18n thumbnail widget_tweaks form_tags %}

{% block title %}{% trans 'Edit offlinephase content' %}{% endblock %}
{% block content %}

<div class="container">

    <div class="black-divider">
        {% trans 'update offlinephase'%}
    </div>

    <div class="proposals-project">
        <h3 class="sans-serif">{{ object.project.name }}</h3>
        <p class="project-tile-teaser">{{ object.project.description | truncatechars:185 }}</p>
        <div class="avatar-small">
            <img src="{{ project.organisation.logo|thumbnail_url:'avatar_small'}}"></img>
            <div class="name">{{ object.project.organisation }}</div>
        </div>
    </div>

    <div class="general-form">
        <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}
        {{ form.fileuploads.management_form }}

        {% for field in form.offlinephase.visible_fields %}
            <div class="form-group {% if field.errors %} has-error{% endif %}">
                <label>
                    {{ field.label }}
                </label>
                {% if field.errors %}
                    {{ field|add_class:"form-control form-error" }}
                {% else %}
                    {{ field|add_class:"form-control"}}
                {% endif %}
                {{ field.errors }}
            </div>
        {% endfor %}

        {% for form in form.fileuploads %}
            {% for field in form.visible_fields %}
            <div class="row">
                <div class="col-sm-6">
                <div class="form-group {% if field.errors %} has-error{% endif %}">
                    <label>
                        {{ field.label }}
                    </label>
                    {% if field.errors %}
                        {{ field|add_class:"form-control form-error" }}
                    {% else %}
                        {{ field|add_class:"form-control"}}
                    {% endif %}
                    {{ field.errors }}
                </div>
                </div>
            </div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
        {% endfor %}

        {% block post_form %}
        <div class="row button-row">
            <div class="col-xs-6 col-sm-2">
                <button type="submit" class="submit-button">{% trans 'post'%}</button>
            </div>
        </div>
        {% endblock %}

        {{ form.media }}
        </form>
    </div>
</div>
{% endblock %}
