{% extends "base.html" %}
{% load i18n thumbnail widget_tweaks form_tags %}

{% block title %}{% trans 'Edit offlinephase content' %}{% endblock %}
{% block content %}

<div class="container">

    <div class="action-bar">
        <nav class="navbar navbar-default navbar-static">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'project-detail' object.module.project.slug %}?phase={{ object.phase.weight }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'back to project' %}
                        </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="black-divider">
       {% trans 'update offlinephase'%}
    </div>

    <div class="proposals-project">
        <h3 class="sans-serif">{{ object.project.name }}</h3>
        <p class="project-tile-teaser">{{ object.project.description | truncatechars:185 }}</p>
        <div class="avatar-small">
            <img src="{{ project.organisation.logo|thumbnail_url:'avatar_small'}}"></img>
            <div class="name">{{ object.project.organisation }}</div>
        </div>
    </div>

    <div class="general-form">
        <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}
        {{ form.fileuploads.management_form }}

        {% for field in form.offlinephase.visible_fields %}
            <div class="form-group {% if field.errors %} has-error{% endif %}">
                <label>
                    {{ field.label }}
                </label>
                {% if field.errors %}
                    {{ field|add_class:"form-control form-error" }}
                {% else %}
                    {{ field|add_class:"form-control"}}
                {% endif %}
                {{ field.errors }}
            </div>
        {% endfor %}

        <hr />

        {% with form.fileuploads.max_num as fileupload_max %}
            <h3>{% trans 'Downloads' %}</h3>
            {% getAllowedFileTypes as allowed_file_types %}
            <p>{% blocktrans %} You can upload a maximum of {{ fileupload_max }} documents. Allowed formats are {{ allowed_file_types }}. {% endblocktrans %}</p>
        {% for form in form.fileuploads %}
            <div class="card card-body">
            {% for field in form.visible_fields %}
            {% if field.name == 'title' or field.name == 'document' %}
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group {% if field.errors %} has-error{% endif %}">
                        <label>
                            {{ field.label }}
                        </label>
                        {% if field.errors %}
                            {{ field|add_class:"form-control form-error" }}
                        {% else %}
                            {{ field|add_class:"form-control"}}
                        {% endif %}
                        {{ field.errors }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% if form.instance.id %}
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group {% if form.DELETE.errors %} has-error{% endif %}">
                        <label>
                            {{ form.DELETE.label }}
                        </label>
                        {% if form.DELETE.errors %}
                            {{ form.DELETE|add_class:"form-control form-error" }}
                        {% else %}
                            {{ form.DELETE|add_class:"form-control"}}
                        {% endif %}
                        {{ form.DELETE.errors }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if forloop.last and forloop.counter < fileupload_max %}
            <p class='form-help-text'>{% trans 'You can add additional files after saving the current file.' %}</p>
            {% endif %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            </div>
        {% endfor %}
        {% endwith %}

        {% block post_form %}
        <div class="row button-row">
            <div class="col-6 col-sm-2">
                <button type="submit" class="submit-button">{% trans 'Save changes' %}</button>
            </div>
        </div>
        {% endblock %}

        {{ form.media }}
        </form>
    </div>
</div>
{% endblock %}
