{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block title %}{% trans "Offlineevents" %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_project_content %}
    <div class="row">
        <div class="col-md-8">
            <h1 class="dashboard-content-heading">
                {% trans 'Offline Events' %}
            </h1>
        </div>
        <div class="col-md-4 float-right">
            <a href="{% url 'a4dashboard:offlineevent-create' project_slug=project.slug %}" class="btn btn-primary btn-sm">
                {% trans 'Add offline event' %}
            </a>
        </div>
    </div>

    <p>{% blocktrans %}Here, you can include events that take place as part of the participation project.{% endblocktrans %}</p>

    {% if object_list.count > 0 %}
        <ul class="dashboard-list">
            {% for object in object_list %}
                {% include 'euth_offlinephases/includes/dashboard_list_item.html' with object=object %}
            {% endfor %}
        </ul>
    {% else %}
        {% trans "Nothing to show" %}
    {% endif %}

{% endblock %}
