{% load wagtailimages_tags wagtailembeds_tags %}

<ul class="owl-carousel">
    <li class="carousel-item">
        <figure class="carousel-image">{% image item.image fill-900x200 class="img-fluid" %}</figure>
        <figcaption class="carousel-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta fugiat impedit molestiae placeat quas quidem rem similique ut voluptatem!
        </figcaption>
    </li>
    <li class="carousel-item">
        <figure class="carousel-image"><img src="http://placehold.it/200x200" alt=""></figure>
        <figcaption class="carousel-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta fugiat impedit molestiae placeat quas quidem rem similique ut voluptatem!
        </figcaption>
    </li>
    <li class="carousel-item">
        <figure class="carousel-image"><img src="http://placehold.it/200x200" alt=""></figure>
        <figcaption class="carousel-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta fugiat impedit molestiae placeat quas quidem rem similique ut voluptatem!
        </figcaption>
    </li>
    <li class="carousel-item">
        <figure class="carousel-image"><img src="http://placehold.it/200x200" alt=""></figure>
        <figcaption class="carousel-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta fugiat impedit molestiae placeat quas quidem rem similique ut voluptatem!
        </figcaption>
    </li>
    <li class="carousel-item">
        <figure class="carousel-image"><img src="http://placehold.it/200x200" alt=""></figure>
        <figcaption class="carousel-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta fugiat impedit molestiae placeat quas quidem rem similique ut voluptatem!
        </figcaption>
    </li>
    <li class="carousel-item">
        <figure class="carousel-image"><img src="http://placehold.it/200x200" alt=""></figure>
        <figcaption class="carousel-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta fugiat impedit molestiae placeat quas quidem rem similique ut voluptatem!
        </figcaption>
    </li>
    <li class="carousel-item">
        <figure class="carousel-image"><img src="http://placehold.it/200x200" alt=""></figure>
        <figcaption class="carousel-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta fugiat impedit molestiae placeat quas quidem rem similique ut voluptatem!
        </figcaption>
    </li>
</ul>


<ul class="carousel">
    {% for item in carousel_items %}
        <li class="carousel-item">
            <figure class="carousel-image">{% image item.image fill-900x200 class="img-fluid" %}</figure>
            {% if block.text %}
            <figcaption class="carousel-text">
            {{ block.text }}
            </figcaption>
            {% endif %}
        </li>
    {% endfor %}
</ul>
