{% load i18n wagtailimages_tags wagtailembeds_tags static %}
{% image image width-768 as smallImage %}
{% image image original as originalImage %}

<header class="herounit herounit-home">
    <div class="herounit-image visible-lg visible-xl" style="background-image: url({{ originalImage.url }})"></div>
    <div class="herounit-image visible-xs visible-sm visible-md" style="background-image: url({{ smallImage.url }})"></div>
    <div class="container">
        <div class="container-narrow">
            <div class="herounit-header">
                <h1 class="herounit-title">{{ page.translated_title }}</h1>
                <p class="herounit-description">
                    Ever wondered how to get young people involved in politics online? OPIN, a European toolbox for youth eParticipation projects, shows you how.
                </p>
                <a href="#video" class="button button-white" data-toggle="modal"><i class="fa fa-play" aria-hidden="true"></i> Play video</a>
            </div>
        </div>
    </div>
</header>

<div class="modal fade herounit-video" id="video" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="embed-responsive embed-responsive-16by9">
                {% embed videoplayer_url %}
            </div>
        </div>
    </div>
</div>
