{% load i18n wagtailimages_tags wagtailembeds_tags static %}
{% image image width-768 as smallImage %}
{% image image original as originalImage %}

<header class="herounit herounit-home">
    <div class="herounit-image d-none d-lg-block" style="background-image: url({{ originalImage.url }})"></div>
    <div class="herounit-image d-lg-none" style="background-image: url({{ smallImage.url }})"></div>
    <div class="container">
        <div class="container-narrow">
            <div class="herounit-header">
                <h1 class="herounit-title">{{ page.translated_title }}</h1>
                <p class="herounit-description">
                  {{ page.translated_intro }}
                </p>
            </div>
        </div>
    </div>
</header>
