{% load i18n thumbnail static %}
<div class="col-md-4 col-sm-6">
    <div class="org-tile">
        {% if organisation.image %}
        <a href="{% url 'organisation-detail' organisation.slug %}" class="org-tile-image-link" style="background-image:url({{ organisation.image|thumbnail_url:'organisation_thumbnail' }});">
        {% else %}
        <a href="{% url 'organisation-detail' organisation.slug %}" class="org-tile-image-link">
        {% endif %}
        <span class="content">
            {% if organisation.logo %}
            <img src="{{ organisation.logo|thumbnail_url:'org_avatar_medium' }}" alt=""/>
            {% else %}
            <img src="{% static "images/logo.svg" %}" alt="Opin" />
            {% endif %}
        </span>
        </a>
        <div class="org-tile-body">
            <span class="org-tile-location">
                <i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ organisation.place }}, {{ organisation.country.name }}
            </span>
            <h2 class="org-tile-title">
                <a href="{% url 'organisation-detail' organisation.slug %}">
                    {{ organisation.name }}
                </a>
            </h2>
            <p class="org-tile-teaser">{{ organisation.description | truncatechars:200 }}</p>
        </div>
    </div>
</div>
