{% load i18n static %}
<div class="org-tile">
  {% if organisation.logo %}
  <a href="{% url 'organisation-detail' organisation.slug %}" class="col-md-2 col-sm-2 col-xs-3 org-tile-image-link" style="background-size: 80px; background-image: url({{ organisation.logo.url }});">
  </a>
  {% else %}
  <a href="{% url 'organisation-detail' organisation.slug %}" class="col-md-2 col-sm-2 col-xs-3 org-tile-image-link" style="background-size: 80px;background-image: url({% static "images/logo.png" %})">
  {% endif %}
  <div class="org-tile-body col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-9 col-xs-offset-3">
      <h2 class="org-tile-title">
        <a href="{% url 'organisation-detail' organisation.slug %}">
          {{ organisation.name }}
        </a>
      </h2>
    <p class="org-tile-teaser">{{ organisation.description | truncatechars:400 }}</p>
  </div>
</div>