{% load i18n form_tags widget_tweaks staticfiles %}

<style type="text/css">@charset "UTF-8";.ng-hide{display:none !important;}ng\:form{display:block;}
</style>
<style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}</style><style type="text/css">.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}.gm-style img{max-width:none}</style>
<!--Description section -->
<div class="phase-form">
    <h5>
        <a href="#fp-phase-1"  class="collapse collapsed" data-toggle="collapse" aria-expanded="false">
            Poll: Description            
            <i class="fa fa-chevron-up pull-right"></i>
        </a>
    </h5>

    <div class="single-phase collapse" id="fp-phase-1" aria-expanded="false" style="height: 0px;">
        <div class="form-group ">
            <label>
                Title
                <br>
            </label>
            <input class="form-control" id="fp-id_phases-0-title" maxlength="80" name="title" type="text" value="{{poll.title}}" />

        </div>
        <div class="form-group ">
            <label>
                Subtitle
                <br>
            </label>
            <textarea class="form-control" cols="40" id="fp-id_phases-0-shortDescription" maxlength="300" name="shortDescription" rows="10">{{poll.shortDescription}}</textarea>
        </div>

        <div class="form-group ">
            <label>
                Long description
                <br>
            </label>
            <textarea class="form-control" cols="40" id="fp-id_phases-0-longDescription" maxlength="300" name="longDescription" rows="10">{{poll.longDescription}}</textarea>

        </div>
        <div class="form-group ">
            <label>
                Conclude message
                <br>
            </label>
            <input class="form-control" id="fp-id_phases-0-concludeMessage" maxlength="80" name="concludeMessage" type="text" value="{{poll.concludeMessage}}" />

        </div>
    </div>
</div>


<!-- Questions section -->
<div class="phase-form">
    <h5>
        <a href="#fp-phase-2" class="collapse collapsed" data-toggle="collapse" aria-expanded="false">
            Poll: Questions
            <i class="fa fa-chevron-up pull-right"></i>
        </a>
    </h5>

    <div class="single-phase collapse" id="fp-phase-2" aria-expanded="false" style="height: 0px;">
    {% for question in poll.questions %}
        <div id="form-group-question-{{question.orderId}}">
        <div class="form-group">
            <label>
                Question {{question.orderId}}
                <br>
            </label>
            <div style="position:relative;">
                <div style="margin-right: 44px;">
                    <input class="form-control choice" id="fp-id_phases-{{question.orderId}}-questionText" maxlength="80" name="question-{{question.orderId}}.questionText" type="text" value="{{question.questionText}}" />
                </div>
                <div style="width: 39px;position:absolute;right:0;height:100%;top:0;">
                    <i class="icon-trash icon-2x ng-scope" tooltip="Supprimer" tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip-placement="left" onclick='removeQuestion({{questions|get_simplejson }},{{question.orderId}}, "form-group-question-{{question.orderId}}")' tabindex="-1"></i>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label>
                Type
                <br>
            </label>
            <!--<div class="form-control">-->
            <select class="form-control select" id="fp-id_phases-{{question.orderId}}-questionType" name="question-{{question.orderId}}.questionType" onchange='changeType(this.options[this.selectedIndex].value, "fp-phase-qc-{{question.orderId}}", {{question.orderId}})' >
                <option value="CHECKBOX"  {% if question.questionType == 'CHECKBOX' %}selected{% endif %}>MULTIPLE</option>
                <option value="RADIO"  {% if question.questionType == 'RADIO' %}selected{% endif %}>SINGLE</option>
                <option value="FREETEXT"  {% if question.questionType == 'FREETEXT' %}selected{% endif %}>OPEN</option>
                <option value="ORDER"  {% if question.questionType == 'ORDER' %}selected{% endif %}>RANKING</option>
            </select>
            <!--</div>-->
        </div>

        <div class="form-group ">
            <label>
                <input id="fp-id_phases-{{question.orderId}}-mandatory" name="question-{{question.orderId}}.mandatory" type="checkbox" value="" {% if question.mandatory == True %} checked="checked" {% endif %} />
                Mandatory
                <br>
            </label>
        </div>

        <div id="fp-phase-qc-{{question.orderId}}">
			{% for answer in question.answers %}
			<div id="form-group-question-{{question.orderId}}.choice-{{answer.orderId}}" class="form-group">            
				<label>
					Choice {{answer.orderId}}
					<br>
				</label>

				<div style="position:relative;">
					<div style="margin-right: 44px;">
						<input class="form-control choice" id="fp-id_phases-{{question.orderId}}-choice-{{answer.orderId}}.answerText" maxlength="80" name="question-{{question.orderId}}.choice-{{answer.orderId}}.answerText" type="text" value="{{answer.answerText}}" />
					</div>
					<div style="width: 39px;position:absolute;right:0;height:100%;top:0;">
						<i class="icon-remove-sign icon-2x ng-scope" tooltip="Supprimer" tooltip-trigger="mouseenter" tooltip-placement="left" tooltip-popup-delay="1000" onclick='removeChoice({{question.answers|get_simplejson }},{{answer.orderId}}, {{question.orderId}}, "form-group-question-{{question.orderId}}.choice-{{answer.orderId}}")' ng-disabled="question.questionChoices.length<=2" tabindex="-1" disabled="disabled" >	</i>
					</div>
				</div>	
			</div>
			
            {% if answer.orderId == question.answers|length  %}
            <div id="icon-plus-question-{{question.orderId}}" class="span3">
                <div class="icon-plus-sign icon-2x ng-scope" tooltip="Ajouter un choix" tooltip-trigger="mouseenter" tooltip-placement="left" tooltip-popup-delay="1000" onclick='addChoice({{question.answers|get_simplejson }},{{question.orderId}}, "fp-phase-qc-{{question.orderId}}")' tabindex="-1" style="float:left;"></div>
                <div style="clear:both;"></div>
            </div>
            {% endif %}			
			{% endfor %}								
		</div>   		
		</div>	
        {% if question.orderId == poll.questions|length  %}
        <div id="icon-plus-poll" class="span3">
            <div class="btn btn-success ng-binding" onclick='addQuestion({{poll.questions|get_simplejson}},"fp-phase-2")' tabindex="-1"><i class="icon-plus"></i>&nbsp;Add a question</div>
            <div style="clear:both;"></div>
        </div>     
        {% endif %}
    {% endfor %}     
	</div>
</div>



<!--Location section -->
<div class="phase-form">
    <h5>
        <a href="#fp-phase-3" class="collapse collapsed" data-toggle="collapse">
            Poll: Location
            <i class="fa fa-chevron-up pull-right"></i>
        </a>
    </h5>

    <div class="single-phase collapse in" id="fp-phase-3">

        <div class="form-group ">
            <div id="panel">
                <div id="color-palette"><span class="color-button" style="background-color: rgb(30, 144, 255); border: 2px solid rgb(119, 136, 153);"></span></div>
                <div>
                </div>
            </div>

            <div class="row-fluid" style="margin-bottom:5px;">
                <div id="map" style="width: 100%; height: 399px; position: relative; overflow: hidden;"></div>
            </div>
            <div class="row-fluid">
                <div class="span4 search-bloc">
                    <div class="btn ng-isolate-scope" id="delete-button" i18n="" key="'popup.button.cancel'">Undo</div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="field-hide">
    <input type="hidden" name="module_settings-key" value="{{pollid}}">
	<input type="hidden" name="current_preview" value="{{poll.preview}}">
    <input type="hidden" id="geofenceLocation" name="geofenceLocation" value="{{poll.geofenceLocation}}">
</div>