{% load i18n widget_tweaks form_tags %}

<article id="participation" class="tab-panel">
    {{ form.phases.management_form }}
    <div class="form-section">
        <h3 class="form-section-heading">{% firstof view.blueprint.title view.object.module_set.first.phase_set.first.content.module_name %}</h3>
        {% if view.module.description %}
            <p>{{ view.module.description }}</p>
        {% endif %}

        <div class="form-section-fields">
            {% for field in form.module_settings.visible_fields %}
            <div class="form-group {% if field.errors %} has-error{% endif %}">
                <label>
                    {{ field.label }}
                </label>
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            {% endfor %}

            {% if not form.phases.0.instance.type == 'euth_offlinephases:000:offline' %}
            <a class="add-offline-phase btn btn-gray btn-primary btn-sm" href="">
                <i class="fa fa-plus"></i> {% trans 'add offline phase'%}
            </a>
            {% endif %}

            <script id="phase-form-template" type="text/template">
            {% include "euth_dashboard/includes/phase_form.html" with form=form.phases.empty_form %}
            </script>

            {% for form in form.phases %}
            {% include "euth_dashboard/includes/phase_form.html" with form=form %}
            {% endfor %}

            {% next form.phases forloop.counter0 as next_element %}
            {% if not form.instance.type == 'euth_offlinephases:000:offline' and not next_element.instance.type == 'euth_offlinephases:000:offline' %}
            <a class="add-offline-phase btn btn-gray btn-primary btn-sm" href="">
                <i class="fa fa-plus"></i> {% trans 'add offline phase'%}
            </a>
            {% endif %}
        </div>
    </div>
</article>
