{% load i18n widget_tweaks %}
<article id="information" class="tab-panel {% if not view.project.active_phase %} active {% endif %}">
    <h3 class="tab-panel-title">{% trans "info" %}</h3>
    {% for error in form.project.non_field_errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}

    {% for field in form.project %}
        {% if not field == form.project.result %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label>{{ field.label }}</label>
            <p class='form-help-text'>{{ field.help_text }}</p>
            {% render_field field class="form-control" %}
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
</article>
