{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n widget_tweaks %}

{% block title %}{% trans "Settings" %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_content %}
<div class="general-form dashboard-content row">
    <div class="col-md-8 offset-md-2">
        <h1 class="dashboard-content-heading">{% trans "Edit your organisation details" %}</h1>
    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}

        {{ form.media }}
        {{ form.non_field_errors }}

        {% for field in form.untranslated %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{field.id_for_label}}">{{ field.label }}</label>
            {% if field.help_text %}
            <p><i>{{ field.help_text }}</i></p>
            {% endif %}
            {% render_field field class="form-control" %}
            {% for error in field.errors %}
            <span class="form-text">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="language-switch-list"
             id="language-switch-list"
             data-euth-widget="language-switch"
             data-languages="{{ form.languages|join:' ' }}"
             data-active-languages="{{ form.prefilled_languages|join:' ' }}"
        ></div>

        {% for lang_code, fields in form.translated %}
        <div class="language-switch-panel {% if lang_code == form.get_initial_active_tab %}active{% endif %}" id="{{ lang_code }}_language_panel">
            {% for field in fields %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{field.id_for_label}}">{{ field.label }}</label>
                {% if field.help_text %}
                <p><i>{{ field.help_text }}</i></p>
                {% endif %}
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                <span class="form-text">{{ error }}</span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        <button type="submit" name="publish" class="btn btn-sm btn-primary">{% trans 'save changes' %}</button>

    </form>
    </div>
</div>
{% endblock %}
