{% extends "base.html" %}
{% load i18n static thumbnail %}

{% block title %}{{ organisation.name }} {% trans 'on Opin.me' %}{% endblock %}
{% block content %}
<header class="herounit" style="{% if organisation.image %} background-image: url({{ organisation.image|thumbnail_url:'heroimage'}});{% endif %}">
    <div class="container">
        <div class="container-narrow">
            <div class="herounit-header">
                {% if organisation.has_social_share %}
                <ul class="herounit-links">
                  {% if organisation.facebook_handle  %}
                  <li><a href="https://www.facebook.com/{{ organisation.facebook_handle }}"><i class="fab fa-facebook-f"></i></a></li>
                  {% endif %}
                  {% if organisation.twitter_handle %}
                  <li><a href="https://twitter.com/{{ organisation.twitter_handle }}"><i class="fab fa-twitter"></i></a></li>
                  {% endif %}
                  {% if organisation.instagram_handle %}
                  <li><a href="https://www.instagram.com/{{ organisation.instagram_handle }}"><i class="fab fa-instagram"></i></a></li>
                  {% endif %}
                  {% if organisation.webpage %}<li><a href="{{ organisation.webpage }}"><i class="fa fa-link"></i></a></li>
                  {% endif %}
                </ul>
                {% endif %}
                <div class="herounit-logo herounit-logo-lg">
                    {% if organisation.logo %}
                    <img alt="{{ organisation.name }} logo" src="{{ organisation.logo|thumbnail_url:'org_avatar_medium' }}">
                    {% else %}
                    <img alt="opin logo" src="{% static "images/logo.png" %}">
                    {% endif %}
                </div>
                <h1 class="herounit-title">{{ organisation.name }}</h1>
                <p class="herounit-location"><i class="fas fa-map-marker-alt"></i>  {{organisation.place}}, {{organisation.country.name}}</p>
            </div>
        </div>
    </div>
</header>
<div class="accordion">
    <div class="container">
        <div class="container-narrow">
            <h2 class="accordion-title" id="organisation-title">
                <a class="accordion-link collapsed" role="button" data-toggle="collapse" href="#organisation-panel" aria-expanded="false" aria-controls="organisation-panel">
                    {% trans "More info about" %} {{ organisation.name }}
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
            </h2>

            <div class="card card-default card-collapse collapse" id="organisation-panel" role="tabpanel" aria-labelledby="organisation-title" aria-expanded="false">
                <div class="card-body">
                    <h4>
                        {% trans "Why are we part of OPIN" %}
                    </h4>
                    <div class="rich-text">{{ organisation.description_why | linebreaks }}</div>

                    <h4>
                        {% trans "How will we use OPIN" %}
                    </h4>
                    <div class="rich-text">{{ organisation.description_how  | linebreaks }}</div>

                    <h4>{% trans "More info about the organisation" %}</h4>
                    <div class="org-description">
                        {{ organisation.description | linebreaks }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container org-page">
    <div class="filter-bar">
        {% for field in view.filter.form %}
            {% if field.name != 'ordering' %}
                {{ field }}
            {% endif %}
        {% endfor %}
    </div>
    <section class=" block-inner page-body {% if organisation.project_set.all %} org-projects {% endif %}">
        {% if not organisation.project_set.all %}
        {% trans 'No projects found' %}
        {% else %}
        <div class="projects-grid">
        {% for project in project_list %}
            <div class="org-project-tile">
                {% include "euth_projects/includes/project_tile.html" with project=project %}
            </div>
        {% endfor %}
        </div>
        {% endif %}
    </section>
</div>
{% endblock %}
