{% extends "base.html" %}
{% load i18n staticfiles %}
{% block content %}
<header class="org-header" style="{% if organisation.background %} background-image: url({{ organisation.background.url }});{% endif %}">
  {% if organisation.logo %}
  <img alt="{{ organisation.name }} logo" class="org-logo" src="{{ organisation.logo.url }}">
  {% else %}
  <img alt="opin logo" class="org-logo" src="{% static "images/logo.png" %}">
  {% endif %}
</header>
<div class="container org-page">
<div class="container-narrow">
<div class="accordion-block">
  <h2>{{ organisation.name }}</h2>
  <div class="panel panel-default">
    <h3 id="heading-why" class="accordion-title">
      <a class="accordion-link collapsed" role="button" data-toggle="collapse" href="#why" aria-expanded="false" aria-controls="why">
        {% trans "Why are we part of OPIN" %}
      </a>
    </h3>
    <div id="why" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-why" aria-expanded="false">
      <div class="panel-body">
        <div class="rich-text">{{ organisation.description_why | linebreaks }}</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <h3 id="heading-how" class="accordion-title">
      <a class="accordion-link collapsed" role="button" data-toggle="collapse" href="#how" aria-expanded="false" aria-controls="how">
        {% trans "How will we use OPIN" %}
      </a>
    </h3>
    <div id="how" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-how" aria-expanded="false">
      <div class="panel-body">
        <div class="rich-text">{{ organisation.description_how  | linebreaks }}</div>
      </div>
    </div>
  </div>
  </div>
  <div class="org-description">
    {{ organisation.description | linebreaks }}
  </div>
  <article>
    <h3>{% trans "projects" %}</h3>
    <ul>
      <li>Process 1</li>
      <li>Process 2</li>
      <li>Process 3</li>
    </ul>
</article>
  </div>

</div>
{% endblock %}
