.general-form {
    @include rem(margin-bottom, 40px);

    label {
        @include rem(font-size, 14px);
        @include rem(height, 19px);
        font-weight: bold;
        font-family: $font-family-sans-serif;
        @include rem(letter-spacing, -0.2px);
        color: $black;
    }

    textarea {
        min-height: 6rem;
        padding: ($padding-large-vertical * 2) 12px;
    }

    .input-group-btn .btn,
    .form-control {
        @include rem(height, 76px);
        border-radius: 0;
    }

    .errorlist {
        @include rem(margin-top, 20px);
    }
}

.form-help-text {
    font-style: italic;
}

.form-control {
    &,
    &:focus {
        background: transparent;
        box-shadow: none;
    }
}

.flatpickr-input[readonly] {
    background-color: #fff;
}
