//questionorms

.questionform__label {
    width: 100%;
    margin-bottom: 1em;
}

.questionform__textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 1em;
}

.questionform__append {
    padding-top: 1em;
    border-top: solid 1px lightgrey;
}

.questionform {
    position: relative;
}

.questionform__actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.questionform__content--border {
    padding-top: 2em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    border-top: solid 1px lightgrey;
}
