{% extends "base.html" %}
{% load i18n thumbnail %}

{% block meta_viewport %}{% endblock %}

{% block content %}
<div class="container">
    <div class="dashboard dashboard-bright row">
        <div class="col-md-3">
            <div class="dashboard-nav">
                <div class="dashboard-nav-group">
                    {% include 'euth_dashboard/includes/dropdown.html' with logo=request.user.avatar title=request.user.username other_orgs=view.other_organisations_of_user %}
                    <div class="list-group">
                        {% url 'dashboard-profile' as dashboard_profile %}
                        <a href="{{ dashboard_profile }}"
                           class="list-group-item list-group-item-heading {% if view.kwargs.dashboard_menu_item == 'profile' %}selected{% endif %}">
                            <i class="fa fa-user" aria-hidden="true"></i> <span>{% trans 'Profile' %}</span>
                        </a>
                        {% url 'dashboard-email' as dashboard_email %}
                        <a href="{{ dashboard_email }}"
                           class="list-group-item list-group-item-heading {% if view.kwargs.dashboard_menu_item == 'email' %}selected{% endif %}">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>{% trans 'E-mail Addresses' %}</span>
                        </a>
                        {% url 'dashboard-connections' as dashboard_connections %}
                        <a href="{{ dashboard_connections }}"
                           class="list-group-item list-group-item-heading {% if view.kwargs.dashboard_menu_item == 'connections' %}selected{% endif %}">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span>{% trans 'Account Connections' %}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="dashboard-content">
                {% block dashboard_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
