{% extends "base.html" %}
{% load i18n dashboard_templatetags %}


{% block content %}
<div class="container-narrow">
    <div class="dashboard row">
        <div class="col-md-3">
            <div class="dashboard-nav">
                <div class="list-group">
                    {% url 'dashboard-overview' as dashboard_overview %}
                    <a href="{{ dashboard_overview }}" class="list-group-item">
                        <h4 class="list-group-item-heading {% selected request dashboard_overview %}">
                            <i class="fa fa-home" aria-hidden="true"></i> {% trans 'Overview' %}
                        </h4>
                    </a>
                    <!--<a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <i class="fa fa-rocket" aria-hidden="true"></i> Organisations
                        </h4>
                    </a>
                    -->
                    {% url 'dashboard-project-list' as dashboard_project_list %}
                    <a href="{{dashboard_project_list}}" class="list-group-item">
                        <h4 class="list-group-item-heading {% selected request dashboard_project_list %}">
                            <i class="fa fa-clone" aria-hidden="true"></i> {% trans 'Projects' %}
                        </h4>
                    </a>
                    <!--
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <i class="fa fa-check" aria-hidden="true"></i> Moderation
                        </h4>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <i class="fa fa-users" aria-hidden="true"></i> Users
                        </h4>
                    </a>-->
                    {% url 'dashboard-profile' as dashboard_profile %}
                    <a href="{{ dashboard_profile }}" class="list-group-item">
                        <h4 class="list-group-item-heading {% selected request dashboard_profile %}">
                            <i class="fa fa-user" aria-hidden="true"></i> {% trans 'Profile' %}
                        </h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="dashboard-content">
                {% block dashboard_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
