{% load thumbnail avatar project_tags i18n rules static %}

<div class="dropdown">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        {% if is_user %}
            <span class="circled"
                  style="background-image: url({% get_avatar request.user 'avatar_small' %});"></span>
        {% endif %}
        <span class="dropdown-title text-light">{{ title }}</span>
        {% if orgs %}
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        {% endif %}
    </button>
    {% if orgs %}
        <ul class="dropdown-menu" aria-labelledby="dLabel">
            {% for organisation in orgs %}
                <li class="dropdown-item">
                    <a href="{% url 'a4dashboard:project-list' organisation_slug=organisation.slug %}">{{ organisation.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
