{% extends "euth_dashboard/base_dashboard.html" %}
{% load widget_tweaks i18n %}

{% block dashboard_content %}
<h1>{% trans 'Profile' %}</h1>

<div class="general-form">
    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
            {% csrf_token %}
            {{ form.media }}
            <div class="form-group {% if form.avatar.errors %}has-error {% endif %}">
                <label>{{ form.avatar.label }}</label>
                {{ form.avatar }}
                {{ form.avatar.errors }}
            </div>
            <div class="form-group {% if form.email.errors %}has-error {% endif %}">
                <label>{{ form.email.label }}</label>
                {{ form.email|add_class:"form-control" }}
                {{ form.email.errors }}
            </div>
            <button type="submit" class="submit-button">{% trans 'post'%}</button>
            {% if mode == 'create' %}
            <a href="{% url 'project-detail' project.slug %}" class="cancel-button">{% trans 'cancel'%}</a>
            {% elif mode == 'update' %}
            <a href="{% url 'idea-detail' idea.slug %}" class="cancel-button">{% trans 'cancel'%}</a>
            {% endif %}
    </form>
</div>
{% endblock %}
