{% extends "euth_dashboard/base_organisation.html" %}
{% load static widget_tweaks i18n form_tags flashpoll_form_tags %}
{% block dashboard_content %}
<h1 class="black-divider dashboard-title dashboard-title-no-margin">{{ heading }} {% if view.blueprint %}{{ view.blueprint.title }}{% endif %}</h1>

<div class="general-form dashboard-tabbed-form">
    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">

        {% if form.is_bound and not form.is_valid %}
        <div class="errorbar">
            {% trans 'Unable to submit form. Please fix the errors.' %}
        </div>
        {% endif %}

        {% csrf_token %}

        {% include 'euth_dashboard/includes/project_form_tabs.html' with form=form view=view %}

        {% include 'euth_dashboard/includes/project_form_information_tab.html' with form=form view=view %}

        {% if module_settings == "euth_flashpoll" %}
            {% include 'euth_flashpoll/includes/project_form_participation_flashpoll_tab.html' with form=form view=view %}
            {% include 'euth_flashpoll/includes/project_form_result_flashpoll_tab.html' with form=form view=view %}
        {% else %}
            {% include 'euth_dashboard/includes/project_form_participation_tab.html' with form=form view=view %}
            {% include 'euth_dashboard/includes/project_form_result_tab.html' with form=form view=view %}
        {% endif %}

        {% if not project or project.is_draft %}
        <button type="submit" name="save_draft" class="btn btn-sm btn-primary">{% trans 'save draft' %}</button>
        {% else %}
        <button type="submit" name="save_draft" class="btn btn-sm btn-default">{% trans 'unpublish' %}</button>
        {% endif %}
        <button type="submit" name="publish" class="btn btn-sm btn-primary">{% trans 'save and publish' %}</button>
        {% if module_settings == "euth_flashpoll" %}
            {% with poll=form.module_settings.poll.value|get_poll_from_string %}
            {% if project.pk != None and poll.preview == False %}
            <button type="button" class="btn btn-sm btn-danger"  data-toggle="modal" data-target="#deleteModal">delete</button>
            {% endif %}
            {% endwith %}
        {% else %}
            {% if project.pk != None %}
            <button type="button" class="btn btn-sm btn-danger"  data-toggle="modal" data-target="#deleteModal">delete</button>
            {% endif %}
        {% endif %}
        {% if project.is_archivable %}
          <button type="submit" name="archive" class="btn btn-sm btn-primary">{% trans 'archive' %}</button>
        {% endif %}

    </form>
</div>

{% url 'dashboard-project-delete' project.slug as delete_view_url %}
{% include 'includes/delete_modal.html' with name=project.name delete_action=delete_view_url %}

{% endblock %}

{% block extra_css %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ block.super }}
{{ form.media.js }}
<script type="text/javascript" src="{% static 'add_offline_phase/add_offline_phase.js' %}"></script>
{% endblock %}
