{% extends "euth_dashboard/base_dashboard.html" %}
{% load widget_tweaks i18n %}

{% block dashboard_content %}
<h1 class="black-divider dashboard-title">{{ heading }} {% if view.blueprint %}{{ view.blueprint.title }}{% endif %}</h1>

<div class="general-form">
    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}

        {% include 'euth_dashboard/includes/project_form_tabs.html' with form=form %}

        {% include 'euth_dashboard/includes/project_form_information_tab.html' with form=form %}

        {% include 'euth_dashboard/includes/project_form_participation_tab.html' with form=form %}

        {% include 'euth_dashboard/includes/project_form_result_tab.html' with form=form %}

        {% if not project or project.is_draft %}
        <button type="submit" name="save_draft" class="submit-button">{% trans 'save draft' %}</button>
        {% else %}
        <button type="submit" name="save_draft" class="submit-button">{% trans 'unpublish' %}</button>
        {% endif %}
        <button type="submit" name="publish" class="submit-button">{% trans 'save and publish' %}</button>
        {% if project.pk != None %}
        <button type="button" class="danger-button"  data-toggle="modal" data-target="#deleteModal">delete</button>
        {% endif %}

        {{ form.media }}
    </form>
</div>

{% url 'dashboard-project-delete' view.organisation.slug project.slug as delete_view_url %}
{% include 'includes/delete_modal.html' with name=project.name delete_action=delete_view_url %}

{% endblock %}
