.button {
    @include rem(border-radius, 25px);
    @include rem(font-size, $font-size-large);
    @include rem(padding, 0 30px);
    background: $brand-brand2;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 50px;
    text-transform: uppercase;

    &:focus, &:hover {
        background: darken($brand-brand2, 10%);
        color: #fff;
        text-decoration: none;
    }

    &.button-alt {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;

        &:focus, &:hover {
            background: #fff;
            color: #000;
        }
    }
}

.feedback-button {
    @extend .button;
    @include rem(border-radius, 0 0 25px 25px);
    @include rem(margin-top, $navbar-height);
    @include rotate(90);
    border: 2px solid #fff;
    border-width: 0 2px 2px 2px;
    position: fixed;
    background: $brand-brand1;
    right: 0;
    transform-origin: 100% 0;
    top: 40%;
    z-index: 100;

    @media (max-width: $screen-sm-min) {
        display: none;
    }
}

.logout-button-form {

    & .btn {
        background-color: transparent;
        padding: 0px;
        text-transform: uppercase;
        font-weight: bold;

        &:active {
            background-color: transparent;
            box-shadow: none;
        }

        &:focus, &:hover {
            outline: none;
        }
    }

}
