button {
    border: 0;
    background: transparent;
    appearance: none;
}

.button {
    @include rem(border-radius, 25px);
    @include rem(font-size, $font-size-medium);
    @include rem(padding, 10px 20px);
    background: $brand-brand2;
    color: $gray-darker;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;

    transition: color 0.2s, background 0.2s;

    &:focus,
    &:hover {
        background: darken($brand-brand2, 10%);
        color: $gray-darker;
        text-decoration: none;
    }

    &.button-alt {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;

        &:focus,
        &:hover {
            background: #fff;
            color: #000;
        }
    }
}

.btn {
    @include rem(padding, 10px 20px);
    border: 0;
    font-weight: bold;
    transition: color 0.2s, background 0.2s;
}

.btn-sm {
    @include rem(padding, 7px 15px);
}

.btn-hover-primary {
    @include button-hover-text($brand-primary);
}

.btn-hover-danger {
    @include button-hover-text($brand-danger);
}

.btn-hover-success {
    @include button-hover-text($brand-success);
}


.btn-dark {
    background-color: $gray-dark;

    &:hover,
    &:focus {
        color: $gray-light;
        background-color: $gray-darker;
    }
}

.btn-dark-blue {
    background-color: $brand-brand5;
    color: #fff;

    &:hover,
    &:focus {
        color: $gray-light;
        background-color: darken($brand-brand5, 10);
    }
}

.btn-round-hero {
    border-radius: 25px;

    @media (min-width: $screen-sm) {
        margin-top: 22px;
    }
}

.btn-round-hero-image {
    border-radius: 25px;

    @media (min-width: $screen-sm) {
        margin-top: 3rem;
    }
}

span.btn-dark:hover,
span.btn-dark:focus {
    background-color: $black;
    color: #fff;
}

.btn-gray {
    background-color: $gray-lighter;
    color: $gray-darker;
    @include rem(font-size, 12px);

    &.btn-primary i {
        color: $gray-darker;
    }

    &:hover,
    &:focus {
        color: $list-group-link-hover-color;
        background-color: $list-group-hover-bg;
    }
}

.btn-ghost {
    border: 1px solid currentColor;
    background: transparent;
    @include rem(padding, 10px);

    &.btn-primary {
        color: $brand-primary;

        &:hover,
        &:focus,
        &:active {
            background: transparent;
            color: darken($brand-primary, 20%)
        }
    }
}

.button-white {
    border-radius: 25px;
    background-color: #fff;
    color: $brand-brand1;
    @include rem(font-size, $font-size-small);

    .fa-link {
        margin-right: 10px;
    }

    &:hover,
    &:focus {
        background-color: #f4f4f4;
        color: darken($brand-brand1, 10%);
    }
}

.feedback-button {
    @extend .button;
    @include rem(border-radius, 0 0 25px 25px);
    @include rem(margin-top, $navbar-height);
    @include rotate(90);
    border: 2px solid #fff;
    border-width: 0 2px 2px 2px;
    position: fixed;
    background: $brand-brand1;
    color: #fff;
    right: 0;
    transform-origin: 100% 0;
    top: 40%;
    z-index: 401;

    &:hover,
    &:focus {
        background-color: darken($brand-brand1, 10%);
        color: $gray-lighter;
    }

    @media (max-width: $screen-sm-min) {
        display: none;
    }
}

.base-button {
    border-radius: 0;
    @include rem(padding, 14px 57px 14px 57px);
    @include rem(font-size, 12px);
    @include rem(letter-spacing, -0.2px);
    font-weight: bold;
    font-family: $font-family-sans-serif;
}

.submit-button {
    @include rem(font-size, $font-size-base);
    @extend .btn;
    @extend .btn-primary;
    @extend .base-button;
    background-color: $brand-brand1;
    padding: 10px 20px
}

.cancel-button {
    @extend .btn;
    @extend .base-button;
    border: none;
    background-color: transparent;
    color: $black;

    &:focus,
    &:hover,
    &:active,
    &:visited {
        background-color: transparent;
        box-shadow: none;
    }
}

.button-row {
    @media (max-width: $screen-xs) {
        a,
        button {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    @media (min-width: $screen-xs) {
        .col-xs-6 {
            width: auto;
        }
    }
}


.btngroup {
    display: inline-block;
    overflow: hidden;

    > :first-child {
        margin-left: 0;
    }

    > * {
        @include rem(margin-left, 1px);
        float: left;
    }

    > span {
        cursor: default;
    }
}

.btngroup-gray {
    background-color: $gray;
}

.btngroup-primary {
    background-color: $brand-brand1;
}

.btn-primary:disabled {
    background-color: $gray-lighter;
    color: $gray-darker;

    &:focus,
    &:hover,
    &:active,
    &:visited {
        background-color: $gray-lighter;
        color: $gray-darker;
    }
}

.btn-wide {
    width: 100%;
}

.btn--primary {
    @extend .btn-primary;
}

.btn--full {
    @extend .btn-wide;
}

.btn--light {
    @extend .btn-gray;
    @include rem(font-size, $font-size-small);
}

.btn--attached-top {
    margin-bottom: 10px;
}
