@font-face {
    font-family: 'helsinki';
    src: url('../fonts/helsinki-webfont.eot');
    src: url('../fonts/helsinki-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helsinki-webfont.woff') format('woff'),
         url('../fonts/helsinki-webfont.ttf') format('truetype'),
         url('../fonts/helsinki-webfont.svg#helsinkiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
