.euth-hero-unit {
    @include rem(padding-bottom, 40px);
    background-size: cover;
    text-align: center;
    min-height: 340px;
    position: relative;

    &:before {
        background: rgba(0,0,0,0.5);
        content: '\A';
        left: 0;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.euth-hero-unit-logo {
    @include rem(padding, 60px 0);
    display: block;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $screen-sm-min) {
        @include rem(padding, 20px);
        max-width: 100%;
    }
}

.euth-hero-unit-header {
    @include rem(padding-top, 53px);
    color: #fff;

    .m-dark-text {
        color: #000;
    }

    h1 {
        @extend .euth-hero-unit-title;
    }

    p {
        @extend .euth-hero-unit-description;
    }

    .button {
        @include rem(margin-top, 13px);
        // background-color: $brand-brand1;
    }
}

.euth-hero-unit-title {
    @include rem(font-size, $font-size-xlarge);
    @include rem(margin, 0 0 20px);
    letter-spacing: 3px;
}

.euth-hero-unit-description {
    @include rem(padding, 0 70px);
    line-height: 1.63;
    margin-bottom: 0;
}
