%tile {
    @include rem(margin, 0 13px 13px 0);
    border: 1px solid $gray-lighter;
    overflow: hidden;
    text-align: left;
}

%tile-title {
    @include rem(font-size, 18px);
    @include rem(margin, 0 0 2px);
    line-height: 1.33333333;
}

%tile-teaser-text {
    @include rem(font-size, 14px);
    line-height: 1.571428571;
    margin-bottom: 0;
}

.tile-list {
    @extend %tile;
    @include rem(padding, 14px 18px);
    margin-right: 0;
    position: relative;
}

.tile-image-link {
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
}
