%tile {
    @include rem(margin, 0 13px 13px 0);
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
}

%tile-title {
    @include rem(font-size, $font-size-large);
    @include rem(margin, 0 0 10px);
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.4;
    text-align: left;
}

%tile-teaser-text {
    @include rem(font-size, $font-size-small);
    @include rem(margin-bottom, 10px);
    line-height: 1.571428571;
    margin-bottom: 0;
}

%tile-org {
    @include rem(font-size, $font-size-small);
    @include rem(margin, 25px 0 0);
    font-weight: bold;
    line-height: 30px;

    img.project-tile-org-avatar {
        @include rem(margin-right, 9px);
        float: left;
        width: auto;
    }
}

%tile-location {
    @include rem(margin-bottom, 10px);
    font-size: $font-size-small;
    display: block;
    text-align: center;
}

.tile-list {
    @extend %tile;
    @include rem(padding, 14px 18px);
    margin-right: 0;
    position: relative;
}

.tile-image-link {
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
}
