#tile-grid[data-columns]::before {
    content: '3 .tile-container.size-1of3';
}

.tile-container {
    float: left;
}

.tile {
    @include rem(margin, 0 13px 13px 0);
    border: 1px solid $gray-lighter;
    text-align: left;

    img {
        margin: 0;
    }

    &.style-idea-collection {
        .tile-image-link {
            background-color: $brand-brand1;
        }

        .tile-title {
            color: $brand-brand1;
        }
    }

    &.style-commenting-text {
        .tile-image-link {
            background-color: $brand-brand3;
        }

        .tile-title {
            color: $brand-brand3;
        }
    }

    &.style-mobile-polling {
        .tile-image-link {
            background-color: $brand-brand4;
        }

        .tile-title {
            color: $brand-brand4;
        }
    }
}

.tile-body {
    @include rem(padding, 16px);
    border-top: 1px solid $gray-lighter;
}

.tile-type {
    @include rem(font-size, $font-size-small);
    @include rem(margin, 0 0 5px);
    font-style: italic;
    font-weight: bold;
}

.tile-title {
    @include rem(font-size, 18px);
    @include rem(margin, 0 0 2px);
    line-height: 1.33333333;
}

.tile-teaser {
    @include rem(font-size, 14px);
    line-height: 1.571428571;
    margin-bottom: 0;
}

.tile-image {
    visibility: hidden;
}

.tile-image-link {
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: block;
}

.tile-org {
    @include rem(margin-top, 19px);
    @include rem(padding-top, 18px);
    border-top: 1px solid $gray-lighter;
    overflow: hidden;

    .tile-org-image {
        @include rem(margin-right, 14px);
    }

    .tile-org-image,
    .tile-org-title {
        display: inline;
        vertical-align: middle;
    }

    .tile-org-title {
        @include rem(font-size, 16px);
        color: $gray;
        font-weight: bold;
    }
}

.size-1of4 {
    width: 25%;
}

.size-1of3 {
    width: 33.333%;
}

.size-1of2 {
    width: 50%;
}
