{% load staticfiles %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
<script src="http://uves.spline.de/react-hyperscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
<script src="{% static "comments_api/react_comments.js" %}"></script>


<div id="content"></div>
<script>
  window._opin.renderComment({{contenttype}}, {{pk}}, "content")
</script>
