{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Find the right project template' %}{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'blueprintsuggest.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" class="blueprintsuggest general-form">
            {% csrf_token %}

            <!-- Tab panes -->
            <div class="container-narrow dst-lightbox">

                <div class="tab-content">
                    {% include 'euth_blueprints/includes/step-aim.html' %}
                    {% include 'euth_blueprints/includes/step-finetuning.html' %}
                    {% include 'euth_blueprints/includes/step-feasibility.html' %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
