{% load i18n static %}
<html>
    <head>
        <title>Error | Opin.me</title>
        <link rel="stylesheet" href="{% static 'adhocracy4.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default fixed-top main-menu" id="main-menu">
            <div class="container">
                <a class="navbar-brand" href="/">Opin.me</a>
            </div>
        </nav>

        <div class="error text-center">
            <div class="error-banner">
                <div class="error-banner-header">
                    <img src="{% static 'images/error.png'%}">
                    <div class="error-banner-header-text">
                        <h1>500</h1>
                        <h2>{% trans 'Error' %}</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="error-info">
                    <p>{% trans 'Sorry, something went wrong.' %}<br>
                        {% trans 'Internal server error.'%}</p>
                    <a href="/" class="button">{% trans 'Get back to OPIN.ME' %}</a>
                </div>
            </div>
        </div>
    </body>
</html>
