{% extends "base.html" %}
{% load i18n base_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
<script type="text/javascript" src="{% settings_value "ADHOCRACY_SDK" %}"></script>
<script type="text/javascript">
    adhocracy.init('{% settings_value "ADHOCRACY_URL" %}', function(adhocracy) {
        adhocracy.embed('.adhocracy_marker_1');
        });
</script>

<div class="container">
<div class="adhocracy_marker_1" data-widget="plain" data-autoresize="false" data-autourl="true" data-locale="{{ LANGUAGE_CODE }}" style="height:500px">
</div>
</div>
{% endblock %}




