{% load base_tags compress i18n static url_translations wagtailuserbar webpack_loader %}
{% get_current_language as LANGUAGE_CODE %}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/owl.carousel.css' %}">

        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/all.scss' %}">
        {% endcompress %}
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'third-party/modernizr/modernizr-custom.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/euth_wagtail.js' %}"></script>
        <script type="text/javascript" src="{% static 'owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        {% render_bundle 'main' %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block menu %}
        {% include "includes/top_menu.html" %}
        {% endblock %}

        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
                <div class="container-narrow alert-text">
                {{ message }}
                </div>
            </div>
        {% endfor %}

        <div>
            {% block content %}{% endblock %}
        </div>

        {% block footer %}
        {% include "includes/footer.html" %}
        {% endblock %}

        {% block feedback %}
        {% include "includes/feedback_button.html" %}
        {% endblock %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
