{% load base_tags i18n static url_translations wagtailuserbar %}
{% get_current_language as LANGUAGE_CODE %}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ request.LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ request.LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ request.LANGUAGE_CODE }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ request.LANGUAGE_CODE }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}Homepage{% endblock %} | Opin.me</title>
        <meta name="description" content="" />
        {% block meta_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock %}
        <meta name="apple-mobile-web-app-title" content="Opin.me">
        <meta name="application-name" content="Opin.me">
        <meta name="theme-color" content="#ffffff">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/static/icons/manifest.json">
        <link rel="shortcut icon" href="/static/icons/favicon.ico">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <link rel="stylesheet" href="{% static 'adhocracy4.css' %}">

        {# Global javascript #}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <script type="text/javascript" src="{% static 'adhocracy4.js' %}"></script>
        <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block menu %}
        {% include "includes/top_menu.html" %}
        {% endblock %}

        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-top" {% endif %} role="alert">
                <div class="container-narrow alert-text">
                {{ message }}
                </div>
            </div>
        {% endfor %}

        {% block extra_messages %}{% endblock %}

        <div>
            {% block content %}{% endblock %}
        </div>

        {% block footer %}
        {% include "includes/footer.html" %}
        {% endblock %}


        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
